@page "/Description/{code}"
@using Newtonsoft.Json
@using CTMS.Share.Helpers
@layout EmptyLayout
@inject UploadFileService UploadFileService
@inject NavigationManager NavigationManager
@inject ExcleService ExcleService

@inject NavigationManager NavigationManager
@inject CurrentUserService CurrentUserService
@inject AuthenticationStateHelper AuthenticationStateHelper
@inject AuthenticationStateProvider authStateProvider

<PageTitle>主頁</PageTitle>

@if (string.IsNullOrEmpty(RoleMessage) == false)
{
    <div class="alert alert-danger" role="alert">
        @RoleMessage
    </div>
}
else
{
    <div>
        <div class="page-top">
            <button class="back-btn" @onclick=OnBack>&lt; 上頁</button>
            <span class="page-title" @onclick=OnHome>主頁</span>
            <span class="page-title ms-3" @onclick=OnDescription>說明頁</span>
            <span class="page-title ms-3" @onclick=OnSimpleSummary>報告摘要</span>
            <div class="horizontal-container">
            </div>
        </div>

        <div class="py-5 mw-100">
            <div class="header">
                <h1>說明頁</h1>
            </div>

            <div class="main-content">
                <DescriptionView />
            </div>
        </div>
    </div>
}

<MessageBox Height="@MessageBox.Height" Width="@MessageBox.Width"
            IsVisible="@MessageBox.IsVisible"
            Title="@MessageBox.Title" Message="@MessageBox.Body"
            Callback="MessageBox.MessageDelegate" />

<ConfirmBox Height="@ConfirmMessageBox.Height" Width="@ConfirmMessageBox.Width"
            IsVisible="@ConfirmMessageBox.IsVisible"
            Title="@ConfirmMessageBox.Title" Message="@ConfirmMessageBox.Body"
            Callback="ConfirmMessageBox.ConfirmDelegate" />

<DialogBackground />


@code {
    [Parameter]
    public string Code { get; set; }

    NextGenerationSportsCTMSModel CTMSModel = new();
    HomePageModel HomePageModel = new();
    string imagefile = "";

    ConfirmBoxModel ConfirmMessageBox { get; set; } = new ConfirmBoxModel();
    MessageBoxModel MessageBox { get; set; } = new MessageBoxModel();
    string RoleMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var checkResult = await AuthenticationStateHelper
    .Check(authStateProvider, NavigationManager);
        if (checkResult == true)
        {
            if (AuthenticationStateHelper.CheckAccessPage(MagicObjectHelper.ROLE主頁) == false)
            {
                RoleMessage = MagicObjectHelper.你沒有權限存取此頁面;
            }
            else
            {
                var Athlete = await UploadFileService.GetAsync(Code);
                CTMSModel = JsonConvert
                .DeserializeObject<NextGenerationSportsCTMSModel>(Athlete.ExcelData);

                var fileList = JsonConvert
                .DeserializeObject<List<FileListNodeModel>>(Athlete.FilesData);
                imagefile = FileListHelper.GetPhoto(fileList);
                // imagefile = Path.Combine(Directory.GetCurrentDirectory(), imagefile);
            }
        }

    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            HomePageModel = CTMSModel.Home首頁2;
            StateHasChanged();
        }
    }

    void OnSummary()
    {
        if (AuthenticationStateHelper.CheckAccessPage(MagicObjectHelper.ROLE報告摘要輸入) == false)
        {
            var checkTask = ConfirmMessageBox.ShowAsync("400px", "200px", "警告",
                 MagicObjectHelper.你沒有權限存取此頁面, ConfirmMessageBox.HiddenAsync);
            return;
        }
        NavigationManager.NavigateTo($"/SummaryPage/{Code}");
    }

    void OnBack()
    {
        NavigationManager.NavigateTo("/");
    }

    void OnHome()
    {
        if (AuthenticationStateHelper.CheckAccessPage(MagicObjectHelper.ROLE主頁) == false)
        {
            var checkTask = ConfirmMessageBox.ShowAsync("400px", "200px", "警告",
                 MagicObjectHelper.你沒有權限存取此頁面, ConfirmMessageBox.HiddenAsync);
            return;
        }
        NavigationManager.NavigateTo($"/DashboardHome/{Code}", replace: true);
    }

    void OnSimpleSummary()
    {
        if (AuthenticationStateHelper.CheckAccessPage(MagicObjectHelper.ROLE主頁) == false)
        {
            var checkTask = ConfirmMessageBox.ShowAsync("400px", "200px", "警告",
                 MagicObjectHelper.你沒有權限存取此頁面, ConfirmMessageBox.HiddenAsync);
            return;
        }
        NavigationManager.NavigateTo($"/OnSimpleSummary/{Code}", replace: true);
    }

    void OnDescription()
    {
        if (AuthenticationStateHelper.CheckAccessPage(MagicObjectHelper.ROLE主頁) == false)
        {
            var checkTask = ConfirmMessageBox.ShowAsync("400px", "200px", "警告",
                 MagicObjectHelper.你沒有權限存取此頁面, ConfirmMessageBox.HiddenAsync);
            return;
        }
        NavigationManager.NavigateTo($"/Description/{Code}", replace: true);
    }
}