@page "/DashboardHome/{code}"
@using Newtonsoft.Json
@using CTMS.Share.Helpers
@layout EmptyLayout
@inject UploadFileService UploadFileService
@inject NavigationManager NavigationManager
@inject ExcleService ExcleService

@inject NavigationManager NavigationManager
@inject CurrentUserService CurrentUserService
@inject AuthenticationStateHelper AuthenticationStateHelper
@inject AuthenticationStateProvider authStateProvider
@inject BrowseAthleteService BrowseAthleteService
@inject CurrentAthleteExamine CurrentAthleteExamine

<PageTitle>主頁</PageTitle>

@if (string.IsNullOrEmpty(RoleMessage) == false)
{
    <div class="alert alert-danger" role="alert">
        @RoleMessage
    </div>
}
else
{
    <div>
        <div class="page-top">
            <button class="back-btn" @onclick=OnBack>&lt; 上頁</button>
            <span class="page-title" @onclick=OnHome>主頁</span>
            <span class="page-title ms-3" @onclick=OnDescription>說明頁</span>
            <span class="page-title ms-3" @onclick=OnSimpleSummary>報告摘要</span>
            <div class="horizontal-container">
                @* <button @onclick=OnSummaryEditor>輸入摘要報告</button> *@
                <button @onclick=OnUpload>Reload</button>
            </div>
        </div>

        <div class="py-5 mw-100">
            <div class="container-custom">
                <div class="header">
                    <h1>
                        主頁
                        @foreach (var item in CurrentAthleteExamine.ExamineList)
                        {
                            string selected = "";
                            if (item == CurrentAthleteExamine.ExamineTime)
                            {
                                selected = "btn-primary fw-bolder";
                            }
                            else
                            {
                                selected = "btn-outline-primary";
                            }
                            <span class="mx-3 btn @selected"
                                  @onclick="async () => await OnChangeExamineAsync(item)">@item</span>
                        }
                    </h1>
                </div>
                <div class="main-content">
                    <div class="left-panel">
                        <div class="box">運動類別<br />@HomePageModel.運動類別</div>
                        <div class="box">擔任位置<br />@HomePageModel.擔任位置</div>
                        <div class="box">所屬隊伍<br />@HomePageModel.所屬隊伍</div>
                    </div>
                    <div class="middle-panel">
                        <div>
                            <img src="@imagefile"
                                 alt="Avatar" class="avatar">
                        </div>
                    </div>
                    <div class="right-panel">
                        <table class="info-table">
                            <tr><td class="cell-title-name">姓名</td><td>@HomePageModel.姓名</td></tr>
                            <tr><td class="cell-title-name">性別</td><td>@HomePageModel.性別</td></tr>
                            <tr><td class="cell-title-name">年齡</td><td>@HomePageModel.真實年齡</td></tr>
                            <tr><td class="cell-title-name">身高</td><td>@HomePageModel.身高<span>公分</span></td></tr>
                            <tr><td class="cell-title-name">體重</td><td>@HomePageModel.體重<span>公斤</span></td></tr>
                            <tr><td class="cell-title-name">BMI</td><td>@HomePageModel.BMI</td></tr>
                        </table>
                    </div>
                </div>

                <div class="foot-container">
                    <div class="top-row">
                        <button class="tab" @onclick="OnMotionAnalysis">動作能力</button>
                        <button class="tab" @onclick=OnCardiopulmonary>心肺功能</button>
                        <button class="tab" @onclick=OnMentalToughness>心理韌性</button>
                        <button class="tab" @onclick=OnBody>身體組成</button>
                        <button class="tab" @onclick=OnGenomics>基因體分析</button>
                        <button class="tab" @onclick=OnMetabolite>代謝體分析</button>
                        <button class="tab" @onclick=OnBlood>抽血檢驗</button>
                        <button class="tab" @onclick=OnRecommendation>綜合評估建議</button>
                    </div>
                    <div class="bottom-row">數位健康運動管理平台</div>
                </div>

                @* 
            <div class="footer m-auto">
                <div class="buttons">
                    <button @onclick="OnMotionAnalysis">動作能力</button>
                    <button @onclick=OnCardiopulmonary>心肺功能</button>
                    <button @onclick=OnBody>身體組成</button>
                    <button @onclick=OnGenomics>基因體分析</button>
                    <button>代謝體分析</button>
                    <button>運動能力</button>
                    <button @onclick=OnBlood>抽血檢驗</button>
                    <button @onclick=OnRecommendation>綜合評估建議</button>
                </div>
                <div class="platform-title m-0">數位健康運動管理平台</div>
            </div>
 *@        </div>
        </div>
    </div>
}

<MessageBox Height="@MessageBox.Height" Width="@MessageBox.Width"
            IsVisible="@MessageBox.IsVisible"
            Title="@MessageBox.Title" Message="@MessageBox.Body"
            Callback="MessageBox.MessageDelegate" />

<ConfirmBox Height="@ConfirmMessageBox.Height" Width="@ConfirmMessageBox.Width"
            IsVisible="@ConfirmMessageBox.IsVisible"
            Title="@ConfirmMessageBox.Title" Message="@ConfirmMessageBox.Body"
            Callback="ConfirmMessageBox.ConfirmDelegate" />

<DialogBackground />


@code {
    [Parameter]
    public string Code { get; set; }

    HomePageModel HomePageModel = new();
    string imagefile = "";

    ConfirmBoxModel ConfirmMessageBox { get; set; } = new ConfirmBoxModel();
    MessageBoxModel MessageBox { get; set; } = new MessageBoxModel();
    string RoleMessage = string.Empty;

    Athlete Athlete = new();
    NextGenerationSportsCTMSModel CTMSModel = new();
    List<FileListNodeModel> fileList = new List<FileListNodeModel>();


    protected override async Task OnInitializedAsync()
    {
        var checkResult = await AuthenticationStateHelper
    .Check(authStateProvider, NavigationManager);
        if (checkResult == true)
        {
            if (AuthenticationStateHelper.CheckAccessPage(MagicObjectHelper.ROLE主頁) == false)
            {
                RoleMessage = MagicObjectHelper.你沒有權限存取此頁面;
            }
            else
            {
                Athlete = await BrowseAthleteService.GetByCodeAsync(Code, CurrentAthleteExamine);
                (CTMSModel, var fileList) = await BrowseAthleteService
                .GetCurrentDataAsync(Athlete, CurrentAthleteExamine);

                imagefile = FileListHelper.GetPhoto(fileList);
                // imagefile = Path.Combine(Directory.GetCurrentDirectory(), imagefile);
            }
        }

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
        }

        Athlete = await BrowseAthleteService.GetByCodeAsync(Code, CurrentAthleteExamine);
        (CTMSModel, var fileList) = await BrowseAthleteService
        .GetCurrentDataAsync(Athlete, CurrentAthleteExamine);

        imagefile = FileListHelper.GetPhoto(fileList);
        HomePageModel = CTMSModel.Home首頁2;
        StateHasChanged();
    }

    async Task OnChangeExamineAsync(string examineTime)
    {
        (CTMSModel, var fileList) = await BrowseAthleteService
        .ChangeCurrentDataAsync(Athlete, CurrentAthleteExamine, examineTime);

        HomePageModel = CTMSModel.Home首頁2;
        StateHasChanged();
    }

    void OnSummaryEditor()
    {
        if (AuthenticationStateHelper.CheckAccessPage(MagicObjectHelper.ROLE報告摘要輸入) == false)
        {
            var checkTask = ConfirmMessageBox.ShowAsync("400px", "200px", "警告",
                 MagicObjectHelper.你沒有權限存取此頁面, ConfirmMessageBox.HiddenAsync);
            return;
        }
        NavigationManager.NavigateTo($"/SummaryPage/{Code}");
    }

    void OnBack()
    {
        NavigationManager.NavigateTo("/");
    }

    void OnBody()
    {
        if (AuthenticationStateHelper.CheckAccessPage(MagicObjectHelper.ROLE身體組成) == false)
        {
            var checkTask = ConfirmMessageBox.ShowAsync("400px", "200px", "警告",
                 MagicObjectHelper.你沒有權限存取此頁面, ConfirmMessageBox.HiddenAsync);
            return;
        }
        NavigationManager.NavigateTo($"/Body/{Code}");
    }

    void OnHome()
    {
        if (AuthenticationStateHelper.CheckAccessPage(MagicObjectHelper.ROLE主頁) == false)
        {
            var checkTask = ConfirmMessageBox.ShowAsync("400px", "200px", "警告",
                 MagicObjectHelper.你沒有權限存取此頁面, ConfirmMessageBox.HiddenAsync);
            return;
        }
        NavigationManager.NavigateTo($"/DashboardHome/{Code}", replace: true);
    }

    void OnSimpleSummary()
    {
        if (AuthenticationStateHelper.CheckAccessPage(MagicObjectHelper.ROLE主頁) == false)
        {
            var checkTask = ConfirmMessageBox.ShowAsync("400px", "200px", "警告",
                 MagicObjectHelper.你沒有權限存取此頁面, ConfirmMessageBox.HiddenAsync);
            return;
        }
        NavigationManager.NavigateTo($"/OnSimpleSummary/{Code}", replace: true);
    }

    void OnDescription()
    {
        if (AuthenticationStateHelper.CheckAccessPage(MagicObjectHelper.ROLE主頁) == false)
        {
            var checkTask = ConfirmMessageBox.ShowAsync("400px", "200px", "警告",
                 MagicObjectHelper.你沒有權限存取此頁面, ConfirmMessageBox.HiddenAsync);
            return;
        }
        NavigationManager.NavigateTo($"/Description/{Code}", replace: true);
    }

    void OnMetabolite()
    {
        if (AuthenticationStateHelper.CheckAccessPage(MagicObjectHelper.ROLE代謝體分析) == false)
        {
            var checkTask = ConfirmMessageBox.ShowAsync("400px", "200px", "警告",
                 MagicObjectHelper.你沒有權限存取此頁面, ConfirmMessageBox.HiddenAsync);
            return;
        }
        NavigationManager.NavigateTo($"/Metabolite/{Code}");
    }

    void OnMentalToughness()
    {
        if (AuthenticationStateHelper.CheckAccessPage(MagicObjectHelper.ROLE心理韌性) == false)
        {
            var checkTask = ConfirmMessageBox.ShowAsync("400px", "200px", "警告",
                 MagicObjectHelper.你沒有權限存取此頁面, ConfirmMessageBox.HiddenAsync);
            return;
        }
        NavigationManager.NavigateTo($"/MentalToughness/{Code}");
    }

    void OnGenomics()
    {
        if (AuthenticationStateHelper.CheckAccessPage(MagicObjectHelper.ROLE基因體分析) == false)
        {
            var checkTask = ConfirmMessageBox.ShowAsync("400px", "200px", "警告",
                 MagicObjectHelper.你沒有權限存取此頁面, ConfirmMessageBox.HiddenAsync);
            return;
        }
        NavigationManager.NavigateTo($"/Genomics/{Code}");
    }

    void OnCardiopulmonary()
    {
        if (AuthenticationStateHelper.CheckAccessPage(MagicObjectHelper.ROLE心肺功能) == false)
        {
            var checkTask = ConfirmMessageBox.ShowAsync("400px", "200px", "警告",
                 MagicObjectHelper.你沒有權限存取此頁面, ConfirmMessageBox.HiddenAsync);
            return;
        }
        NavigationManager.NavigateTo($"/Cardiopulmonary/{Code}");
    }

    void OnMotionAnalysis()
    {
        if (AuthenticationStateHelper.CheckAccessPage(MagicObjectHelper.ROLE動作能力) == false)
        {
            var checkTask = ConfirmMessageBox.ShowAsync("400px", "200px", "警告",
                 MagicObjectHelper.你沒有權限存取此頁面, ConfirmMessageBox.HiddenAsync);
            return;
        }
        NavigationManager.NavigateTo($"/MotionAnalysis/{Code}");
    }

    void OnRecommendation()
    {
        if (AuthenticationStateHelper.CheckAccessPage(MagicObjectHelper.ROLE綜合評估建議) == false)
        {
            var checkTask = ConfirmMessageBox.ShowAsync("400px", "200px", "警告",
                 MagicObjectHelper.你沒有權限存取此頁面, ConfirmMessageBox.HiddenAsync);
            return;
        }
        NavigationManager.NavigateTo($"/Recommendation/{Code}");
    }

    void OnBlood()
    {
        if (AuthenticationStateHelper.CheckAccessPage(MagicObjectHelper.ROLE抽血檢驗) == false)
        {
            var checkTask = ConfirmMessageBox.ShowAsync("400px", "200px", "警告",
                 MagicObjectHelper.你沒有權限存取此頁面, ConfirmMessageBox.HiddenAsync);
            return;
        }
        NavigationManager.NavigateTo($"/Blood/{Code}");
    }

    async Task OnUpload()
    {
        var Athlete = await UploadFileService.GetAsync(Code);
        var fooExamineTime = CurrentAthleteExamine.ExamineTime;
        Examine sourceExamine = Athlete.Examine.FirstOrDefault(x => x.ExamineTime == fooExamineTime);

        var fileList = JsonConvert
        .DeserializeObject<List<FileListNodeModel>>(sourceExamine.FilesData);
        var filename = FileListHelper.GetXlsx(fileList);

        var CTMSModel = ExcleService.ReadExcel(filename);

        #region 還原原先設定文字
        var tempCTMSModel = JsonConvert
        .DeserializeObject<NextGenerationSportsCTMSModel>(sourceExamine.ExcelData);

        CTMSModel.ComprehensiveAssessmentRecommendation綜合評估建議Model
        .CopyFrom(tempCTMSModel.ComprehensiveAssessmentRecommendation綜合評估建議Model);

        CTMSModel.報告摘要Model
        .CopyFrom(tempCTMSModel.報告摘要Model);
        #endregion

        sourceExamine.ExcelData = JsonConvert.SerializeObject(CTMSModel);
        await UploadFileService.UpdateExamineAsync(sourceExamine);
 
        if (Athlete.ExamineTime == sourceExamine.ExamineTime)
        {
            Athlete.ExcelData = sourceExamine.ExcelData;
            await UploadFileService.UpdateAthleteAsync(Athlete);
        }
    }
}