@page "/PrintingContent/{code}"
@layout EmptyLayout

<div class="page-content">
    <MuscleMassView Code="@Code" />
    <MotionAnalysisView Code="@Code" />
    <MuscleQualityView Code="@Code" />
    <FatAnalysisView Code="@Code" />
    <RecommendationView Code="@Code" />
</div>

@code {
    [Parameter]
    public string Code { get; set; }


}
