@using Newtonsoft.Json
@using Syncfusion.Blazor.Inputs
@layout EmptyLayout
@inject UploadFileService UploadFileService
@inject NavigationManager NavigationManager

<PageTitle>綜合建議輸入</PageTitle>

<div class="container-custom">
    <div class="header">
        <h1>綜合建議輸入</h1>
    </div>
    <div class="editor-container">
        <table>
            <thead>
                <tr>
                    <th>飲食補充</th>
                    <th>體能訓練</th>
                    <th>運動潛能</th>
                    <th>健康風險</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="multiline">
                            <SfTextBox Multiline=true Placeholder="Free typing"
                                       HtmlAttributes="@DescriptionHtmlAttribute"
                                       style="font-size: 30px;"
                                       @bind-Value="@RecommendationModel.飲食補充"></SfTextBox>
                        </div>
                    </td>
                    <td>
                        <div class="multiline">
                            <SfTextBox Multiline=true Placeholder="Free typing"
                                       HtmlAttributes="@DescriptionHtmlAttribute"
                                       style="font-size: 30px;"
                                       @bind-Value="@RecommendationModel.體能訓練"></SfTextBox>
                        </div>
                    </td>
                    <td>
                        <div class="multiline">
                            <SfTextBox Multiline=true Placeholder="Free typing"
                                       HtmlAttributes="@DescriptionHtmlAttribute"
                                       style="font-size: 30px;"
                                       @bind-Value="@RecommendationModel.運動潛能"></SfTextBox>
                        </div>
                    </td>
                    <td>
                        <div class="multiline">
                            <SfTextBox Multiline=true Placeholder="Free typing"
                                       HtmlAttributes="@DescriptionHtmlAttribute"
                                       style="font-size: 30px;"
                                       @bind-Value="@RecommendationModel.健康風險"></SfTextBox>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="short-comment">
                        <div class="multiline">
                            <SfTextBox Multiline=true Placeholder="Short comment"
                                       HtmlAttributes="@ShortDescriptionHtmlAttribute"
                                       style="font-size: 30px;"
                                       @bind-Value="@RecommendationModel.飲食補充簡短建議"></SfTextBox>
                        </div>
                    </td>
                    <td class="short-comment">
                        <div class="multiline">
                            <SfTextBox Multiline=true Placeholder="Short comment"
                                       HtmlAttributes="@ShortDescriptionHtmlAttribute"
                                       style="font-size: 30px;"
                                       @bind-Value="@RecommendationModel.體能訓練簡短建議"></SfTextBox>
                        </div>
                    </td>
                    <td class="short-comment">
                        <div class="multiline">
                            <SfTextBox Multiline=true Placeholder="Short comment"
                                       HtmlAttributes="@ShortDescriptionHtmlAttribute"
                                       style="font-size: 30px;"
                                       @bind-Value="@RecommendationModel.運動潛能簡短建議"></SfTextBox>
                        </div>
                    </td>
                    <td class="short-comment">
                        <div class="multiline">
                            <SfTextBox Multiline=true Placeholder="Short comment" 
                                       HtmlAttributes="@ShortDescriptionHtmlAttribute"
                                       style="font-size: 30px;"
                                       @bind-Value="@RecommendationModel.健康風險簡短建議"></SfTextBox>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="save-button">
                        <button type="button" @onclick="OnSaveAsync">儲存</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@code {
    [Parameter]
    public string Code { get; set; }
    protected Dictionary<string, object> DescriptionHtmlAttribute { get; set; } = new Dictionary<string, object>()
        {
            { "rows", "3" },
            {"font-size","28px"},
        };
    protected Dictionary<string, object> ShortDescriptionHtmlAttribute { get; set; } = new Dictionary<string, object>()
        {
            { "rows", "3" },
             {"font-size","28px"},
       };


    NextGenerationSportsCTMSModel CTMSModel = new();
    ComprehensiveAssessmentRecommendation綜合評估建議Model RecommendationModel = new();

    protected override async Task OnInitializedAsync()
    {
        var Athlete = await UploadFileService.GetAsync(Code);
        CTMSModel = JsonConvert
        .DeserializeObject<NextGenerationSportsCTMSModel>(Athlete.ExcelData);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            RecommendationModel = CTMSModel.ComprehensiveAssessmentRecommendation綜合評估建議Model;
            StateHasChanged();
        }
    }

    async Task OnSaveAsync()
    {
        CTMSModel.ComprehensiveAssessmentRecommendation綜合評估建議Model = RecommendationModel;
        var json = JsonConvert.SerializeObject(CTMSModel);
        var Athlete = await UploadFileService.GetAsync(Code);
        Athlete.ExcelData = json;

        await UploadFileService.UpdateAsync(Code, Athlete);
        NavigationManager.NavigateTo($"/Recommendation/{Code}");
    }
}