@using Syncfusion.Blazor
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars
@inject NavigationManager NavigationManager
@inject PatientService PatientService
@inject DropDownListDataService DropDownListDataService

<PageTitle>臨床資料 Baseline-Medical History Form</PageTitle>

<div>

    <div class="header">
        <div class="d-flex align-items-start">
            <h1 style="margin: 0; flex-grow: 1;">臨床資料 Baseline-Medical History Form</h1>
            <div>
                @if (editMode)
                {
                    <div class="btn-group mx-3 " role="group" aria-label="按鈕組">
                        <button type="button" class="btn btn-sm btn-primary save-button"
                                @onclick=OnSave>
                            儲存
                        </button>
                        <button type="button" class="btn btn-sm btn-danger cancle-button"
                                @onclick=OnCancel>
                            取消
                        </button>
                    </div>
                }
                else
                {
                    <span class="edit-icon d-flex align-items-center cursor-pointer"
                          @onclick="OnChangeEditMode">
                        <i class="mx-3 mdi mdi-18px mdi-pencil-box-outline command-icon-width cursor-pointer"></i>編輯
                    </span>
                }
            </div>
        </div>
    </div>

    <div class="visit-code-container d-flex align-items-center">
        <div class="visit-info">Visit Code :</div>
        <div class="flex-grow-1">
            <SfDropDownList @ref="VisitCodeDropDown"
                            TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                            Placeholder="選擇一個值" DataSource="@ListVisitCode"
                            @bind-Value="@SelectVisitCode" class="w-100">
                <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                    ValueChange="@OnVisitCodeChanged"></DropDownListEvents>
            </SfDropDownList>
        </div>
    </div>

    @if (data != null)
    {
        <div class="view-container">
            <table class="medical-table">
                <tbody>
                    <tr>
                        <td class="category-cell"><span class="bracket-text"></span></td>
                        <td class="category-cell"><span class="bracket-text">Cardiovascular<br />(include HTN )</span></td>
                        <td class="category-cell"><span class="bracket-text">Peripheral Vascular</span></td>
                        <td class="category-cell"><span class="bracket-text">Respiratory</span></td>
                        <td class="category-cell"><span class="bracket-text">Gastrointestinal</span></td>
                        <td class="category-cell"><span class="bracket-text">Renal</span></td>
                    </tr>
                    <tr>
                        <td class="normal-cell">
                            Yes/No
                        </td>
                        <td class="normal-cell">
                            @if (editMode)
                            {
                                <SfDropDownList TValue="string" TItem="string"
                                                Placeholder="選擇 Yes or No" DataSource="@ListYesNo"
                                                @bind-Value="@data.CardiovascularIncludeHtn" class="flex-grow-1">
                                </SfDropDownList>
                            }
                            else
                            {
                                    @data.CardiovascularIncludeHtn
                            }
                        </td>
                        <td class="normal-cell">
                            @if (editMode)
                            {
                                <SfDropDownList TValue="string" TItem="string"
                                                Placeholder="選擇 Yes or No" DataSource="@ListYesNo"
                                                @bind-Value="@data.PeripheralVascular" class="flex-grow-1">
                                </SfDropDownList>
                            }
                            else
                            {
                                    @data.PeripheralVascular
                            }
                        </td>
                        <td class="normal-cell">
                            @if (editMode)
                            {
                                <SfDropDownList TValue="string" TItem="string"
                                                Placeholder="選擇 Yes or No" DataSource="@ListYesNo"
                                                @bind-Value="@data.Respiratory" class="flex-grow-1">
                                </SfDropDownList>
                            }
                            else
                            {
                                    @data.Respiratory
                            }
                        </td>
                        <td class="normal-cell">
                            @if (editMode)
                            {
                                <SfDropDownList TValue="string" TItem="string"
                                                Placeholder="選擇 Yes or No" DataSource="@ListYesNo"
                                                @bind-Value="@data.Gastrointestinal" class="flex-grow-1">
                                </SfDropDownList>
                            }
                            else
                            {
                                    @data.Gastrointestinal
                            }
                        </td>
                        <td class="normal-cell">
                            @if (editMode)
                            {
                                <SfDropDownList TValue="string" TItem="string"
                                                Placeholder="選擇 Yes or No" DataSource="@ListYesNo"
                                                @bind-Value="@data.Renal" class="flex-grow-1">
                                </SfDropDownList>
                            }
                            else
                            {
                                    @data.Renal
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="category-cell"><span class="bracket-text"></span></td>
                        <td class="category-cell"><span class="bracket-text">Genitourinary</span></td>
                        <td class="category-cell"><span class="bracket-text">Metabolic<br />(Include Diabetes)</span></td>
                        <td class="category-cell"><span class="bracket-text">Hematologic-Lymphatic</span></td>
                        <td class="category-cell"><span class="bracket-text">Musculoskeletal</span></td>
                        <td class="category-cell"><span class="bracket-text">Dermatologic</span></td>
                    </tr>
                    <tr>
                        <td class="normal-cell">
                            Yes/No
                        </td>
                        <td class="normal-cell">
                            @if (editMode)
                            {
                                <SfDropDownList TValue="string" TItem="string"
                                                Placeholder="選擇 Yes or No" DataSource="@ListYesNo"
                                                @bind-Value="@data.Genitourinary" class="flex-grow-1">
                                </SfDropDownList>
                            }
                            else
                            {
                                    @data.Genitourinary
                            }
                        </td>
                        <td class="normal-cell">
                            @if (editMode)
                            {
                                <SfDropDownList TValue="string" TItem="string"
                                                Placeholder="選擇 Yes or No" DataSource="@ListYesNo"
                                                @bind-Value="@data.EndocrineMetabolicIncludeDiabetes" class="flex-grow-1">
                                </SfDropDownList>
                            }
                            else
                            {
                                    @data.EndocrineMetabolicIncludeDiabetes
                            }
                        </td>
                        <td class="normal-cell">
                            @if (editMode)
                            {
                                <SfDropDownList TValue="string" TItem="string"
                                                Placeholder="選擇 Yes or No" DataSource="@ListYesNo"
                                                @bind-Value="@data.HematologicLymphatic" class="flex-grow-1">
                                </SfDropDownList>
                            }
                            else
                            {
                                    @data.HematologicLymphatic
                            }
                        </td>
                        <td class="normal-cell">
                            @if (editMode)
                            {
                                <SfDropDownList TValue="string" TItem="string"
                                                Placeholder="選擇 Yes or No" DataSource="@ListYesNo"
                                                @bind-Value="@data.Musculoskeletal" class="flex-grow-1">
                                </SfDropDownList>
                            }
                            else
                            {
                                    @data.Musculoskeletal
                            }
                        </td>
                        <td class="normal-cell">
                            @if (editMode)
                            {
                                <SfDropDownList TValue="string" TItem="string"
                                                Placeholder="選擇 Yes or No" DataSource="@ListYesNo"
                                                @bind-Value="@data.Dermatologic" class="flex-grow-1">
                                </SfDropDownList>
                            }
                            else
                            {
                                    @data.Dermatologic
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="category-cell"><span class="bracket-text"></span></td>
                        <td class="category-cell"><span class="bracket-text">Drug Abuse</span></td>
                        <td class="category-cell"><span class="bracket-text">Tobacco</span></td>
                        <td class="category-cell">Neurologic</td>
                        <td class="category-cell">Psychiatric</td>
                        <td class="category-cell">Allergies</td>
                    </tr>
                    <tr>
                        <td class="normal-cell">
                            Yes/No
                        </td>
                        <td class="normal-cell">
                            @if (editMode)
                            {
                                <SfDropDownList TValue="string" TItem="string"
                                                Placeholder="選擇 Yes or No" DataSource="@ListYesNo"
                                                @bind-Value="@data.DrugAbuse" class="flex-grow-1">
                                </SfDropDownList>
                            }
                            else
                            {
                                    @data.DrugAbuse
                            }
                        </td>
                        <td class="normal-cell">
                            @if (editMode)
                            {
                                <SfDropDownList TValue="string" TItem="string"
                                                Placeholder="選擇 Yes or No" DataSource="@ListYesNo"
                                                @bind-Value="@data.Tobacco" class="flex-grow-1">
                                </SfDropDownList>
                            }
                            else
                            {
                                    @data.Tobacco
                            }
                        </td>
                        <td class="normal-cell">
                            @if (editMode)
                            {
                                <SfDropDownList TValue="string" TItem="string"
                                                Placeholder="選擇 Yes or No" DataSource="@ListYesNo"
                                                @bind-Value="@data.Neurologic" class="flex-grow-1">
                                </SfDropDownList>
                            }
                            else
                            {
                                    @data.Neurologic
                            }
                        </td>
                        <td class="normal-cell">
                            @if (editMode)
                            {
                                <SfDropDownList TValue="string" TItem="string"
                                                Placeholder="選擇 Yes or No" DataSource="@ListYesNo"
                                                @bind-Value="@data.Psychiatric" class="flex-grow-1">
                                </SfDropDownList>
                            }
                            else
                            {
                                    @data.Psychiatric
                            }
                        </td>
                        <td class="normal-cell">
                            @if (editMode)
                            {
                                <SfDropDownList TValue="string" TItem="string"
                                                Placeholder="選擇 Yes or No" DataSource="@ListYesNo"
                                                @bind-Value="@data.Allergies" class="flex-grow-1">
                                </SfDropDownList>
                            }
                            else
                            {
                                    @data.Allergies
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="category-cell"><span class="bracket-text"></span></td>
                        <td class="category-cell"><span class="bracket-text">Neoplasia</span></td>
                        <td class="category-cell"><span class="bracket-text">Alcohol Use</span></td>
                        <td class="category-cell">immunity (Include HIV)</td>
                        <td class="category-cell">Hepatobiliary(Include HBV/HCV)</td>
                        <td class="category-cell">other (specify)</td>
                    </tr>
                    <tr>
                        <td class="normal-cell">
                            Yes/No
                        </td>
                        <td class="normal-cell">
                            @if (editMode)
                            {
                                <SfDropDownList TValue="string" TItem="string"
                                                Placeholder="選擇 Yes or No" DataSource="@ListYesNo"
                                                @bind-Value="@data.Neoplasia" class="flex-grow-1">
                                </SfDropDownList>
                            }
                            else
                            {
                                    @data.Neoplasia
                            }
                        </td>
                        <td class="normal-cell">
                            @if (editMode)
                            {
                                <SfDropDownList TValue="string" TItem="string"
                                                Placeholder="選擇 Yes or No" DataSource="@ListYesNo"
                                                @bind-Value="@data.AlcoholUse" class="flex-grow-1">
                                </SfDropDownList>
                            }
                            else
                            {
                                    @data.AlcoholUse
                            }
                        </td>
                        <td class="normal-cell">
                            @if (editMode)
                            {
                                <SfDropDownList TValue="string" TItem="string"
                                                Placeholder="選擇 Yes or No" DataSource="@ListYesNo"
                                                @bind-Value="@data.ImmunityIncludeHiv" class="flex-grow-1">
                                </SfDropDownList>
                            }
                            else
                            {
                                    @data.ImmunityIncludeHiv
                            }
                        </td>
                        <td class="normal-cell">
                            @if (editMode)
                            {
                                <SfDropDownList TValue="string" TItem="string"
                                                Placeholder="選擇 Yes or No" DataSource="@ListYesNo"
                                                @bind-Value="@data.HepatobiliaryIncludeHbvHcv" class="flex-grow-1">
                                </SfDropDownList>
                            }
                            else
                            {
                                    @data.HepatobiliaryIncludeHbvHcv
                            }
                        </td>
                        <td class="normal-cell">
                            @if (editMode)
                            {
                                <SfDropDownList TValue="string" TItem="string"
                                                Placeholder="選擇 Yes or No" DataSource="@ListYesNo"
                                                @bind-Value="@data.OtherSpecify" class="flex-grow-1">
                                </SfDropDownList>
                            }
                            else
                            {
                                    @data.OtherSpecify
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
</div>

<MessageBox Height="@MessageBox.Height" Width="@MessageBox.Width"
            IsVisible="@MessageBox.IsVisible"
            Title="@MessageBox.Title" Message="@MessageBox.Body"
            Callback="MessageBox.MessageDelegate" />

<ConfirmBox Height="@ConfirmMessageBox.Height" Width="@ConfirmMessageBox.Width"
            IsVisible="@ConfirmMessageBox.IsVisible"
            Title="@ConfirmMessageBox.Title" Message="@ConfirmMessageBox.Body"
            Callback="ConfirmMessageBox.ConfirmDelegate" />

<DialogBackground />

@code {
    [Parameter]
    public string Code { get; set; }

    PatientData patientData = new();
    PatientAdapterModel patientAdapterModel = new();
    bool editMode = false;
    BaselineMedicalHistoryFormNode data = new();
    BaselineMedicalHistoryForm header = new();

    List<DropDownListDataModel> ListCardiovascularIncludeHtnYesNo = new List<DropDownListDataModel>();
    List<string> ListYesNo = new List<string>();

    #region 操作 Visit Code 用到的物件
    bool ShowVisitCodeDialog = false;
    ConfirmBoxModel ConfirmMessageBox { get; set; } = new ConfirmBoxModel();
    MessageBoxModel MessageBox { get; set; } = new MessageBoxModel();
    string VisitCodeOperateMode = string.Empty;
    VisitCodeModel VisitCode = new();
    SfDropDownList<DropDownListDataModel, DropDownListDataModel> VisitCodeDropDown;
    DropDownListDataModel SelectVisitCode = new DropDownListDataModel();
    List<DropDownListDataModel> ListVisitCode = new List<DropDownListDataModel>();
    #endregion

    protected override async Task OnInitializedAsync()
    {
        patientAdapterModel = await PatientService.GetAsync(Code);
        patientData.FromJson(patientAdapterModel.JsonData);
        InitData(true);
    }

    void InitData(bool isFirst = true)
    {
        header = patientData.臨床資料.BaselineMedicalHistoryForm;
        if (isFirst)
        {
            data = header.Items.FirstOrDefault();
            DropDownListDataInit();
            RefreshVisitCode();
            RefreshDropDwonVisitCode();
            var itemx = ListVisitCode.FirstOrDefault(x => x.Key == data?.VisitCode.Id);
            if (itemx != null)
                SelectVisitCode = itemx;
        }
        else
        {
            if (SelectVisitCode != null)
            {
                data = header.Items.FirstOrDefault(x => x.VisitCode.Id == SelectVisitCode.Key);
            }
        }
    }

    void DropDownListDataInit()
    {
        #region Common YesNo
        {
            ListYesNo = DropDownListDataService.GetStringYesNo();

            var itemPeripheralVascular = ListYesNo
            .FirstOrDefault(x => x == data?.PeripheralVascular);
            if (itemPeripheralVascular != null)
                data.PeripheralVascular = itemPeripheralVascular;

            var itemRespiratory = ListYesNo
            .FirstOrDefault(x => x == data?.Respiratory);
            if (itemRespiratory != null)
                data.Respiratory = itemRespiratory;

            var itemGastrointestinal = ListYesNo
            .FirstOrDefault(x => x == data?.Gastrointestinal);
            if (itemGastrointestinal != null)
                data.Gastrointestinal = itemGastrointestinal;

            var itemRenal = ListYesNo
            .FirstOrDefault(x => x == data?.Renal);
            if (itemRenal != null)
                data.Renal = itemRenal;

            var itemGenitourinary = ListYesNo
            .FirstOrDefault(x => x == data?.Genitourinary);
            if (itemGenitourinary != null)
                data.Genitourinary = itemGenitourinary;

            var itemEndocrineMetabolicIncludeDiabetes = ListYesNo
            .FirstOrDefault(x => x == data?.EndocrineMetabolicIncludeDiabetes);
            if (itemEndocrineMetabolicIncludeDiabetes != null)
                data.EndocrineMetabolicIncludeDiabetes = itemEndocrineMetabolicIncludeDiabetes;

            var itemHematologicLymphatic = ListYesNo
            .FirstOrDefault(x => x == data?.HematologicLymphatic);
            if (itemHematologicLymphatic != null)
                data.HematologicLymphatic = itemHematologicLymphatic;

            var itemMusculoskeletal = ListYesNo
            .FirstOrDefault(x => x == data?.Musculoskeletal);
            if (itemMusculoskeletal != null)
                data.Musculoskeletal = itemMusculoskeletal;

            var itemDermatologic = ListYesNo
            .FirstOrDefault(x => x == data?.Dermatologic);
            if (itemDermatologic != null)
                data.Dermatologic = itemDermatologic;

            var itemDrugAbuse = ListYesNo
            .FirstOrDefault(x => x == data?.DrugAbuse);
            if (itemDrugAbuse != null)
                data.DrugAbuse = itemDrugAbuse;

            var itemTobacco = ListYesNo
            .FirstOrDefault(x => x == data?.Tobacco);
            if (itemTobacco != null)
                data.Tobacco = itemTobacco;

            var itemNeurologic = ListYesNo
            .FirstOrDefault(x => x == data?.Neurologic);
            if (itemNeurologic != null)
                data.Neurologic = itemNeurologic;

            var itemPsychiatric = ListYesNo
            .FirstOrDefault(x => x == data?.Psychiatric);
            if (itemPsychiatric != null)
                data.Psychiatric = itemPsychiatric;

            var itemAllergies = ListYesNo
            .FirstOrDefault(x => x == data?.Allergies);
            if (itemAllergies != null)
                data.Allergies = itemAllergies;

            var itemNeoplasia = ListYesNo
            .FirstOrDefault(x => x == data?.Neoplasia);
            if (itemNeoplasia != null)
                data.Neoplasia = itemNeoplasia;

            var itemAlcoholUse = ListYesNo
            .FirstOrDefault(x => x == data?.AlcoholUse);
            if (itemAlcoholUse != null)
                data.AlcoholUse = itemAlcoholUse;

            var itemImmunityIncludeHiv = ListYesNo
            .FirstOrDefault(x => x == data?.ImmunityIncludeHiv);
            if (itemImmunityIncludeHiv != null)
                data.ImmunityIncludeHiv = itemImmunityIncludeHiv;

            var itemHepatobiliaryIncludeHbvHcv = ListYesNo
            .FirstOrDefault(x => x == data?.HepatobiliaryIncludeHbvHcv);
            if (itemHepatobiliaryIncludeHbvHcv != null)
                data.HepatobiliaryIncludeHbvHcv = itemHepatobiliaryIncludeHbvHcv;

            var itemOtherSpecify = ListYesNo
            .FirstOrDefault(x => x == data?.OtherSpecify);
            if (itemOtherSpecify != null)
                data.OtherSpecify = itemOtherSpecify;
        }
        #endregion

        #region CardiovascularIncludeHtn
        // {
        //     ListCardiovascularIncludeHtnYesNo = DropDownListDataService.GetStringYesNo();
        //     var item = ListCardiovascularIncludeHtnYesNo
        //     .FirstOrDefault(x => x.Key == data.CardiovascularIncludeHtn);
        //     if (item != null)
        //         SelectCardiovascularIncludeHtn = item;
        // }
        #endregion

    }

    void OnChangeEditMode()
    {
        editMode = !editMode;
    }

    async Task OnSave()
    {
        patientAdapterModel.JsonData = patientData.ToJson();
        await PatientService.UpdateAsync(patientAdapterModel);
        editMode = false;
    }

    async Task OnCancel()
    {
        patientData.FromJson(patientAdapterModel.JsonData);
        InitData(false);
        editMode = false;
    }


    #region 針對 VisitCode 的方法
    private async Task OnVisitCodeChanged(ChangeEventArgs<DropDownListDataModel, DropDownListDataModel> args)
    {
        if (args.Value != null)
        {
            var item = header.Items.FirstOrDefault(x => x.VisitCode.Id == args.Value.Key);
            if (item != null)
            {
                data = item;
            }
        }
    }

    void RefreshVisitCode(bool reset = true)
    {
        #region VisitCode
        {
            ListVisitCode.Clear();
            if (data != null)
            {

            }
            foreach (var nodeItem in header.Items)
            {
                ListVisitCode.Add(new DropDownListDataModel()
                {
                    Key = nodeItem.VisitCode.Id,
                    Name = nodeItem.VisitCode.VisitCodeTitle,
                });
            }
            if (reset)
            {
                SelectVisitCode = null;
            }
        }
        #endregion
    }
    void RefreshDropDwonVisitCode()
    {
        // 重置選擇項目
        SelectVisitCode = null;

        // 手動刷新 DropDownList 元件
        if (VisitCodeDropDown != null)
        {
            InvokeAsync(() => VisitCodeDropDown.RefreshDataAsync());
        }
    }
    #endregion

}
