@using Syncfusion.Blazor
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars
@inject NavigationManager NavigationManager
@inject PatientService PatientService
@inject DropDownListDataService DropDownListDataService

<PageTitle>Basic clinical presentation 臨床資訊</PageTitle>

<div class="patient-info-page">
    <!-- 返回按鈕 - 修改為全寬背景 -->
    @* <div class="back-button-container">
        <a href="/" class="back-btn"><i class="bi bi-arrow-left"></i> 返回上頁</a>
    </div> *@

    <div class="px-4">
        <!-- 標題 -->
        <div class="title-section d-flex align-items-start">
            <h1 class="mb-0">Basic clinical presentation 臨床資訊</h1>
            @if (editMode)
            {
                <div class="btn-group mx-3 " role="group" aria-label="按鈕組">
                    <button type="button" class="btn btn-sm btn-primary save-button"
                            @onclick=OnSave>
                        儲存
                    </button>
                    <button type="button" class="btn btn-sm btn-danger cancle-button"
                            @onclick=OnCancel>
                        取消
                    </button>
                </div>
            }
            else
            {
                <span class="edit-icon d-flex align-items-center cursor-pointer"
                      @onclick="OnChangeEditMode">
                    <i class="mx-3 mdi mdi-18px mdi-pencil-box-outline command-icon-width cursor-pointer"></i>編輯
                </span>
            }

        </div>

        <div class="row g-3">
            <!-- 第一個表格 - 病人基本資料 -->
            <div class="col-md-4">
                <div class="info-card patient-info">
                    <div class="">
                        <div class="header pink-header">
                            病人編號 Subject No
                            <span class="ms-2">
                                @if (editMode)
                                {
                                    <SfTextBox @bind-Value="patientData.臨床資訊.SubjectNo" CssClass="w-100" />
                                }
                                else
                                {
                                    @patientData.臨床資訊.SubjectNo
                                }
                            </span><br/>
                            <span class="small-info"><small>(E代表內膜癌, O代表卵巢癌)</small></span>
                        </div>
                    </div>


                    <table class="table table-bordered info-table">
                        <tbody>
                            <tr>
                                <td class="label-column">臨床資訊 癌別</td>
                                <td class="value-column">
                                    <div class="">
                                        @if (editMode)
                                        {
                                            <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                            Placeholder="選擇一個值" DataSource="@ListECOrOCC"
                                                            @bind-Value="@SelectECOrOCC" class="flex-grow-1">
                                                <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                                <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                                    ValueChange="@OnECOrOCCChanged"></DropDownListEvents>
                                            </SfDropDownList>
                                        }
                                        else
                                        {
                                            @patientData.臨床資訊.ECorOC
                                        }
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="label-column">年齡 (Age)</td>
                                <td class="value-column">
                                    @if (editMode)
                                    {
                                        <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                        Placeholder="選擇一個值" DataSource="@List年齡Age"
                                                        @bind-Value="@Select年齡Age" class="flex-grow-1">
                                            <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                            <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                                ValueChange="@On年齡AgeChanged"></DropDownListEvents>
                                        </SfDropDownList>
                                    }
                                    else
                                    {
                                        @patientData.臨床資訊.Age
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="label-column">月經狀態</td>
                                <td class="value-column">
                                    @if (editMode)
                                    {
                                        <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                        Placeholder="選擇一個值" DataSource="@List月經狀態"
                                                        @bind-Value="@Select月經狀態" class="flex-grow-1">
                                            <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                            <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                                ValueChange="@On月經狀態Changed"></DropDownListEvents>
                                        </SfDropDownList>
                                    }
                                    else
                                    {
                                        @patientData.臨床資訊.MenstrualStatus
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="label-column">身高 (Height) cm</td>
                                <td class="value-column">
                                    @if (editMode)
                                    {
                                        <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                        Placeholder="選擇一個值" DataSource="@List身高Height"
                                                        @bind-Value="@Select身高Height" class="flex-grow-1">
                                            <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                            <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                                ValueChange="@On身高HeightChanged"></DropDownListEvents>
                                        </SfDropDownList>
                                    }
                                    else
                                    {
                                        @patientData.臨床資訊.Height
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="label-column">體重 (BW) kg</td>
                                <td class="value-column">
                                    @if (editMode)
                                    {
                                        <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                        Placeholder="選擇一個值" DataSource="@List體重BW"
                                                        @bind-Value="@Select體重BW" class="flex-grow-1">
                                            <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                            <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                                ValueChange="@On體重BWChanged"></DropDownListEvents>
                                        </SfDropDownList>
                                    }
                                    else
                                    {
                                        @patientData.臨床資訊.Weight
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="label-column">BMI (kg / m²)</td>
                                <td class="value-column">
                                    @if (editMode)
                                    {
                                        @patientData.臨床資訊.BMI
                                    }
                                    else
                                    {
                                        @patientData.臨床資訊.BMI
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="label-column">體表面積 (BSA) m²</td>
                                <td class="value-column">
                                    @if (editMode)
                                    {
                                        @patientData.臨床資訊.BSA
                                    }
                                    else
                                    {
                                        @patientData.臨床資訊.BSA
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="label-column">腰圍 (AC) cm</td>
                                <td class="value-column">
                                    @if (editMode)
                                    {
                                        <SfTextBox @bind-Value="patientData.臨床資訊.AbdominalCircumference" CssClass="w-100" />
                                    }
                                    else
                                    {
                                        @patientData.臨床資訊.AbdominalCircumference
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="label-column">日常體能狀態 (PS)</td>
                                <td class="value-column">
                                    @if (editMode)
                                    {
                                        <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                        Placeholder="選擇一個值" DataSource="@List日常體能狀態PS"
                                                        @bind-Value="@Select日常體能狀態PS" class="flex-grow-1">
                                            <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                            <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                                ValueChange="@On日常體能狀態PSChanged"></DropDownListEvents>
                                        </SfDropDownList>
                                    }
                                    else
                                    {
                                        @patientData.臨床資訊.PerformanceStatus
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- 第二個表格 - 癌症狀態 -->
            <div class="col-md-4">
                <div class="info-card cancer-info">
                    <div class="header yellow-header">
                        癌症狀態 癌別 子宮內膜癌
                    </div>
                    <table class="table table-bordered info-table">
                        <tbody>
                            <tr>
                                <td class="label-column">癌症分期(2023 FIGO)</td>
                                <td class="value-column">
                                    @if (editMode)
                                    {
                                        <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                        Placeholder="選擇一個值" DataSource="@ListFIGO癌症分期"
                                                        @bind-Value="@SelectFIGO癌症分期" class="flex-grow-1">
                                            <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                            <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                                ValueChange="@OnFIGO癌症分期Changed"></DropDownListEvents>
                                        </SfDropDownList>
                                    }
                                    else
                                    {
                                        @patientData.臨床資訊.FIGOStaging
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="label-column">AJCC c stage</td>
                                <td class="value-column">
                                    @if (editMode)
                                    {
                                        <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                        Placeholder="選擇一個值" DataSource="@ListAJCC_C_Stage"
                                                        @bind-Value="@SelectAJCC_C_Stage" class="flex-grow-1">
                                            <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                            <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                                ValueChange="@OnAJCC_C_StageChanged"></DropDownListEvents>
                                        </SfDropDownList>
                                    }
                                    else
                                    {
                                        @patientData.臨床資訊.AJCCClinicalStage
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="label-column">AJCC p stage</td>
                                <td class="value-column">
                                    @if (editMode)
                                    {
                                        <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                        Placeholder="選擇一個值" DataSource="@ListAJCC_P_Stage"
                                                        @bind-Value="@SelectAJCC_P_Stage" class="flex-grow-1">
                                            <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                            <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                                ValueChange="@OnAJCC_P_StageChanged"></DropDownListEvents>
                                        </SfDropDownList>
                                    }
                                    else
                                    {
                                        @patientData.臨床資訊.AJCCPathologicalStage
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="label-column">組織型態</td>
                                <td class="value-column">
                                    @if (editMode)
                                    {
                                        @patientData.臨床資訊.HistologicalType
                                    }
                                    else
                                    {
                                        @patientData.臨床資訊.HistologicalType
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="label-column">MMR protein</td>
                                <td class="value-column">
                                    @if (editMode)
                                    {
                                        <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                        Placeholder="選擇一個值" DataSource="@ListMMRProtein"
                                                        @bind-Value="@SelectMMRProtein" class="flex-grow-1">
                                            <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                            <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                                ValueChange="@OnMMRProteinChanged"></DropDownListEvents>
                                        </SfDropDownList>
                                    }
                                    else
                                    {
                                        @patientData.臨床資訊.MMRProtein
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="label-column">p53</td>
                                <td class="value-column">
                                    @if (editMode)
                                    {
                                        <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                        Placeholder="選擇一個值" DataSource="@ListP53"
                                                        @bind-Value="@SelectP53" class="flex-grow-1">
                                            <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                            <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                                ValueChange="@OnP53Changed"></DropDownListEvents>
                                        </SfDropDownList>
                                    }
                                    else
                                    {
                                        @patientData.臨床資訊.P53
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="label-column">Hormon status</td>
                                <td class="value-column">
                                    @if (editMode)
                                    {
                                        <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                        Placeholder="選擇一個值" DataSource="@ListHormonStatus"
                                                        @bind-Value="@SelectHormonStatus" class="flex-grow-1">
                                            <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                            <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                                ValueChange="@OnHormonStatusChanged"></DropDownListEvents>
                                        </SfDropDownList>
                                    }
                                    else
                                    {
                                        @patientData.臨床資訊.HormonStatus
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- 第三和第四個區塊 - CT Image 與 Report -->
            <div class="col-md-4">
                <div class="info-card image-card">
                    <div class="header green-header">
                        CT Image
                    </div>
                    <div class="empty-image-area">
                        <!-- 空白的 CT Image 區域 -->
                    </div>
                </div>
                <div class="info-card report-card mt-3">
                    <div class="header blue-header">
                        上傳
                    </div>
                </div>
            </div>
        </div>

        <!-- 底部導航按鈕 -->
        <div class="navigation-buttons">
            <div class="row g-2">
                <div class="col-2">
                    <button class="btn btn-light btn-pink w-100" @onclick=On臨床資料>臨床資料</button>
                </div>
                <div class="col-2">
                    <button class="btn btn-light btn-yellow w-100" @onclick=On抽血資料>抽血資料</button>
                </div>
                <div class="col-2">
                    <button class="btn btn-light btn-green w-100" @onclick=On副作用>CTCAE 5.0</button>
                </div>
                <div class="col-2">
                    <button class="btn btn-light btn-blue w-100" @onclick=On問卷>問卷</button>
                </div>
                <div class="col-2">
                    <button class="btn btn-light btn-pink w-100">追蹤資料</button>
                </div>
                <div class="col-2">
                    <button class="btn btn-light btn-yellow w-100">風險評估</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Code { get; set; }

    PatientData patientData = new();
    PatientAdapterModel patientAdapterModel = new();
    bool editMode = false;

    protected override async Task OnInitializedAsync()
    {
        // Simulate fetching data from a service
        patientAdapterModel = await PatientService.GetAsync(Code);
        patientData.FromJson(patientAdapterModel.JsonData);
        patientData.臨床資訊.CalculateCancerType();
        DropDownListDataInit();
    }


    List<DropDownListDataModel> ListECOrOCC = new List<DropDownListDataModel>();
    DropDownListDataModel SelectECOrOCC = new DropDownListDataModel();
    List<DropDownListDataModel> List年齡Age = new List<DropDownListDataModel>();
    DropDownListDataModel Select年齡Age = new DropDownListDataModel();
    List<DropDownListDataModel> List月經狀態 = new List<DropDownListDataModel>();
    DropDownListDataModel Select月經狀態 = new DropDownListDataModel();
    List<DropDownListDataModel> List身高Height = new List<DropDownListDataModel>();
    DropDownListDataModel Select身高Height = new DropDownListDataModel();
    List<DropDownListDataModel> List體重BW = new List<DropDownListDataModel>();
    DropDownListDataModel Select體重BW = new DropDownListDataModel();
    List<DropDownListDataModel> List日常體能狀態PS = new List<DropDownListDataModel>();
    DropDownListDataModel Select日常體能狀態PS = new DropDownListDataModel();
    List<DropDownListDataModel> ListFIGO癌症分期 = new List<DropDownListDataModel>();
    DropDownListDataModel SelectFIGO癌症分期 = new DropDownListDataModel();
    List<DropDownListDataModel> ListAJCC_C_Stage = new List<DropDownListDataModel>();
    DropDownListDataModel SelectAJCC_C_Stage = new DropDownListDataModel();
    List<DropDownListDataModel> ListAJCC_P_Stage = new List<DropDownListDataModel>();
    DropDownListDataModel SelectAJCC_P_Stage = new DropDownListDataModel();
    List<DropDownListDataModel> ListMMRProtein = new List<DropDownListDataModel>();
    DropDownListDataModel SelectMMRProtein = new DropDownListDataModel();
    List<DropDownListDataModel> ListP53 = new List<DropDownListDataModel>();
    DropDownListDataModel SelectP53 = new DropDownListDataModel();
    List<DropDownListDataModel> ListHormonStatus = new List<DropDownListDataModel>();
    DropDownListDataModel SelectHormonStatus = new DropDownListDataModel();

    void DropDownListDataInit()
    {
        #region 癌別
        {
            ListECOrOCC = DropDownListDataService.Get癌別();
            var item = ListECOrOCC.FirstOrDefault(x => x.Key == patientData.臨床資訊.ECorOC);
            if (item != null)
                SelectECOrOCC = item;
        }
        #endregion

        #region 年齡Age
        {
            List年齡Age = DropDownListDataService.GetAge();
            var item = List年齡Age.FirstOrDefault(x => x.Key == patientData.臨床資訊.MenstrualStatus);
            if (item != null)
                Select年齡Age = item;
        }
        #endregion

        #region 月經狀態
        {
            List月經狀態 = DropDownListDataService.Get月經狀態();
            var item = List月經狀態.FirstOrDefault(x => x.Key == patientData.臨床資訊.MenstrualStatus);
            if (item != null)
                Select月經狀態 = item;
        }
        #endregion

        #region 身高Height
        {
            List身高Height = DropDownListDataService.Get身高Height();
            var item = List身高Height.FirstOrDefault(x => x.Key == patientData.臨床資訊.Height);
            if (item != null)
                Select身高Height = item;
        }
        #endregion

        #region 體重BW
        {
            List體重BW = DropDownListDataService.Get體重BW();
            var item = List體重BW.FirstOrDefault(x => x.Key == patientData.臨床資訊.Weight);
            if (item != null)
                Select體重BW = item;
        }
        #endregion

        #region 日常體能狀態PS
        {
            List日常體能狀態PS = DropDownListDataService.Get日常體能狀態PS();
            var item = List日常體能狀態PS.FirstOrDefault(x => x.Key == patientData.臨床資訊.PerformanceStatus);
            if (item != null)
                Select日常體能狀態PS = item;
        }
        #endregion

        #region FIGO癌症分期
        {
            ListFIGO癌症分期 = DropDownListDataService.GetFIGO癌症分期();
            var item = ListFIGO癌症分期.FirstOrDefault(x => 
                x.Key == patientData.臨床資訊.FIGOStaging);
            if (item != null)
                SelectFIGO癌症分期 = item;
        }
        #endregion

        #region FIGOListAJCC_C_Stage
        {
            ListAJCC_C_Stage = DropDownListDataService.GetAJCC_CP_Stage();
            var item = ListAJCC_C_Stage.FirstOrDefault(x =>
                x.Key == patientData.臨床資訊.AJCCClinicalStage);
            if (item != null)
                SelectAJCC_C_Stage = item;
        }
        #endregion

        #region FIGOListAJCC_C_Stage
        {
            ListAJCC_P_Stage = DropDownListDataService.GetAJCC_CP_Stage();
            var item = ListAJCC_P_Stage.FirstOrDefault(x =>
                x.Key == patientData.臨床資訊.AJCCPathologicalStage);
            if (item != null)
                SelectAJCC_P_Stage = item;
        }
        #endregion

        #region MMRProtein
        {
            ListMMRProtein = DropDownListDataService.GetMMRProtein();
            var item = ListMMRProtein.FirstOrDefault(x =>
                x.Key == patientData.臨床資訊.MMRProtein);
            if (item != null)
                SelectMMRProtein = item;
        }
        #endregion

        #region P53
        {
            ListP53 = DropDownListDataService.GetP53();
            var item = ListP53.FirstOrDefault(x =>
                x.Key == patientData.臨床資訊.P53);
            if (item != null)
                SelectP53 = item;
        }
        #endregion

        #region HormonStatus
        {
            ListHormonStatus = DropDownListDataService.GetHormonStatus();
            var item = ListHormonStatus.FirstOrDefault(x =>
                x.Key == patientData.臨床資訊.HormonStatus);
            if (item != null)
                SelectHormonStatus = item;
        }
        #endregion

    }

    #region 下拉選單的事件
    private async Task OnFIGO癌症分期Changed(ChangeEventArgs<DropDownListDataModel, DropDownListDataModel> args)
    {
        if (args.Value == null) return;
        patientData.臨床資訊.FIGOStaging = args.Value.Key;
    }

    private async Task OnHormonStatusChanged(ChangeEventArgs<DropDownListDataModel, DropDownListDataModel> args)
    {
        if (args.Value == null) return;
        patientData.臨床資訊.HormonStatus = args.Value.Key;
    }

    private async Task OnP53Changed(ChangeEventArgs<DropDownListDataModel, DropDownListDataModel> args)
    {
        if (args.Value == null) return;
        patientData.臨床資訊.P53 = args.Value.Key;
    }

    private async Task OnMMRProteinChanged(ChangeEventArgs<DropDownListDataModel, DropDownListDataModel> args)
    {
        if (args.Value == null) return;
        patientData.臨床資訊.MMRProtein = args.Value.Key;
    }

    private async Task OnAJCC_P_StageChanged(ChangeEventArgs<DropDownListDataModel, DropDownListDataModel> args)
    {
        if (args.Value == null) return;
        patientData.臨床資訊.AJCCPathologicalStage = args.Value.Key;
    }

    private async Task OnAJCC_C_StageChanged(ChangeEventArgs<DropDownListDataModel, DropDownListDataModel> args)
    {
        if (args.Value == null) return;
        patientData.臨床資訊.AJCCClinicalStage = args.Value.Key;
    }

    private async Task On日常體能狀態PSChanged(ChangeEventArgs<DropDownListDataModel, DropDownListDataModel> args)
    {
        if (args.Value == null) return;
        patientData.臨床資訊.PerformanceStatus = args.Value.Key;
    }

    private async Task On體重BWChanged(ChangeEventArgs<DropDownListDataModel, DropDownListDataModel> args)
    {
        if (args.Value == null) return;
        patientData.臨床資訊.Weight = args.Value.Key;
        patientData.臨床資訊.CalculateBMIAndBSA();
    }

    private async Task On身高HeightChanged(ChangeEventArgs<DropDownListDataModel, DropDownListDataModel> args)
    {
        if (args.Value == null) return;
        patientData.臨床資訊.Height = args.Value.Key;
        patientData.臨床資訊.CalculateBMIAndBSA();
    }

    private async Task On月經狀態Changed(ChangeEventArgs<DropDownListDataModel, DropDownListDataModel> args)
    {
        if (args.Value == null) return;
        patientData.臨床資訊.MenstrualStatus = args.Value.Key;
    }

    private async Task On年齡AgeChanged(ChangeEventArgs<DropDownListDataModel, DropDownListDataModel> args)
    {
        if (args.Value == null) return;
        patientData.臨床資訊.Age = args.Value.Key;
    }

    private async Task OnECOrOCCChanged(ChangeEventArgs<DropDownListDataModel, DropDownListDataModel> args)
    {
        if (args.Value == null) return;
        patientData.臨床資訊.ECorOC = args.Value.Key;
        patientData.臨床資訊.CalculateCancerType();
    }

    #endregion
 
    void OnChangeEditMode()
    {
        editMode = !editMode;
    }

    async Task OnSave()
    {
        patientAdapterModel.JsonData = patientData.ToJson();
        await PatientService.UpdateAsync(patientAdapterModel);
        editMode = false;
    }

    async Task OnCancel()
    {
        patientData.FromJson(patientAdapterModel.JsonData);
        editMode = false;
    }

    void On臨床資料()
    {
        var url = $"/ClinicalInformation/{Code}";
        NavigationManager.NavigateTo(url);
    }

    void On抽血資料()
    {
        var url = $"/BloodTest/{Code}";
        NavigationManager.NavigateTo(url);
    }

    void On副作用()
    {
        var url = $"/SideEffectPage/{Code}";
        NavigationManager.NavigateTo(url);
    }

    void On問卷()
    {
        var url = $"/Survey/{Code}";
        NavigationManager.NavigateTo(url);
    }
}
