@using AutoMapper
@using CTMS.Business.Services.Dicoms
@using CTMS.DataModel.Models.AIAgent
@using Newtonsoft.Json
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Popups
@inject NavigationManager NavigationManager
@inject PatientService PatientService
@inject DropDownListDataService DropDownListDataService
@inject Main臨床資料HelperService Main臨床資料HelperService
@inject BloodExameService BloodExameService
@inject AuthenticationStateHelper AuthenticationStateHelper
@inject RandomListService RandomListService
@inject AIIntegrateService AIIntegrateService
@inject IMapper mapper
@inject CancerStageService CancerStageService
@inject InputCsvService InputCsvService
@implements IDisposable
@inject SendEmailService SendEmailService
@inject RiskAssessmentExcelService RiskAssessmentExcelService
@inject OperationHistoryTraceService OperationHistoryTraceService
@inject AuthenticationStateHelper AuthenticationStateHelper
@inject AuthenticationStateProvider authStateProvider

<PageTitle>Basic clinical presentation 臨床資訊</PageTitle>

<div class="patient-info-page">
    <!-- 返回按鈕 - 修改為全寬背景 -->
    @* <div class="back-button-container">
        <a href="/" class="back-btn"><i class="bi bi-arrow-left"></i> 返回上頁</a>
    </div> *@

    <div class="px-4">
        <!-- 標題 -->
        <div class="title-section d-flex align-items-start">
            <div>
                <h1 class="mb-0">Basic clinical presentation 臨床資訊</h1>
                <div @onclick="async () => await OnRecomputeRandomListAsync()">
                    <SubjectNoView PatientAdapterModel="@patientAdapterModel" />
                </div>
            </div>
            @if (editMode)
            {
                <div class="btn-group mx-3 " role="group" aria-label="按鈕組">
                    <button type="button" class="btn btn-sm btn-primary save-button"
                            @onclick=OnSave>
                        儲存
                    </button>
                    <button type="button" class="btn btn-sm btn-danger cancle-button"
                            @onclick=OnCancel>
                        取消
                    </button>
                </div>
            }
            else
            {
                <div class="d-flex align-items-center">
                    <div>
                        <span class="edit-icon d-flex align-items-center cursor-pointer"
                              @onclick="OnChangeEditMode">
                            <i class="mx-3 mdi mdi-18px mdi-pencil-box-outline command-icon-width cursor-pointer"></i>編輯
                        </span>
                        <span class="edit-icon d-flex align-items-center cursor-pointer"
                              @onclick="OnShowVisitCode">
                            <i class="mx-3 mdi mdi-18px mdi-pencil-box-outline command-icon-width cursor-pointer"></i>Visit Code
                        </span>
                    </div>
                    <div class="mx-4">
                        <button class="btn btn-outline-primary"
                                @onclick=OnNotifyRadiologistAsync>
                            通知放射科醫師
                        </button>
                    </div>
                </div>
            }
        </div>

        <div class="row g-3">
            <!-- 第一個表格 - 病人基本資料 -->
            <div class="col-md-4">
                <div class="info-card patient-info">
                    <div class="">
                        <div class="header pink-header">
                            病人編號 Subject No
                            <span class="ms-2">
                                @patientData.臨床資訊.SubjectNo
                                @* @if (editMode)
                                {
                                    <SfTextBox @bind-Value="patientData.臨床資訊.SubjectNo" CssClass="w-100" />
                                }
                                else
                                {
                                    @patientData.臨床資訊.SubjectNo
                                } *@
                            </span><br />
                            <span class="small-info"><small>(E代表內膜癌, O代表卵巢癌)</small></span>
                        </div>
                    </div>


                    <table class="table table-bordered info-table">
                        <tbody>
                            <tr>
                                <td class="label-column">臨床資訊 癌別</td>
                                <td class="value-column">
                                    <div class="">
                                        @if (editMode)
                                        {
                                            <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                            Placeholder="選擇一個值" DataSource="@ListECOrOCC"
                                                            @bind-Value="@SelectECOrOCC" class="flex-grow-1">
                                                <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                                <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                                    ValueChange="@OnECOrOCCChanged"></DropDownListEvents>
                                            </SfDropDownList>
                                        }
                                        else
                                        {
                                            @patientData.臨床資訊.ECorOC
                                        }
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="label-column">年齡 (Age)</td>
                                <td class="value-column">
                                    @if (editMode)
                                    {
                                        <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                        Placeholder="選擇一個值" DataSource="@List年齡Age"
                                                        @bind-Value="@Select年齡Age" class="flex-grow-1">
                                            <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                            <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                                ValueChange="@On年齡AgeChanged"></DropDownListEvents>
                                        </SfDropDownList>
                                    }
                                    else
                                    {
                                        @patientData.臨床資訊.Age
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="label-column">月經狀態</td>
                                <td class="value-column">
                                    @if (editMode)
                                    {
                                        <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                        Placeholder="選擇一個值" DataSource="@List月經狀態"
                                                        @bind-Value="@Select月經狀態" class="flex-grow-1">
                                            <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                            <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                                ValueChange="@On月經狀態Changed"></DropDownListEvents>
                                        </SfDropDownList>
                                    }
                                    else
                                    {
                                        @patientData.臨床資訊.MenstrualStatus
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="label-column">身高 (Height) cm</td>
                                <td class="value-column">
                                    @if (editMode)
                                    {
                                        <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                        Placeholder="選擇一個值" DataSource="@List身高Height"
                                                        @bind-Value="@Select身高Height" class="flex-grow-1">
                                            <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                            <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                                ValueChange="@On身高HeightChanged"></DropDownListEvents>
                                        </SfDropDownList>
                                    }
                                    else
                                    {
                                        @patientData.臨床資訊.Height
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="label-column">體重 (BW) kg</td>
                                <td class="value-column">
                                    @if (editMode)
                                    {
                                        <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                        Placeholder="選擇一個值" DataSource="@List體重BW"
                                                        @bind-Value="@Select體重BW" class="flex-grow-1">
                                            <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                            <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                                ValueChange="@On體重BWChanged"></DropDownListEvents>
                                        </SfDropDownList>
                                    }
                                    else
                                    {
                                        @patientData.臨床資訊.Weight
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="label-column">BMI (kg / m²)</td>
                                <td class="value-column">
                                    @if (editMode)
                                    {
                                        @patientData.臨床資訊.BMI
                                    }
                                    else
                                    {
                                        @patientData.臨床資訊.BMI
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="label-column">體表面積 (BSA) m²</td>
                                <td class="value-column">
                                    @if (editMode)
                                    {
                                        @patientData.臨床資訊.BSA
                                    }
                                    else
                                    {
                                        @patientData.臨床資訊.BSA
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="label-column">腰圍 (AC) cm</td>
                                <td class="value-column">
                                    @if (editMode)
                                    {
                                        <SfTextBox @bind-Value="patientData.臨床資訊.AbdominalCircumference" CssClass="w-100" />
                                    }
                                    else
                                    {
                                        @patientData.臨床資訊.AbdominalCircumference
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="label-column">日常體能狀態 (PS)</td>
                                <td class="value-column">
                                    @if (editMode)
                                    {
                                        <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                        Placeholder="選擇一個值" DataSource="@List日常體能狀態PS"
                                                        @bind-Value="@Select日常體能狀態PS" class="flex-grow-1">
                                            <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                            <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                                ValueChange="@On日常體能狀態PSChanged"></DropDownListEvents>
                                        </SfDropDownList>
                                    }
                                    else
                                    {
                                        @patientData.臨床資訊.PerformanceStatus
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- 第二個表格 - 癌症狀態 -->
            <div class="col-md-4">
                <div class="info-card cancer-info">
                    <div class="header yellow-header">
                        癌症狀態 癌別 @patientData.臨床資訊.CancerType
                    </div>
                    <table class="table table-bordered info-table">
                        <tbody>
                            <tr>
                                <td class="label-column">癌症分期(2023 FIGO)</td>
                                <td class="value-column">
                                    @if (editMode)
                                    {
                                        <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                        Placeholder="選擇一個值" DataSource="@ListFIGO癌症分期"
                                                        @bind-Value="@SelectFIGO癌症分期" class="flex-grow-1">
                                            <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                            <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                                ValueChange="@OnFIGO癌症分期Changed"></DropDownListEvents>
                                        </SfDropDownList>
                                    }
                                    else
                                    {
                                        @patientData.臨床資訊.FIGOStaging
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="label-column">AJCC c stage</td>
                                <td class="value-column">
                                    @if (editMode)
                                    {
                                        <div>T</div>
                                        <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                        Placeholder="選擇一個值" DataSource="@ListAJCC_C_StageT"
                                                        @bind-Value="@SelectAJCC_C_StageT" class="flex-grow-1">
                                            <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                            <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                                ValueChange="@OnAJCC_C_StageTChanged"></DropDownListEvents>
                                        </SfDropDownList>
                                        <div>N</div>
                                        <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                        Placeholder="選擇一個值" DataSource="@ListAJCC_C_StageN"
                                                        @bind-Value="@SelectAJCC_C_StageN" class="flex-grow-1">
                                            <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                            <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                                ValueChange="@OnAJCC_C_StageNChanged"></DropDownListEvents>
                                        </SfDropDownList>
                                        <div>M</div>
                                        <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                        Placeholder="選擇一個值" DataSource="@ListAJCC_C_StageM"
                                                        @bind-Value="@SelectAJCC_C_StageM" class="flex-grow-1">
                                            <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                            <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                                ValueChange="@OnAJCC_C_StageMChanged"></DropDownListEvents>
                                        </SfDropDownList>
                                    }
                                    @patientData.臨床資訊.AJCCClinicalStage
                                </td>
                            </tr>
                            <tr>
                                <td class="label-column">AJCC p stage</td>
                                <td class="value-column">
                                    @if (editMode)
                                    {
                                        <div>T</div>
                                        <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                        Placeholder="選擇一個值" DataSource="@ListAJCC_P_StageT"
                                                        @bind-Value="@SelectAJCC_P_StageT" class="flex-grow-1">
                                            <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                            <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                                ValueChange="@OnAJCC_P_StageTChanged"></DropDownListEvents>
                                        </SfDropDownList>
                                        <div>N</div>
                                        <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                        Placeholder="選擇一個值" DataSource="@ListAJCC_P_StageN"
                                                        @bind-Value="@SelectAJCC_P_StageN" class="flex-grow-1">
                                            <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                            <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                                ValueChange="@OnAJCC_P_StageNChanged"></DropDownListEvents>
                                        </SfDropDownList>
                                        <div>M</div>
                                        <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                        Placeholder="選擇一個值" DataSource="@ListAJCC_P_StageM"
                                                        @bind-Value="@SelectAJCC_P_StageM" class="flex-grow-1">
                                            <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                            <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                                ValueChange="@OnAJCC_P_StageMChanged"></DropDownListEvents>
                                        </SfDropDownList>
                                    }
                                    @patientData.臨床資訊.AJCCPathologicalStage
                                </td>
                            </tr>
                            <tr>
                                <td class="label-column">組織型態</td>
                                <td class="value-column">
                                    @if (editMode)
                                    {
                                        @if (patientData.臨床資訊.ECorOC == MagicObjectHelper.EC)
                                        {
                                            <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                            Placeholder="選擇一個值" DataSource="@List組織型態"
                                                            @bind-Value="@Select組織型態" class="flex-grow-1">
                                                <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                                <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                                    ValueChange="@On組織型態Changed"></DropDownListEvents>
                                            </SfDropDownList>
                                        }

                                        <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                        Placeholder="選擇一個值" DataSource="@List組織型態Detail"
                                                        PopupWidth="auto"
                                                        @bind-Value="@Select組織型態Detail" class="flex-grow-1">
                                            <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                            <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                                ValueChange="@On組織型態DetailChanged"></DropDownListEvents>
                                        </SfDropDownList>
                                        @if (Select組織型態Detail != null && Select組織型態Detail.Key == "Others")
                                        {
                                            <SfTextBox @bind-Value="patientData.臨床資訊.HistologicalTypeDetailOther" CssClass="w-100" />
                                        }
                                    }
                                    else
                                    {
                                        @if (patientData.臨床資訊.ECorOC == MagicObjectHelper.EC)
                                        {
                                            @patientData.臨床資訊.HistologicalType

                                            <br />
                                        }
                                        @patientData.臨床資訊.HistologicalTypeDetail
                                        @if (Select組織型態Detail != null && Select組織型態Detail!.Key == "Others")
                                        {
                                            <br />
                                            @patientData.臨床資訊.HistologicalTypeDetailOther
                                        }
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="label-column">MMR protein</td>
                                <td class="value-column">
                                    @if (editMode)
                                    {
                                        <button class="btn btn-primary"
                                                @onclick=OnShowMMRProteinSetting>
                                            設定
                                        </button>
                                        <div>
                                            @patientData.臨床資訊.MMRProteinSetting.GetProteinResult()
                                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            @patientData.臨床資訊.MMRProteinSetting.GetProteinResult()
                                        </div>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="label-column">p53</td>
                                <td class="value-column">
                                    @if (editMode)
                                    {
                                        <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                        Placeholder="選擇一個值" DataSource="@ListP53"
                                                        @bind-Value="@SelectP53" class="flex-grow-1">
                                            <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                            <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                                ValueChange="@OnP53Changed"></DropDownListEvents>
                                        </SfDropDownList>
                                    }
                                    else
                                    {
                                        @patientData.臨床資訊.P53
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="label-column">Hormon status</td>
                                <td class="value-column">
                                    @if (editMode)
                                    {
                                        <div>ER</div>
                                        <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                        Placeholder="選擇一個值" DataSource="@ListHormonStatusER"
                                                        @bind-Value="@SelectHormonStatusER" class="flex-grow-1">
                                            <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                            <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                                ValueChange="@OnHormonStatusERChanged"></DropDownListEvents>
                                        </SfDropDownList>
                                        <div class="d-flex align-items-center">
                                            <SfTextBox @bind-Value="patientData.臨床資訊.HormonStatusERPercent" CssClass="me-2" />
                                            <span>%</span>
                                        </div>
                                        <div class="mt-2">PR</div>
                                        <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                        Placeholder="選擇一個值" DataSource="@ListHormonStatusPR"
                                                        @bind-Value="@SelectHormonStatusPR" class="flex-grow-1">
                                            <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                            <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                                ValueChange="@OnHormonStatusPRChanged"></DropDownListEvents>
                                        </SfDropDownList>
                                        <div class="d-flex align-items-center">
                                            <SfTextBox @bind-Value="patientData.臨床資訊.HormonStatusPRPercent" CssClass="me-2" />
                                            <span>%</span>
                                        </div>
                                    }
                                    else
                                    {
                                        @patientData.臨床資訊.GetErPrStatus()
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- 第三和第四個區塊 - CT Image 與 Report -->
            <div class="col-md-4">
                <div class="info-card image-card">
                    <div class="header green-header">
                        CT Image
                    </div>
                    <div class="empty-image-area" style="display:flex; justify-content:center">
                        <img src="@($"{image}?v={imageVersion}")" class="responsive-image" />
                    </div>
                </div>
                <div class="info-card report-card mt-3">
                    <div class="d-flex gap-3 w-100">
                        @if (AuthenticationStateHelper.CheckAccessPage(MagicObjectHelper.ROLEAI操作) == true)
                        {
                        <button class="btn flex-fill" style="background-color:#cfe2ff"
                                @onclick=OnUploadBtn>
                            上傳影像
                        </button>
                            <button class="btn flex-fill" style="background-color:#cfe2ff"
                                    @onclick=OnUploadEditAnnotationsBtn>
                                上傳修改標註
                            </button>
                            <button class="btn flex-fill" style="background-color:#cfe2ff"
                                @onclick=OnPushToAIBtn>
                            AI推論
                        </button>
                        <button class="btn flex-fill" style="background-color:#cfe2ff"
                                @onclick=OnConfirmAIBtn>
                            推論狀態呈現
                        </button>
                        }
                    </div>
                </div>
            </div>
        </div>

        <!-- 底部導航按鈕 -->
        @* <div class="navigation-buttons">
            <div class="row g-2">
                <div class="col-2">
                    <button class="btn btn-light btn-pink w-100" @onclick=On臨床資料>臨床資料</button>
                </div>
                <div class="col-2">
                    <button class="btn btn-light btn-yellow w-100" @onclick=On抽血資料>抽血資料</button>
                </div>
                <div class="col-2">
                    <button class="btn btn-light btn-green w-100" @onclick=On副作用>CTCAE 5.0</button>
                </div>
                <div class="col-2">
                    <button class="btn btn-light btn-blue w-100" @onclick=On問卷>問卷</button>
                </div>
                <div class="col-2">
                    <button class="btn btn-light btn-pink w-100" @onclick=On追蹤資料>追蹤資料</button>
                </div>
                <div class="col-2">
                    <button class="btn btn-light btn-yellow w-100" @onclick=On風險評估>風險評估</button>
                </div>
            </div>
        </div> *@
    </div>
</div>

<MMRProteinSettingDialog OpenPicker=ShowMMRProteinSettingDialog
                         data=patientData.臨床資訊.MMRProteinSetting
                         OnConfirmCallback=OnMMRProteinSettingAsync />

<VisitCodeDialog OpenPicker=ShowVisitCodeDialog
                 Code="@Code"
                 data=VisitCodeSetModel
                 OnConfirmCallback=OnVisitCodeAsync />

<UploadDicomDialog OpenPicker=ShowUploadDicomDialog
                   SubjectNo="@SubjectNo"
                   OnConfirmCallback=OnUploadDicomAsync />

<MessageBox Height="@MessageBox.Height" Width="@MessageBox.Width"
            IsVisible="@MessageBox.IsVisible"
            Title="@MessageBox.Title" Message="@MessageBox.Body"
            Callback="MessageBox.MessageDelegate" />

<ConfirmBox Height="@ConfirmMessageBox.Height" Width="@ConfirmMessageBox.Width"
            IsVisible="@ConfirmMessageBox.IsVisible"
            Title="@ConfirmMessageBox.Title" Message="@ConfirmMessageBox.Body"
            Callback="ConfirmMessageBox.ConfirmDelegate" />

<UploadDicom Height="@UploadDicomModel.Height" Width="@UploadDicomModel.Width"
             IsVisible="@UploadDicomModel.IsVisible"
             Title="@UploadDicomModel.Title" Message="@UploadDicomModel.Body"
             Callback="UploadDicomModel.ConfirmDelegate" />

<NotifyDicomDialog OpenPicker=showNotyfyDicomDialog OnConfirmCallback="OnNotifyDicomDialog" />

<DialogBackground />

@code {


}
