@using Syncfusion.Blazor
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars
@inject NavigationManager NavigationManager
@inject PatientService PatientService
@inject DropDownListDataService DropDownListDataService
@inject SurveyService SurveyService

<PageTitle>臨床資料 化療副作用</PageTitle>

<div>

    <div class="header" style="display: flex; align-items: center;">
        <h1 style="margin: 0; flex-grow: 1;">臨床資料 化療副作用</h1>
        @* @if (editMode)
        {
            <div class="btn-group" role="group" aria-label="按鈕組">
                <button type="button" class="btn btn-primary save-button"
                @onclick=OnSave>
                    儲存
                </button>
                <button type="button" class="btn btn-danger cancel-button"
                @onclick=OnCancel>
                    取消
                </button>
            </div>
        }
        else
        {
            <span class="mx-3 mdi mdi-36px mdi-square-edit-outline command-icon-width cursor-pointer"
            @onclick=OnChangeEditMode></span>
        } *@
    </div>

    <div>
        <div class="d-flex align-items-center">
            <div>Visit code</div>
            @*             <div class="flex-grow-1 ms-2">
                @if (editMode)
                {
                    <SfTextBox @bind-Value="data.VisitCode" />
                }
                else
                {
                    @data.VisitCode
                }
            </div>
 *@        </div>

    </div>
    <div class="view-container">
        <div class="">
            @foreach (var item in data.Questions)
            {
                if (item.IsVisible == false)
                {
                    continue;
                }

                <div class="card my-4">
                    <div class="card-header">
                        <h3><span>@item.Id </span>@item.Text</h3>
                    </div>
                    <div class="card-body">
                        @if (item.Options != null && item.Options.Count>0)
                        {
                            foreach (var itemOption in item.Options)
                            {
                                string title = $"{itemOption.Value} {itemOption.Label}";

                                <div @onclick="() =>
                                    OnOptionChange(item, item.Options, itemOption)">
                                    <span class="mx-3 mdi mdi-24px @itemOption.CheckBoxIcon command-icon-width cursor-pointer"
                                    ></span>
                                    <span class="card-text my-2 cursor-pointer">@title</span>
                                </div>
                            }
                            <div>@item.Answer</div>
                        }
                        else
                        {
                            <SfTextBox @bind-Value="item.Answer" />
                        }
                    </div>
                </div>
                <div>
                </div>
            }
        
        </div>
        <div>
            <button type="button" class="btn btn-primary" @onclick=OnSaveAsync>儲存</button>
        </div>
    </div>
</div>


<MessageBox Height="@MessageBox.Height" Width="@MessageBox.Width"
            IsVisible="@MessageBox.IsVisible"
            Title="@MessageBox.Title" Message="@MessageBox.Body"
            Callback="MessageBox.MessageDelegate" />

<ConfirmBox Height="@ConfirmMessageBox.Height" Width="@ConfirmMessageBox.Width"
            IsVisible="@ConfirmMessageBox.IsVisible"
            Title="@ConfirmMessageBox.Title" Message="@ConfirmMessageBox.Body"
            Callback="ConfirmMessageBox.ConfirmDelegate" />

<DialogBackground />

@code {
    [Parameter]
    public string Code { get; set; }

    ConfirmBoxModel ConfirmMessageBox { get; set; } = new ConfirmBoxModel();
    MessageBoxModel MessageBox { get; set; } = new MessageBoxModel();
 
    PatientData patientData = new();
    PatientAdapterModel patientAdapterModel = new();
    bool editMode = false;
    Survey data = new();
    protected override async Task OnInitializedAsync()
    {
        patientAdapterModel = await PatientService.GetAsync(Code);
        patientData.FromJson(patientAdapterModel.JsonData);
        data = patientData.臨床資料.問卷.化療副作用;
        SurveyService.Reset(data);
        foreach (var item in data.Questions)
        {
            SurveyService.RefreshByQuestionChanged(data, item);

        }
        // BloodExameService.CheckBloodExame(data);
    }


    void OnChangeEditMode()
    {
        editMode = !editMode;
    }

    async Task OnSaveAsync()
    {
        // BloodExameService.CheckBloodExame(data);
        // data = patientData.臨床資料.問卷.化療副作用;
        patientAdapterModel.JsonData = patientData.ToJson();
        await PatientService.UpdateAsync(patientAdapterModel);
        editMode = false;
        // <MessageBox Height="@MessageBox.Height" Width="@MessageBox.Width"
        //             IsVisible="@MessageBox.IsVisible"
        //             Title="@MessageBox.Title" Message="@MessageBox.Body"
        //             Callback="MessageBox.MessageDelegate" />

        MessageBox.Show("400px", "200px", "資訊", "儲存成功", MessageBox.HiddenAsync);
    }

    async Task OnCancel()
    {
        patientData.FromJson(patientAdapterModel.JsonData);
        editMode = false;
        data = patientData.臨床資料.問卷.化療副作用;
        // BloodExameService.CheckBloodExame(data);
    }

    void OnOptionChange(Question question, List<Option> options, Option option)
    {
        question.Answer = "";
        foreach (var item in options)
        {
            item.CheckBoxIcon = MagicObjectHelper.CheckBoxBlankIcon;
        }

        option.CheckBoxIcon = MagicObjectHelper.CheckBoxIcon;
        question.Answer = option.Value.ToString();

        SurveyService.RefreshByQuestionChanged(data, question);
    }
}
