@using Syncfusion.Blazor
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars
@inject NavigationManager NavigationManager
@inject PatientService PatientService
@inject DropDownListDataService DropDownListDataService

<PageTitle>臨床資料 手術</PageTitle>

<div>

    <div class="header" style="display: flex; align-items: center;">
        <h1 style="margin: 0; flex-grow: 1;">臨床資料 手術</h1>
        @if (editMode)
        {
            <div class="btn-group" role="group" aria-label="按鈕組">
                <button type="button" class="btn btn-primary save-button"
                        @onclick=OnSave>
                    儲存
                </button>
                <button type="button" class="btn btn-danger cancle-button"
                        @onclick=OnCancel>
                    取消
                </button>
            </div>
        }
        else
        {
            <span class="mx-3 mdi mdi-36px mdi-square-edit-outline command-icon-width cursor-pointer"
                  @onclick=OnChangeEditMode></span>
        }
    </div>

    <div>
        <div class="d-flex align-items-center">
            <div>Visit code</div>
            <div class="flex-grow-1 ms-2">
                @if (editMode)
                {
                    <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                    Placeholder="選擇一個值" DataSource="@ListVisitCode"
                                    @bind-Value="@SelectVisitCode" class="flex-grow-1">
                        <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                        <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                            ValueChange="@OnVisitCodeChanged"></DropDownListEvents>
                    </SfDropDownList>
                }
                else
                {
                    @patientData.臨床資料.臨床資料手術.VisitCode
                }
            </div>
        </div>

    </div>
    <div class="view-container">
        <!-- Left Table -->
        <div class="left-table">
            <table>
                <tr>
                    <td class="w-25 data-title">
                        Subject No.
                    </td>
                    <td class="w-25 data-title">
                        手術日期
                    </td>
                    <td class="w-25 data-title">
                        術式
                    </td>
                    <td class="w-25 data-title">
                        OP outcome
                    </td>
                </tr>
                <tr>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfTextBox @bind-Value="patientData.臨床資料.臨床資料手術.SubjectNo" />
                        }
                        else
                        {
                            <div class="data-value">
                                @patientData.臨床資料.臨床資料手術.SubjectNo
                            </div>
                        }
                    </td>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfDatePicker TValue="DateTime" Format="yyyy-MM-dd"
                                          @bind-Value="@patientData.臨床資料.臨床資料手術.手術日期"></SfDatePicker>
                        }
                        else
                        {
                            <div class="data-value">
                                @patientData.臨床資料.臨床資料手術.手術日期.ToString("yyyy-MM-dd")
                            </div>
                        }
                    </td>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfTextBox @bind-Value="patientData.臨床資料.臨床資料手術.術式" />
                        }
                        else
                        {
                            <div class="data-value">
                                @patientData.臨床資料.臨床資料手術.術式
                            </div>
                        }
                    </td>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfTextBox @bind-Value="patientData.臨床資料.臨床資料手術.OPOutcome" />
                        }
                        else
                        {
                            <div class="data-value">
                                @patientData.臨床資料.臨床資料手術.OPOutcome
                            </div>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="w-25 data-title">
                        【Ascites】
                    </td>
                    <td class="w-25 data-title">
                        【Uterus】
                    </td>
                    <td class="w-25 data-title">
                        【Cervix】
                    </td>
                    <td class="w-25 data-title">
                        【Endometrium】
                    </td>
                </tr>
                <tr>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                            Placeholder="選擇一個值" DataSource="@ListAscites"
                                            @bind-Value="@SelectAscites" class="flex-grow-1">
                                <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                    ValueChange="@OnAscitesChanged"></DropDownListEvents>
                            </SfDropDownList>
                        }
                        else
                        {
                            <div class="data-value">
                                @patientData.臨床資料.臨床資料手術.Ascites
                            </div>
                        }
                    </td>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                            Placeholder="選擇一個值" DataSource="@ListUterus"
                                            @bind-Value="@SelectUterus" class="flex-grow-1">
                                <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                    ValueChange="@OnUterusChanged"></DropDownListEvents>
                            </SfDropDownList>
                            @if (patientData.臨床資料.臨床資料手術.Uterus == "abnormal")
                            {
                                <div>
                                    site
                                </div>
                                <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                Placeholder="選擇一個值" DataSource="@ListUterusSite"
                                                @bind-Value="@SelectUterusSite" class="flex-grow-1">
                                    <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                    <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                        ValueChange="@OnUterusSiteChanged"></DropDownListEvents>
                                </SfDropDownList>
                                <div>
                                    Tumor number
                                </div>
                                <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                Placeholder="選擇一個值" DataSource="@ListUterusTumorNumber"
                                                @bind-Value="@SelectUterusTumorNumber" class="flex-grow-1">
                                    <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                    <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                        ValueChange="@OnUterusTumorNumberChanged"></DropDownListEvents>
                                </SfDropDownList>
                                <div>
                                    Tumor size
                                </div>
                                <SfTextBox @bind-Value="patientData.臨床資料.臨床資料手術.UterusTumorSize" />
                            }
                        }
                        else
                        {
                            <div class="data-value">
                                @patientData.臨床資料.臨床資料手術.Uterus
                                @if (patientData.臨床資料.臨床資料手術.Uterus == "abnormal")
                                {
                                    <div>
                                        site: @patientData.臨床資料.臨床資料手術.UterusSite
                                    </div>
                                    <div>
                                        Tumor number: @patientData.臨床資料.臨床資料手術.UterusTumorNumber
                                    </div>
                                    <div>
                                        Tumor size: @patientData.臨床資料.臨床資料手術.UterusTumorSize
                                    </div>
                                }
                            </div>
                        }
                    </td>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                            Placeholder="選擇一個值" DataSource="@ListCervix"
                                            @bind-Value="@SelectCervix" class="flex-grow-1">
                                <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                    ValueChange="@OnCervixChanged"></DropDownListEvents>
                            </SfDropDownList>
                            @if (patientData.臨床資料.臨床資料手術.Cervix == "abnormal")
                            {
                                <div>
                                    site
                                </div>
                                <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                Placeholder="選擇一個值" DataSource="@ListCervixSite"
                                                @bind-Value="@SelectCervixSite" class="flex-grow-1">
                                    <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                    <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                        ValueChange="@OnCervixSiteChanged"></DropDownListEvents>
                                </SfDropDownList>
                                <div>
                                    Tumor number
                                </div>
                                <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                Placeholder="選擇一個值" DataSource="@ListCervixTumorNumber"
                                                @bind-Value="@SelectCervixTumorNumber" class="flex-grow-1">
                                    <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                    <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                        ValueChange="@OnCervixTumorNumberChanged"></DropDownListEvents>
                                </SfDropDownList>
                            }
                        }
                        else
                        {
                            <div class="data-value">
                                @patientData.臨床資料.臨床資料手術.Cervix
                                @if (patientData.臨床資料.臨床資料手術.Cervix == "abnormal")
                                {
                                    <div>
                                        site: @patientData.臨床資料.臨床資料手術.CervixSite
                                    </div>
                                    <div>
                                        Tumor number: @patientData.臨床資料.臨床資料手術.CervixTumorNumber
                                    </div>
                                }
                            </div>
                        }
                    </td>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                            Placeholder="選擇一個值" DataSource="@ListEndometrium"
                                            @bind-Value="@SelectEndometrium" class="flex-grow-1">
                                <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                    ValueChange="@OnEndometriumChanged"></DropDownListEvents>
                            </SfDropDownList>
                        }
                        else
                        {
                            <div class="data-value">
                                @patientData.臨床資料.臨床資料手術.Endometrium
                            </div>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="w-25 data-title">
                        【Myometrium】
                    </td>
                    <td class="w-25 data-title">
                        【Cul de sac】
                    </td>
                    <td class="w-25 data-title">
                        【Ovarian surface rupture or not】-Right ovary
                    </td>
                    <td class="w-25 data-title">
                        【Ovarian surface rupture or not】-Left ovary
                    </td>
                </tr>
                <tr>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfTextBox @bind-Value="patientData.臨床資料.臨床資料手術.Myometrium" />
                        }
                        else
                        {
                            <div class="data-value">
                                @patientData.臨床資料.臨床資料手術.Myometrium
                            </div>
                        }
                    </td>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfTextBox @bind-Value="patientData.臨床資料.臨床資料手術.CulDeSac" />
                        }
                        else
                        {
                            <div class="data-value">
                                @patientData.臨床資料.臨床資料手術.CulDeSac
                            </div>
                        }
                    </td>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                            Placeholder="選擇一個值" DataSource="@ListOvarianSurfaceRuptureOrNotLeftOvary"
                                            @bind-Value="@SelectOvarianSurfaceRuptureOrNotLeftOvary" class="flex-grow-1">
                                <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                    ValueChange="@OnOvarianSurfaceRuptureOrNotLeftOvaryChanged"></DropDownListEvents>
                            </SfDropDownList>
                        }
                        else
                        {
                            <div class="data-value">
                                @patientData.臨床資料.臨床資料手術.OvarianSurfaceRuptureOrNotLeftOvary
                            </div>
                        }
                    </td>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                            Placeholder="選擇一個值" DataSource="@ListOvarianSurfaceRuptureOrNotRightOvary"
                                            @bind-Value="@SelectOvarianSurfaceRuptureOrNotRightOvary" class="flex-grow-1">
                                <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                    ValueChange="@OnOvarianSurfaceRuptureOrNotRightOvaryChanged"></DropDownListEvents>
                            </SfDropDownList>
                        }
                        else
                        {
                            <div class="data-value">
                                @patientData.臨床資料.臨床資料手術.OvarianSurfaceRuptureOrNotRightOvary
                            </div>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="w-25 data-title">
                        【Left adnexa】
                    </td>
                    <td class="w-25 data-title">
                        【Right adnexa】
                    </td>
                    <td class="w-25 data-title">
                        【Pelvic peritoneal cavity】
                    </td>
                    <td class="w-25 data-title">
                        【Extrapelvic peritoneal cavity】
                    </td>
                </tr>
                <tr>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                            Placeholder="選擇一個值" DataSource="@ListLeftAdnexa"
                                            @bind-Value="@SelectLeftAdnexa" class="flex-grow-1">
                                <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                    ValueChange="@OnLeftAdnexaChanged"></DropDownListEvents>
                            </SfDropDownList>
                            @if (patientData.臨床資料.臨床資料手術.LeftAdnexa == "abnormal")
                            {
                                <div>
                                    Tumor number
                                </div>
                                <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                Placeholder="選擇一個值" DataSource="@ListLeftAdnexaTumorNumber"
                                                @bind-Value="@SelectLeftAdnexaTumorNumber" class="flex-grow-1">
                                    <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                    <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                        ValueChange="@OnLeftAdnexaTumorNumberChanged"></DropDownListEvents>
                                </SfDropDownList>
                                <div>
                                    Tumor size
                                </div>
                                <SfTextBox @bind-Value="patientData.臨床資料.臨床資料手術.LeftAdnexaTumorSize" />
                            }
                        }
                        else
                        {
                            <div class="data-value">
                                @patientData.臨床資料.臨床資料手術.LeftAdnexa
                                @if (patientData.臨床資料.臨床資料手術.LeftAdnexa == "abnormal")
                                {
                                    <div>
                                        Tumor number: @patientData.臨床資料.臨床資料手術.LeftAdnexaTumorNumber
                                    </div>
                                    <div>
                                        Tumor size: @patientData.臨床資料.臨床資料手術.LeftAdnexaTumorSize
                                    </div>
                                }
                            </div>
                        }
                    </td>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                            Placeholder="選擇一個值" DataSource="@ListRightAdnexa"
                                            @bind-Value="@SelectRightAdnexa" class="flex-grow-1">
                                <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                    ValueChange="@OnRightAdnexaChanged"></DropDownListEvents>
                            </SfDropDownList>
                            @if (patientData.臨床資料.臨床資料手術.RightAdnexa == "abnormal")
                            {
                                <div>
                                    Tumor number
                                </div>
                                <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                                Placeholder="選擇一個值" DataSource="@ListRightAdnexaTumorNumber"
                                                @bind-Value="@SelectRightAdnexaTumorNumber" class="flex-grow-1">
                                    <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                    <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                        ValueChange="@OnRightAdnexaTumorNumberChanged"></DropDownListEvents>
                                </SfDropDownList>
                                <div>
                                    Tumor size
                                </div>
                                <SfTextBox @bind-Value="patientData.臨床資料.臨床資料手術.RightAdnexaTumorSize" />
                            }
                        }
                        else
                        {
                            <div class="data-value">
                                @patientData.臨床資料.臨床資料手術.RightAdnexa
                                @if (patientData.臨床資料.臨床資料手術.RightAdnexa == "abnormal")
                                {
                                    <div>
                                        Tumor number: @patientData.臨床資料.臨床資料手術.RightAdnexaTumorNumber
                                    </div>
                                    <div>
                                        Tumor size: @patientData.臨床資料.臨床資料手術.RightAdnexaTumorSize
                                    </div>
                                }
                            </div>
                        }
                    </td>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                            Placeholder="選擇一個值" DataSource="@ListPelvicPeritonealCavity"
                                            @bind-Value="@SelectPelvicPeritonealCavity" class="flex-grow-1">
                                <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                    ValueChange="@OnPelvicPeritonealCavityChanged"></DropDownListEvents>
                            </SfDropDownList>
                            @if (patientData.臨床資料.臨床資料手術.PelvicPeritonealCavity == "abnormal")
                            {
                                <div>
                                    Tumor size
                                </div>
                                <SfTextBox @bind-Value="patientData.臨床資料.臨床資料手術.PelvicPeritonealCavityTumorSize" />
                            }
                        }
                        else
                        {
                            <div class="data-value">
                                @patientData.臨床資料.臨床資料手術.RightAdnexa
                                @if (patientData.臨床資料.臨床資料手術.RightAdnexa == "abnormal")
                                {
                                    <div>
                                        Tumor size: @patientData.臨床資料.臨床資料手術.RightAdnexaTumorSize
                                    </div>
                                }
                            </div>
                        }
                    </td>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfTextBox @bind-Value="patientData.臨床資料.臨床資料手術.ExtrapelvicPeritonealCavity" />
                        }
                        else
                        {
                            <div class="data-value">
                                @patientData.臨床資料.臨床資料手術.ExtrapelvicPeritonealCavity
                            </div>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="w-25 data-title">
                        【Other organ involvement (gross looking)】
                    </td>
                    <td class="w-25 data-title">
                        【Optimal】
                    </td>
                    <td class="w-25 data-title">
                        【Residual tumor】
                    </td>
                    <td class="w-25 data-title">
                    </td>
                </tr>
                <tr>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfTextBox @bind-Value="patientData.臨床資料.臨床資料手術.OtherOrganInvolvementGrossLooking" />
                        }
                        else
                        {
                            <div class="data-value">
                                @patientData.臨床資料.臨床資料手術.OtherOrganInvolvementGrossLooking
                            </div>
                        }
                    </td>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfTextBox @bind-Value="patientData.臨床資料.臨床資料手術.Optimal" />
                        }
                        else
                        {
                            <div class="data-value">
                                @patientData.臨床資料.臨床資料手術.Optimal
                            </div>
                        }
                    </td>
                    <td class="w-25 data-title">
                        【Residual tumor】
                        @if (editMode)
                        {
                            <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                            Placeholder="選擇一個值" DataSource="@ListResidualTumor"
                                            @bind-Value="@SelectResidualTumor" class="flex-grow-1">
                                <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                                <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                                    ValueChange="@OnResidualTumorChanged"></DropDownListEvents>
                            </SfDropDownList>
                        }
                        else
                        {
                            <div class="data-value">
                                @patientData.臨床資料.臨床資料手術.ResidualTumor
                            </div>
                        }
                    </td>
                    <td class="w-25 data-title">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Code { get; set; }

    PatientData patientData = new();
    PatientAdapterModel patientAdapterModel = new();
    bool editMode = false;

    protected override async Task OnInitializedAsync()
    {
        // Simulate fetching data from a service
        patientAdapterModel = await PatientService.GetAsync(Code);
        patientData.FromJson(patientAdapterModel.JsonData);
        DropDownListDataInit();
    }


    List<DropDownListDataModel> ListVisitCode = new List<DropDownListDataModel>();
    DropDownListDataModel SelectVisitCode = new DropDownListDataModel();
    List<DropDownListDataModel> ListAscites = new List<DropDownListDataModel>();
    DropDownListDataModel SelectAscites = new DropDownListDataModel();
    List<DropDownListDataModel> ListUterus = new List<DropDownListDataModel>();
    DropDownListDataModel SelectUterus = new DropDownListDataModel();
    List<DropDownListDataModel> ListUterusSite = new List<DropDownListDataModel>();
    DropDownListDataModel SelectUterusSite = new DropDownListDataModel();
    List<DropDownListDataModel> ListUterusTumorNumber = new List<DropDownListDataModel>();
    DropDownListDataModel SelectUterusTumorNumber = new DropDownListDataModel();
    List<DropDownListDataModel> ListCervix = new List<DropDownListDataModel>();
    DropDownListDataModel SelectCervix = new DropDownListDataModel();
    List<DropDownListDataModel> ListCervixSite = new List<DropDownListDataModel>();
    DropDownListDataModel SelectCervixSite = new DropDownListDataModel();
    List<DropDownListDataModel> ListCervixTumorNumber = new List<DropDownListDataModel>();
    DropDownListDataModel SelectCervixTumorNumber = new DropDownListDataModel();
    List<DropDownListDataModel> ListEndometrium = new List<DropDownListDataModel>();
    DropDownListDataModel SelectEndometrium = new DropDownListDataModel();
    List<DropDownListDataModel> ListOvarianSurfaceRuptureOrNotRightOvary = new List<DropDownListDataModel>();
    DropDownListDataModel SelectOvarianSurfaceRuptureOrNotRightOvary = new DropDownListDataModel();
    List<DropDownListDataModel> ListOvarianSurfaceRuptureOrNotLeftOvary = new List<DropDownListDataModel>();
    DropDownListDataModel SelectOvarianSurfaceRuptureOrNotLeftOvary = new DropDownListDataModel();
    List<DropDownListDataModel> ListLeftAdnexa = new List<DropDownListDataModel>();
    DropDownListDataModel SelectLeftAdnexa = new DropDownListDataModel();
    List<DropDownListDataModel> ListLeftAdnexaTumorNumber = new List<DropDownListDataModel>();
    DropDownListDataModel SelectLeftAdnexaTumorNumber = new DropDownListDataModel();
    List<DropDownListDataModel> ListRightAdnexa = new List<DropDownListDataModel>();
    DropDownListDataModel SelectRightAdnexa = new DropDownListDataModel();
    List<DropDownListDataModel> ListRightAdnexaTumorNumber = new List<DropDownListDataModel>();
    DropDownListDataModel SelectRightAdnexaTumorNumber = new DropDownListDataModel();
    List<DropDownListDataModel> ListPelvicPeritonealCavity = new List<DropDownListDataModel>();
    DropDownListDataModel SelectPelvicPeritonealCavity = new DropDownListDataModel();
    List<DropDownListDataModel> ListResidualTumor = new List<DropDownListDataModel>();
    DropDownListDataModel SelectResidualTumor = new DropDownListDataModel();

    void DropDownListDataInit()
    {
        #region ResidualTumor
        {
            ListResidualTumor = DropDownListDataService.GetResidualTumor();
            var item = ListResidualTumor.FirstOrDefault(x => x.Key == patientData.臨床資料.臨床資料手術.ResidualTumor);
            if (item != null)
                SelectResidualTumor = item;
        }
        #endregion

        #region PelvicPeritonealCavity
        {
            ListPelvicPeritonealCavity = DropDownListDataService.GetPelvicPeritonealCavity();
            var item = ListPelvicPeritonealCavity.FirstOrDefault(x => x.Key == patientData.臨床資料.臨床資料手術.PelvicPeritonealCavity);
            if (item != null)
                SelectPelvicPeritonealCavity = item;
        }
        #endregion

        #region RightAdnexa
        {
            ListRightAdnexa = DropDownListDataService.GetRightAdnexa();
            var item = ListRightAdnexa.FirstOrDefault(x => x.Key == patientData.臨床資料.臨床資料手術.RightAdnexa);
            if (item != null)
                SelectRightAdnexa = item;
        }
        #endregion

        #region RightAdnexaTumorNumber
        {
            ListRightAdnexaTumorNumber = DropDownListDataService.GetTumorNumber();
            var item = ListRightAdnexaTumorNumber.FirstOrDefault(x => x.Key == patientData.臨床資料.臨床資料手術.RightAdnexaTumorNumber);
            if (item != null)
                SelectRightAdnexaTumorNumber = item;
        }
        #endregion

        #region LeftAdnexa
        {
            ListLeftAdnexa = DropDownListDataService.GetLeftAdnexa();
            var item = ListLeftAdnexa.FirstOrDefault(x => x.Key == patientData.臨床資料.臨床資料手術.LeftAdnexa);
            if (item != null)
                SelectLeftAdnexa = item;
        }
        #endregion

        #region LeftAdnexaTumorNumber
        {
            ListLeftAdnexaTumorNumber = DropDownListDataService.GetTumorNumber();
            var item = ListLeftAdnexaTumorNumber.FirstOrDefault(x => x.Key == patientData.臨床資料.臨床資料手術.LeftAdnexaTumorNumber);
            if (item != null)
                SelectLeftAdnexaTumorNumber = item;
        }
        #endregion

        #region OvarianSurfaceRuptureOrNotLeftOvary
        {
            ListOvarianSurfaceRuptureOrNotLeftOvary = DropDownListDataService.GetOvarianSurfaceRuptureOrNotLeftOvary();
            var item = ListOvarianSurfaceRuptureOrNotLeftOvary.FirstOrDefault(x => x.Key == patientData.臨床資料.臨床資料手術.OvarianSurfaceRuptureOrNotLeftOvary);
            if (item != null)
                SelectOvarianSurfaceRuptureOrNotLeftOvary = item;
        }
        #endregion

        #region OvarianSurfaceRuptureOrNotRightOvary
        {
            ListOvarianSurfaceRuptureOrNotRightOvary = DropDownListDataService.GetOvarianSurfaceRuptureOrNotRightOvary();
            var item = ListOvarianSurfaceRuptureOrNotRightOvary.FirstOrDefault(x => x.Key == patientData.臨床資料.臨床資料手術.OvarianSurfaceRuptureOrNotRightOvary);
            if (item != null)
                SelectOvarianSurfaceRuptureOrNotRightOvary = item;
        }
        #endregion

        #region Endometrium
        {
            ListEndometrium = DropDownListDataService.GetEndometrium();
            var item = ListEndometrium.FirstOrDefault(x => x.Key == patientData.臨床資料.臨床資料手術.Endometrium);
            if (item != null)
                SelectEndometrium = item;
        }
        #endregion

        #region Cervix
        {
            ListCervix = DropDownListDataService.GetCervix();
            var item = ListCervix.FirstOrDefault(x => x.Key == patientData.臨床資料.臨床資料手術.Cervix);
            if (item != null)
                SelectCervix = item;
        }
        #endregion

        #region UterusTumorNumber
        {
            ListUterusTumorNumber = DropDownListDataService.GetTumorNumber();
            var item = ListUterusTumorNumber.FirstOrDefault(x => x.Key == patientData.臨床資料.臨床資料手術.UterusTumorNumber);
            if (item != null)
                SelectUterusTumorNumber = item;
        }
        #endregion

        #region CervixSite
        {
            ListCervixSite = DropDownListDataService.GetSite();
            var item = ListCervixSite.FirstOrDefault(x => x.Key == patientData.臨床資料.臨床資料手術.CervixSite);
            if (item != null)
                SelectCervixSite = item;
        }
        #endregion

        #region CervixTumorNumber
        {
            ListCervixTumorNumber = DropDownListDataService.GetTumorNumber();
            var item = ListCervixTumorNumber.FirstOrDefault(x => x.Key == patientData.臨床資料.臨床資料手術.CervixTumorNumber);
            if (item != null)
                SelectCervixTumorNumber = item;
        }
        #endregion

        #region Uterus
        {
            ListUterus = DropDownListDataService.GetUterus();
            var item = ListUterus.FirstOrDefault(x => x.Key == patientData.臨床資料.臨床資料手術.Uterus);
            if (item != null)
                SelectUterus = item;
        }
        #endregion

        #region UterusSite
        {
            ListUterusSite = DropDownListDataService.GetSite();
            var item = ListUterusSite.FirstOrDefault(x => x.Key == patientData.臨床資料.臨床資料手術.UterusSite);
            if (item != null)
                SelectUterusSite = item;
        }
        #endregion

        #region Ascites
        {
            ListAscites = DropDownListDataService.GetAscites();
            var item = ListAscites.FirstOrDefault(x => x.Key == patientData.臨床資料.臨床資料手術.Ascites);
            if (item != null)
                SelectAscites = item;
        }
        #endregion

        #region VisitCode
        {
            ListVisitCode = DropDownListDataService.GetVisitCode();
            var item = ListVisitCode.FirstOrDefault(x => x.Key == patientData.臨床資料.臨床資料手術.VisitCode);
            if (item != null)
                SelectVisitCode = item;
        }
        #endregion

    }

    #region 下拉選單的事件
    private async Task OnResidualTumorChanged(ChangeEventArgs<DropDownListDataModel, DropDownListDataModel> args)
    {
        patientData.臨床資料.臨床資料手術.ResidualTumor = args.Value.Key;
    }

    private async Task OnRightAdnexaChanged(ChangeEventArgs<DropDownListDataModel, DropDownListDataModel> args)
    {
        patientData.臨床資料.臨床資料手術.RightAdnexa = args.Value.Key;
    }

    private async Task OnPelvicPeritonealCavityChanged(ChangeEventArgs<DropDownListDataModel, DropDownListDataModel> args)
    {
        patientData.臨床資料.臨床資料手術.PelvicPeritonealCavity = args.Value.Key;
    }

    private async Task OnRightAdnexaTumorNumberChanged(ChangeEventArgs<DropDownListDataModel, DropDownListDataModel> args)
    {
        patientData.臨床資料.臨床資料手術.RightAdnexaTumorNumber = args.Value.Key;
    }

    private async Task OnLeftAdnexaChanged(ChangeEventArgs<DropDownListDataModel, DropDownListDataModel> args)
    {
        patientData.臨床資料.臨床資料手術.LeftAdnexa = args.Value.Key;
    }

    private async Task OnLeftAdnexaTumorNumberChanged(ChangeEventArgs<DropDownListDataModel, DropDownListDataModel> args)
    {
        patientData.臨床資料.臨床資料手術.LeftAdnexaTumorNumber = args.Value.Key;
    }

    private async Task OnOvarianSurfaceRuptureOrNotLeftOvaryChanged(ChangeEventArgs<DropDownListDataModel, DropDownListDataModel> args)
    {
        patientData.臨床資料.臨床資料手術.OvarianSurfaceRuptureOrNotLeftOvary = args.Value.Key;
    }

    private async Task OnOvarianSurfaceRuptureOrNotRightOvaryChanged(ChangeEventArgs<DropDownListDataModel, DropDownListDataModel> args)
    {
        patientData.臨床資料.臨床資料手術.OvarianSurfaceRuptureOrNotRightOvary = args.Value.Key;
    }

    private async Task OnEndometriumChanged(ChangeEventArgs<DropDownListDataModel, DropDownListDataModel> args)
    {
        patientData.臨床資料.臨床資料手術.Endometrium = args.Value.Key;
    }

    private async Task OnCervixSiteChanged(ChangeEventArgs<DropDownListDataModel, DropDownListDataModel> args)
    {
        patientData.臨床資料.臨床資料手術.CervixSite = args.Value.Key;
    }

    private async Task OnCervixTumorNumberChanged(ChangeEventArgs<DropDownListDataModel, DropDownListDataModel> args)
    {
        patientData.臨床資料.臨床資料手術.CervixTumorNumber = args.Value.Key;
    }

    private async Task OnCervixChanged(ChangeEventArgs<DropDownListDataModel, DropDownListDataModel> args)
    {
        patientData.臨床資料.臨床資料手術.Cervix = args.Value.Key;
        if (patientData.臨床資料.臨床資料手術.Cervix == "normal")
        {
            patientData.臨床資料.臨床資料手術.CervixSite = "";
            patientData.臨床資料.臨床資料手術.CervixTumorNumber = "";
        }
    }

    private async Task OnUterusSiteChanged(ChangeEventArgs<DropDownListDataModel, DropDownListDataModel> args)
    {
        patientData.臨床資料.臨床資料手術.UterusSite = args.Value.Key;
    }

    private async Task OnUterusTumorNumberChanged(ChangeEventArgs<DropDownListDataModel, DropDownListDataModel> args)
    {
        patientData.臨床資料.臨床資料手術.UterusTumorNumber = args.Value.Key;
    }

    private async Task OnUterusChanged(ChangeEventArgs<DropDownListDataModel, DropDownListDataModel> args)
    {
        patientData.臨床資料.臨床資料手術.Uterus = args.Value.Key;
        if (patientData.臨床資料.臨床資料手術.Uterus == "normal")
        {
            patientData.臨床資料.臨床資料手術.UterusSite = "";
            patientData.臨床資料.臨床資料手術.UterusTumorNumber = "";
            patientData.臨床資料.臨床資料手術.UterusTumorSize = "";
        }
    }

    private async Task OnAscitesChanged(ChangeEventArgs<DropDownListDataModel, DropDownListDataModel> args)
    {
        patientData.臨床資料.臨床資料手術.Ascites = args.Value.Key;
    }

    private async Task OnVisitCodeChanged(ChangeEventArgs<DropDownListDataModel, DropDownListDataModel> args)
    {
        patientData.臨床資料.臨床資料手術.VisitCode = args.Value.Key;
    }

    #endregion
    void OnChangeEditMode()
    {
        editMode = !editMode;
    }

    async Task OnSave()
    {
        patientAdapterModel.JsonData = patientData.ToJson();
        await PatientService.UpdateAsync(patientAdapterModel);
        editMode = false;
    }

    async Task OnCancel()
    {
        patientData.FromJson(patientAdapterModel.JsonData);
        editMode = false;
    }

    void On臨床資料()
    {
        var url = $"/ClinicalInformation/{Code}";
        NavigationManager.NavigateTo(url);
    }
}
