@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Calendars
@inject NavigationManager NavigationManager
@inject PatientService PatientService
@inject DropDownListDataService DropDownListDataService

@inject OperationHistoryTraceService OperationHistoryTraceService
@inject AuthenticationStateHelper AuthenticationStateHelper
@inject AuthenticationStateProvider authStateProvider
@using Newtonsoft.Json

<PageTitle>追蹤資料 其他治療-影像</PageTitle>

<div>

    <div class="header">
        <div class="d-flex align-items-start">
            <div>
                <h1 style="margin: 0; flex-grow: 1;">追蹤資料 其他治療-影像</h1>
                <SubjectNoView PatientAdapterModel="@patientAdapterModel" />
            </div>
            <div>
                @if (editMode)
                {
                    <div class="btn-group mx-3 " role="group" aria-label="按鈕組">
                        <button type="button" class="btn btn-sm btn-primary save-button"
                                @onclick=OnSave>
                            儲存
                        </button>
                        <button type="button" class="btn btn-sm btn-danger cancle-button"
                                @onclick=OnCancel>
                            取消
                        </button>
                    </div>
                }
                else
                {
                    <span class="d-flex align-items-center">
                        <span class="edit-icon cursor-pointer"
                              @onclick="OnChangeEditMode">
                            <i class="mx-3 mdi mdi-18px mdi-pencil-box-outline command-icon-width cursor-pointer"></i>編輯
                        </span>
                        <span class="ms-5 edit-icon cursor-pointer" @onclick="OnShowApiDialog">
                            <i class="mx-3 mdi mdi-18px mdi-api command-icon-width cursor-pointer"></i>呼叫
                        </span>
                    </span>
                }
            </div>
        </div>
        <div class="buttons">
        </div>
    </div>

    <div class="visit-code-container d-flex align-items-center">
        <div class="visit-info">Visit Code :</div>
        <div class="flex-grow-1">
            <SfDropDownList @ref="VisitCodeDropDown"
                            TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                            Placeholder="選擇一個值" DataSource="@ListVisitCode"
                            @bind-Value="@SelectVisitCode" class="w-100">
                <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                    ValueChange="@OnVisitCodeChanged"></DropDownListEvents>
            </SfDropDownList>
        </div>
    </div>

    @if (data != null)
    {
        <div class="view-container">
            <table class="tracking-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>CXR</th>
                        <th>12-lead EKG</th>
                        <th>Chest CT</th>
                        <th>Abd CT</th>
                        <th>Brain MRI</th>
                        <th>Bone scan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="clinics-rower-row">
                        <td class="location-cell">Examination Date</td>
                        <td>
                            @if (editMode)
                            {
                                <SfDatePicker TValue="DateTime?" Format="yyyy-MM-dd"
                                              @bind-Value="@data.Item.ChestXRayDate"></SfDatePicker>
                            }
                            else
                            {
                                @data.Item.ChestXRayDate?.ToString("yyyy-MM-dd")
                            }
                        </td>
                        <td>
                            @if (editMode)
                            {
                                <SfDatePicker TValue="DateTime?" Format="yyyy-MM-dd"
                                              @bind-Value="@data.Item.LeadEKG12Date"></SfDatePicker>
                            }
                            else
                            {
                                @data.Item.LeadEKG12Date?.ToString("yyyy-MM-dd")
                            }
                        </td>
                        <td>
                            @if (editMode)
                            {
                                <SfDatePicker TValue="DateTime?" Format="yyyy-MM-dd"
                                              @bind-Value="@data.Item.ChestCTDate"></SfDatePicker>
                            }
                            else
                            {
                                @data.Item.ChestCTDate?.ToString("yyyy-MM-dd")
                            }
                        </td>
                        <td>
                            @if (editMode)
                            {
                                <SfDatePicker TValue="DateTime?" Format="yyyy-MM-dd"
                                              @bind-Value="@data.Item.AbdCTDate"></SfDatePicker>
                            }
                            else
                            {
                                @data.Item.AbdCTDate?.ToString("yyyy-MM-dd")
                            }
                        </td>
                        <td>
                            @if (editMode)
                            {
                                <SfDatePicker TValue="DateTime?" Format="yyyy-MM-dd"
                                              @bind-Value="@data.Item.BrainMRIDate"></SfDatePicker>
                            }
                            else
                            {
                                @data.Item.BrainMRIDate?.ToString("yyyy-MM-dd")
                            }
                        </td>
                        <td>
                            @if (editMode)
                            {
                                <SfDatePicker TValue="DateTime?" Format="yyyy-MM-dd"
                                              @bind-Value="@data.Item.BoneScanDate"></SfDatePicker>
                            }
                            else
                            {
                                @data.Item.BoneScanDate?.ToString("yyyy-MM-dd")
                            }
                        </td>
                    </tr>
                    <tr class="er-row">
                        <td class="location-cell">Report</td>
                        <td>
                            @if (editMode)
                            {
                                <SfTextBox @bind-Value="@data.Item.ChestXRay" />
                            }
                            else
                            {
                                @data.Item.ChestXRay
                            }
                        </td>
                        <td>
                            @if (editMode)
                            {
                                <SfTextBox @bind-Value="@data.Item.LeadEKG12" />
                            }
                            else
                            {
                                @data.Item.LeadEKG12
                            }
                        </td>
                        <td>
                            @if (editMode)
                            {
                                <SfTextBox @bind-Value="@data.Item.ChestCT" />
                            }
                            else
                            {
                                @data.Item.ChestCT
                            }
                        </td>
                        <td>
                            @if (editMode)
                            {
                                <SfTextBox @bind-Value="@data.Item.AbdCT" />
                            }
                            else
                            {
                                @data.Item.AbdCT
                            }
                        </td>
                        <td>
                            @if (editMode)
                            {
                                <SfTextBox @bind-Value="@data.Item.BrainMRI" />
                            }
                            else
                            {
                                @data.Item.BrainMRI
                            }
                        </td>
                        <td>
                            @if (editMode)
                            {
                                <SfTextBox @bind-Value="@data.Item.BoneScan" />
                            }
                            else
                            {
                                @data.Item.BoneScan
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
</div>


<QueryReportApiDialog OpenPicker=ShowCallApiDialog
                     OnConfirmCallback=OnGetReportApiAsync />

<MessageBox Height="@MessageBox.Height" Width="@MessageBox.Width"
            IsVisible="@MessageBox.IsVisible"
            Title="@MessageBox.Title" Message="@MessageBox.Body"
            Callback="MessageBox.MessageDelegate" />

<ConfirmBox Height="@ConfirmMessageBox.Height" Width="@ConfirmMessageBox.Width"
            IsVisible="@ConfirmMessageBox.IsVisible"
            Title="@ConfirmMessageBox.Title" Message="@ConfirmMessageBox.Body"
            Callback="ConfirmMessageBox.ConfirmDelegate" />

<DialogBackground />

@code {
}
