@using Syncfusion.Blazor
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars
@inject NavigationManager NavigationManager
@inject PatientService PatientService
@inject DropDownListDataService DropDownListDataService

<PageTitle>追蹤資料 其他治療-影像</PageTitle>

<div>

    <div class="header">
        <div class="d-flex align-items-start">
            <h1 style="margin: 0; flex-grow: 1;">追蹤資料 其他治療-影像</h1>
            <div>
                @if (editMode)
                {
                    <div class="btn-group mx-3 " role="group" aria-label="按鈕組">
                        <button type="button" class="btn btn-sm btn-primary save-button"
                                @onclick=OnSave>
                            儲存
                        </button>
                        <button type="button" class="btn btn-sm btn-danger cancle-button"
                                @onclick=OnCancel>
                            取消
                        </button>
                    </div>
                }
                else
                {
                    <span class="edit-icon d-flex align-items-center cursor-pointer"
                          @onclick="OnChangeEditMode">
                        <i class="mx-3 mdi mdi-18px mdi-pencil-box-outline command-icon-width cursor-pointer"></i>編輯
                    </span>
                }
            </div>
        </div>
        <div class="buttons">
        </div>
    </div>

    <div class="visit-code-container d-flex align-items-center">
        <div class="visit-info">Visit Code :</div>
        <div class="flex-grow-1">
            <SfDropDownList @ref="VisitCodeDropDown"
                            TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                            Placeholder="選擇一個值" DataSource="@ListVisitCode"
                            @bind-Value="@SelectVisitCode" class="w-100">
                <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                    ValueChange="@OnVisitCodeChanged"></DropDownListEvents>
            </SfDropDownList>
        </div>
    </div>

    @if (data != null)
    {
        <div class="view-container">
            <div>
                @* 新增一筆紀錄按鈕 *@
                <button class="btn btn-primary add-button" 
                @onclick="async () =>await OnAddAsync()">
                    新增一筆紀錄
                </button>
            </div>
            <div class="left-table">
                <table>
                    <tr>
                        <td class="w-20 data-title">
                            
                        </td>
                        <td class="w-16 data-title">
                            CXR
                        </td>
                        <td class="w-16 data-title">
                            12-lead EKG
                        </td>
                        <td class="w-16 data-title">
                            Chest CT
                        </td>
                        <td class="w-16 data-title">
                            Abd CT
                        </td>
                        <td class="w-16 data-title">
                            Brain MRI
                        </td>
                        <td class="w-16 data-title">
                            Bone scan
                        </td>
                        <td class="w-16 data-title">
                            other
                        </td>
                    </tr>
                    @foreach (var item in data.Items)
                    {
                        <tr>
                            <td class="w-16 data-title">
                                @if (editMode)
                                {
                                    <SfTextBox @bind-Value="item.First" />
                                }
                                else
                                {
                                    <div class="data-value">
                                        <span class="mx-3 mdi mdi-24px mdi-delete-circle command-icon-width cursor-pointer text-danger"
                                              @onclick="async () => await OnDeleteAsync(item)"></span>
                                        @item.First
                                    </div>
        }
                            </td>
                            <td class="w-16 data-title">
                                @if (editMode)
                                {
                                    <SfTextBox @bind-Value="item.ChestXRay" />
                                }
                                else
                                {
                                    <div class="data-value">
                                        @item.ChestXRay
                                    </div>
                                }
                            </td>
                            <td class="w-16 data-title">
                                @if (editMode)
                                {
                                    <SfTextBox @bind-Value="item.LeadEKG12" />
                                }
                                else
                                {
                                    <div class="data-value">
                                        @item.LeadEKG12
                                    </div>
                                }
                            </td>
                            <td class="w-16 data-title">
                                @if (editMode)
                                {
                                    <SfTextBox @bind-Value="item.ChestCT" />
                                }
                                else
                                {
                                    <div class="data-value">
                                        @item.ChestCT
                                    </div>
                                }
                            </td>
                            <td class="w-16 data-title">
                                @if (editMode)
                                {
                                    <SfTextBox @bind-Value="item.AbdCT" />
                                }
                                else
                                {
                                    <div class="data-value">
                                        @item.AbdCT
                                    </div>
                                }
                            </td>
                            <td class="w-16 data-title">
                                @if (editMode)
                                {
                                    <SfTextBox @bind-Value="item.BrainMRI" />
                                }
                                else
                                {
                                    <div class="data-value">
                                        @item.BrainMRI
                                    </div>
                                }
                            </td>
                            <td class="w-16 data-title">
                                @if (editMode)
                                {
                                    <SfTextBox @bind-Value="item.BoneScan" />
                                }
                                else
                                {
                                    <div class="data-value">
                                        @item.BoneScan
                                    </div>
                                }
                            </td>
                            <td class="w-16 data-title">
                                @if (editMode)
                                {
                                    <SfTextBox @bind-Value="item.Other" />
                                }
                                else
                                {
                                    <div class="data-value">
                                        @item.Other
                                    </div>
                                }
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    }
</div>

<MessageBox Height="@MessageBox.Height" Width="@MessageBox.Width"
            IsVisible="@MessageBox.IsVisible"
            Title="@MessageBox.Title" Message="@MessageBox.Body"
            Callback="MessageBox.MessageDelegate" />

<ConfirmBox Height="@ConfirmMessageBox.Height" Width="@ConfirmMessageBox.Width"
            IsVisible="@ConfirmMessageBox.IsVisible"
            Title="@ConfirmMessageBox.Title" Message="@ConfirmMessageBox.Body"
            Callback="ConfirmMessageBox.ConfirmDelegate" />

<DialogBackground />

@code {
    [Parameter]
    public string Code { get; set; }

    PatientData patientData = new();
    PatientAdapterModel patientAdapterModel = new();
    bool editMode = false;

    OtherTreatmentImageNode data = new();
    OtherTreatmentImage header = new();

    #region 操作 Visit Code 用到的物件
    bool ShowVisitCodeDialog = false;
    ConfirmBoxModel ConfirmMessageBox { get; set; } = new ConfirmBoxModel();
    MessageBoxModel MessageBox { get; set; } = new MessageBoxModel();
    string VisitCodeOperateMode = string.Empty;
    VisitCodeModel VisitCode = new();
    SfDropDownList<DropDownListDataModel, DropDownListDataModel> VisitCodeDropDown;
    DropDownListDataModel SelectVisitCode = new DropDownListDataModel();
    List<DropDownListDataModel> ListVisitCode = new List<DropDownListDataModel>();
    #endregion

    protected override async Task OnInitializedAsync()
    {
        patientAdapterModel = await PatientService.GetAsync(Code);
        patientData.FromJson(patientAdapterModel.JsonData);
        InitData(true);
    }

    void InitData(bool isFirst = true)
    {
        header = patientData.臨床資料.其他治療影像;
        if (isFirst)
        {
            data = header.Items.FirstOrDefault();
            RefreshVisitCode();
            RefreshDropDwonVisitCode();
            var itemx = ListVisitCode.FirstOrDefault(x => x.Key == data?.VisitCode.Id);
            if (itemx != null)
                SelectVisitCode = itemx;
        }
        else
        {
            if (SelectVisitCode != null)
            {
                data = header.Items.FirstOrDefault(x => x.VisitCode.Id == SelectVisitCode.Key);
            }
        }
    }

    void OnChangeEditMode()
    {
        editMode = !editMode;
    }

    async Task OnSave()
    {
        patientAdapterModel.JsonData = patientData.ToJson();
        await PatientService.UpdateAsync(patientAdapterModel);
        editMode = false;
    }

    async Task OnCancel()
    {
        patientData.FromJson(patientAdapterModel.JsonData);
        InitData(false);
        editMode = false;
    }

    async Task OnAddAsync()
    {
        data.Items.Add(new OtherTreatmentImageItem());
        await OnSave();
    }

    async Task OnDeleteAsync(OtherTreatmentImageItem item)
    {
        // Assuming we need to remove the last item for deletion
        if (data.Items.Count > 0)
        {
            data.Items.Remove(item);
            await OnSave();
        }
    }


    #region 針對 VisitCode 的方法
    private async Task OnVisitCodeChanged(ChangeEventArgs<DropDownListDataModel, DropDownListDataModel> args)
    {
        if (args.Value != null)
        {
            var item = header.Items.FirstOrDefault(x => x.VisitCode.Id == args.Value.Key);
            if (item != null)
            {
                data = item;
            }
        }
    }

    void RefreshVisitCode(bool reset = true)
    {
        #region VisitCode
        {
            ListVisitCode.Clear();
            if (data != null)
            {

            }
            foreach (var nodeItem in header.Items)
            {
                ListVisitCode.Add(new DropDownListDataModel()
                    {
                        Key = nodeItem.VisitCode.Id,
                        Name = nodeItem.VisitCode.VisitCodeTitle,
                    });
            }
            if (reset)
            {
                SelectVisitCode = null;
            }
        }
        #endregion
    }
    void RefreshDropDwonVisitCode()
    {
        // 重置選擇項目
        SelectVisitCode = null;

        // 手動刷新 DropDownList 元件
        if (VisitCodeDropDown != null)
        {
            InvokeAsync(() => VisitCodeDropDown.RefreshDataAsync());
        }
    }
    #endregion
}
