@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Calendars
@inject NavigationManager NavigationManager
@inject PatientService PatientService
@inject DropDownListDataService DropDownListDataService

@inject OperationHistoryTraceService OperationHistoryTraceService
@inject AuthenticationStateHelper AuthenticationStateHelper
@inject AuthenticationStateProvider authStateProvider
@using Newtonsoft.Json

<PageTitle>追蹤資料 其他治療-藥物</PageTitle>

<div>

    <div class="header">
        <div class="d-flex align-items-start">
            <div>
                <h1 style="margin: 0; flex-grow: 1;">追蹤資料 其他治療-藥物</h1>
                <SubjectNoView PatientAdapterModel="@patientAdapterModel" />
            </div>
            <div>
                @if (editMode)
                {
                    <div class="btn-group mx-3 " role="group" aria-label="按鈕組">
                        <button type="button" class="btn btn-sm btn-primary save-button"
                                @onclick=OnSave>
                            儲存
                        </button>
                        <button type="button" class="btn btn-sm btn-danger cancle-button"
                                @onclick=OnCancel>
                            取消
                        </button>
                    </div>
                }
                else
                {
                    <span class="d-flex align-items-center">
                        @*                         <span class="edit-icon cursor-pointer"
                              @onclick="OnChangeEditMode">
                            <i class="mx-3 mdi mdi-18px mdi-pencil-box-outline command-icon-width cursor-pointer"></i>編輯
                        </span> *@   
                        <span class="ms-5 edit-icon cursor-pointer" @onclick="OnShowApiDialog">
                            <i class="mx-3 mdi mdi-18px mdi-api command-icon-width cursor-pointer"></i>呼叫
                        </span>
                    </span>
                }
            </div>
        </div>
    </div>

    <div class="visit-code-container d-flex align-items-center">
        <div class="visit-info">Visit Code :</div>
        <div class="flex-grow-1">
            <SfDropDownList @ref="VisitCodeDropDown"
                            TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                            Placeholder="選擇一個值" DataSource="@ListVisitCode"
                            @bind-Value="@SelectVisitCode" class="w-100">
                <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                    ValueChange="@OnVisitCodeChanged"></DropDownListEvents>
            </SfDropDownList>
        </div>
    </div>

    @if (data != null)
    {
        int index = 0;
        string rowClass = string.Empty;

        <div class="view-container">
            @* <div>
                <button class="btn btn-primary add-button"
                        @onclick="async () => await OnAddAsync()">
                    新增一筆紀錄
                </button>
            </div> *@

            <div class="table-scroll-container">
                <table class="tracking-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>藥品代碼</th>
                            <th>藥品名稱</th>
                            <th>頻次</th>
                            <th>劑量值</th>
                            <th>劑量單位</th>
                            <th>給藥途徑</th>
                            <th>起日</th>
                            <th>訖日</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in data.Items)
                        {
                            if (index++ % 2 == 0)
                            {
                                rowClass = "clinics-rower-row";
                            }
                            else
                            {
                                rowClass = "er-row";
                            }

                            <tr class="@rowClass">
                                <td class="location-cell"></td>
                                <td>@item.Order_Code</td>
                                <td>@item.Pharmacy_Name</td>
                                <td>@item.Frequency_Code</td>
                                <td>@item.Totally_Dosage_Unit</td>
                                <td>@item.Dosage_Unit</td>
                                <td>@item.Usage_Code</td>
                                <td>@item.Order_Effect_Date</td>
                                <td>@item.Order_End_Date</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    }
</div>

<QueryMedicationApiDialog OpenPicker=ShowCallApiDialog
                          OnConfirmCallback=OnGetMedicationApiAsync />

<MessageBox Height="@MessageBox.Height" Width="@MessageBox.Width"
            IsVisible="@MessageBox.IsVisible"
            Title="@MessageBox.Title" Message="@MessageBox.Body"
            Callback="MessageBox.MessageDelegate" />

<ConfirmBox Height="@ConfirmMessageBox.Height" Width="@ConfirmMessageBox.Width"
            IsVisible="@ConfirmMessageBox.IsVisible"
            Title="@ConfirmMessageBox.Title" Message="@ConfirmMessageBox.Body"
            Callback="ConfirmMessageBox.ConfirmDelegate" />

<DialogBackground />

@code {
}
