@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Calendars
@inject NavigationManager NavigationManager
@inject PatientService PatientService
@inject DropDownListDataService DropDownListDataService

@inject OperationHistoryTraceService OperationHistoryTraceService
@inject AuthenticationStateHelper AuthenticationStateHelper
@inject AuthenticationStateProvider authStateProvider
@using Newtonsoft.Json

<PageTitle>追蹤資料 其他治療-影像</PageTitle>

<div>

    <div class="header">
        <div class="d-flex align-items-start">
            <div>
                <h1 style="margin: 0; flex-grow: 1;">追蹤資料 其他治療-影像</h1>
                <SubjectNoView PatientAdapterModel="@patientAdapterModel" />
            </div>
            <div>
                @if (editMode)
                {
                    <div class="btn-group mx-3 " role="group" aria-label="按鈕組">
                        <button type="button" class="btn btn-sm btn-primary save-button"
                                @onclick=OnSave>
                            儲存
                        </button>
                        <button type="button" class="btn btn-sm btn-danger cancle-button"
                                @onclick=OnCancel>
                            取消
                        </button>
                    </div>
                }
                else
                {
                    <span class="d-flex align-items-center">
                        @* <span class="edit-icon cursor-pointer"
                              @onclick="OnChangeEditMode">
                            <i class="mx-3 mdi mdi-18px mdi-pencil-box-outline command-icon-width cursor-pointer"></i>編輯
                        </span> *@
                        <span class="ms-5 edit-icon cursor-pointer" @onclick="OnShowApiDialog">
                            <i class="mx-3 mdi mdi-18px mdi-api command-icon-width cursor-pointer"></i>呼叫
                        </span>
                    </span>
                }
            </div>
        </div>
        <div class="buttons">
        </div>
    </div>

    <div class="visit-code-container d-flex align-items-center">
        <div class="visit-info">Visit Code :</div>
        <div class="flex-grow-1">
            <SfDropDownList @ref="VisitCodeDropDown"
                            TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                            Placeholder="選擇一個值" DataSource="@ListVisitCode"
                            @bind-Value="@SelectVisitCode" class="w-100">
                <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                    ValueChange="@OnVisitCodeChanged"></DropDownListEvents>
            </SfDropDownList>
        </div>
    </div>

    @if (data != null)
    {
        <div class="view-container">
            <table class="tracking-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Execute Time</th>
                        <th>Order Code</th>
                        <th>Order Name</th>
                        <th>Report Text</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var reportItem in data.Items)
                    {
                        <tr class="clinics-rower-row">
                            <td class="location-cell">
                                <button class="btn-delete"
                                        @onclick="async () => await OnDeleteAsync(reportItem)">
                                    刪除
                                </button>
                            </td>
                            <td>
                                @reportItem.ExecuteTime
                            </td>
                            <td>
                                @reportItem.OrderCode
                            </td>
                            <td>
                                @reportItem.OrderName
                            </td>
                            <td>
                                @reportItem.ReportText
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>


<QueryReportApiDialog OpenPicker=ShowCallApiDialog
                     OnConfirmCallback=OnGetReportApiAsync />

<MessageBox Height="@MessageBox.Height" Width="@MessageBox.Width"
            IsVisible="@MessageBox.IsVisible"
            Title="@MessageBox.Title" Message="@MessageBox.Body"
            Callback="MessageBox.MessageDelegate" />

<ConfirmBox Height="@ConfirmMessageBox.Height" Width="@ConfirmMessageBox.Width"
            IsVisible="@ConfirmMessageBox.IsVisible"
            Title="@ConfirmMessageBox.Title" Message="@ConfirmMessageBox.Body"
            Callback="ConfirmMessageBox.ConfirmDelegate" />

<DialogBackground />

@code {
}
