@using Syncfusion.Blazor
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars
@inject NavigationManager NavigationManager
@inject PatientService PatientService
@inject DropDownListDataService DropDownListDataService

<PageTitle>臨床資料 病理報告</PageTitle>

<div>

    <div class="header" style="display: flex; align-items: center;">
        <h1 style="margin: 0; flex-grow: 1;">臨床資料 病理報告</h1>
        @if (editMode)
        {
            <div class="btn-group" role="group" aria-label="按鈕組">
                <button type="button" class="btn btn-primary save-button"
                        @onclick=OnSave>
                    儲存
                </button>
                <button type="button" class="btn btn-danger cancle-button"
                        @onclick=OnCancel>
                    取消
                </button>
            </div>
        }
        else
        {
            <span class="mx-3 mdi mdi-36px mdi-eye command-icon-width cursor-pointer"
                  @onclick=OnVisitCodeEdit></span>
            <span class="mx-3 mdi mdi-36px mdi-square-edit-outline command-icon-width cursor-pointer"
                  @onclick=OnChangeEditMode></span>
        }
    </div>

    <div>
        <div class="d-flex align-items-center">
            <div>Visit code</div>
            <div class="flex-grow-1 ms-2">
                @if (editMode)
                {
                    <SfTextBox @bind-Value="data.VisitCode" />
                }
                else
                {
                    @data.VisitCode
                }
            </div>
            <div>Assessment date</div>
            <div class="flex-grow-1 ms-2">
                @if (editMode)
                {
                    <SfDatePicker TValue="DateTime" Format="yyyy-MM-dd"
                                  @bind-Value="data.AssessmentDate"></SfDatePicker>
                }
                else
                {
                    @data.AssessmentDate.ToString("yyyy-MM-dd")
                }
            </div>
        </div>

    </div>
    <div class="view-container">
        <!-- Left Table -->
        <div class="left-table">
            <table>
                <tr>
                    <td class="w-25 data-title">
                        Subject No.
                    </td>
                    <td class="w-25 data-title">
                        切片日期
                    </td>
                    <td class="w-25 data-title">
                        Histology
                    </td>
                    <td class="w-25 data-title">
                        TNM Stage
                    </td>
                </tr>
                <tr>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfTextBox @bind-Value="data.SubjectNo" />
                        }
                        else
                        {
                            <div class="data-value">
                                @data.SubjectNo
                            </div>
                        }
                    </td>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfDatePicker TValue="DateTime" Format="yyyy-MM-dd"
                                          @bind-Value="data.切片日期"></SfDatePicker>
                        }
                        else
                        {
                            <div class="data-value">
                                @data.切片日期.ToString("yyyy-MM-dd")
                            </div>
                        }
                    </td>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfTextBox @bind-Value="data.Histology" />
                        }
                        else
                        {
                            <div class="data-value">
                                @data.Histology
                            </div>
                        }
                    </td>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfTextBox @bind-Value="data.TnmStage" />
                        }
                        else
                        {
                            <div class="data-value">
                                @data.TnmStage
                            </div>
                        }
                    </td>
                </tr>

                <tr>
                    <td class="w-25 data-title">
                        Myometrium
                    </td>
                    <td class="w-25 data-title">
                        Uterine Serosa Involvement
                    </td>
                    <td class="w-25 data-title">
                        Blood/lymphatic vessel invasion
                    </td>
                    <td class="w-25 data-title">
                        Cervix
                    </td>
                </tr>
                <tr>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfTextBox @bind-Value="data.Myometrium" />
                        }
                        else
                        {
                            <div class="data-value">
                                @data.Myometrium
                            </div>
                        }
                    </td>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfTextBox @bind-Value="data.UterineSerosaInvolvement" />
                        }
                        else
                        {
                            <div class="data-value">
                                @data.UterineSerosaInvolvement
                            </div>
                        }
                    </td>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfTextBox @bind-Value="data.BloodLymphaticVesselInvasion" />
                        }
                        else
                        {
                            <div class="data-value">
                                @data.BloodLymphaticVesselInvasion
                            </div>
                        }
                    </td>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfTextBox @bind-Value="data.Cervix" />
                        }
                        else
                        {
                            <div class="data-value">
                                @data.Cervix
                            </div>
                        }
                    </td>
                </tr>

                <tr>
                    <td class="w-25 data-title">
                        Parametrium
                    </td>
                    <td class="w-25 data-title">
                        Ovary-Right
                    </td>
                    <td class="w-25 data-title">
                        Ovary-Left
                    </td>
                    <td class="w-25 data-title">
                        Fallopian tube - Right
                    </td>
                </tr>
                <tr>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfTextBox @bind-Value="data.Parametrium" />
                        }
                        else
                        {
                            <div class="data-value">
                                @data.Parametrium
                            </div>
                        }
                    </td>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfTextBox @bind-Value="data.OvaryRight" />
                        }
                        else
                        {
                            <div class="data-value">
                                @data.OvaryRight
                            </div>
                        }
                    </td>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfTextBox @bind-Value="data.OvaryLeft" />
                        }
                        else
                        {
                            <div class="data-value">
                                @data.OvaryLeft
                            </div>
                        }
                    </td>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfTextBox @bind-Value="data.FallopianTubeRight" />
                        }
                        else
                        {
                            <div class="data-value">
                                @data.FallopianTubeRight
                            </div>
                        }
                    </td>
                </tr>

                <tr>
                    <td class="w-25 data-title">
                        Fallopian tube - Left
                    </td>
                    <td class="w-25 data-title">
                        Vagina
                    </td>
                    <td class="w-25 data-title">
                        Regional Lymph Nodes
                    </td>
                    <td class="w-25 data-title">
                        Isolated tumor cells
                    </td>
                </tr>
                <tr>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfTextBox @bind-Value="data.FallopianTubeLeft" />
                        }
                        else
                        {
                            <div class="data-value">
                                @data.FallopianTubeLeft
                            </div>
                        }
                    </td>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfTextBox @bind-Value="data.Vagina" />
                        }
                        else
                        {
                            <div class="data-value">
                                @data.Vagina
                            </div>
                        }
                    </td>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfTextBox @bind-Value="data.RegionalLymphNodes" />
                        }
                        else
                        {
                            <div class="data-value">
                                @data.RegionalLymphNodes
                            </div>
                        }
                    </td>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfTextBox @bind-Value="data.IsolatedTumorCells" />
                        }
                        else
                        {
                            <div class="data-value">
                                @data.IsolatedTumorCells
                            </div>
                        }
                    </td>
                </tr>

                <tr>
                    <td class="w-25 data-title">
                        Additional pathological findings
                    </td>
                    <td class="w-25 data-title">
                        Immunohistochemical test
                    </td>
                    <td class="w-25 data-title">
                    </td>
                    <td class="w-25 data-title">
                    </td>
                </tr>
                <tr>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfTextBox @bind-Value="data.AdditionalPathologicalFindings" />
                        }
                        else
                        {
                            <div class="data-value">
                                @data.AdditionalPathologicalFindings
                            </div>
                        }
                    </td>
                    <td class="w-25 data-title">
                        @if (editMode)
                        {
                            <SfTextBox @bind-Value="data.ImmunohistochemicalTest" />
                        }
                        else
                        {
                            <div class="data-value">
                                @data.ImmunohistochemicalTest
                            </div>
                        }
                    </td>
                    <td class="w-25 data-title">
                    </td>
                    <td class="w-25 data-title">
                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>

<VisitCodeAssessmentDateDialog OpenPicker=ShowVisitCodeDialog/>

@code {
    [Parameter]
    public string Code { get; set; }

    PatientData patientData = new();
    PatientAdapterModel patientAdapterModel = new();
    bool editMode = false;
    臨床資料病理報告 data = new();

    bool ShowVisitCodeDialog = false;

    void OnVisitCodeEdit()
    {
        ShowVisitCodeDialog = true;
    }

    protected override async Task OnInitializedAsync()
    {
        patientAdapterModel = await PatientService.GetAsync(Code);
        patientData.FromJson(patientAdapterModel.JsonData);
        data = patientData.臨床資料.臨床資料病理報告; 
    }


    void OnChangeEditMode()
    {
        editMode = !editMode;
    }

    async Task OnSave()
    {
        patientAdapterModel.JsonData = patientData.ToJson();
        await PatientService.UpdateAsync(patientAdapterModel);
        editMode = false;
    }

    async Task OnCancel()
    {
        patientData.FromJson(patientAdapterModel.JsonData);
        editMode = false;
    }
}
