@inject PatientService PatientService
@inject NavigationManager NavigationManager
@inject CurrentUserService CurrentUserService
@inject AuthenticationStateHelper AuthenticationStateHelper
@inject AuthenticationStateProvider authStateProvider

@inject OperationHistoryTraceService OperationHistoryTraceService
@inject AuthenticationStateHelper AuthenticationStateHelper
@inject AuthenticationStateProvider authStateProvider
@using Newtonsoft.Json

<div class="page-background">
    <div class="header">
        <div>
            <div class="d-flex align-items-start">
                <h1 style="margin: 0; flex-grow: 1;">臨床資料 風險評估</h1>
            </div>
            <SubjectNoView PatientAdapterModel="@patientAdapterModel" />
        </div>
    </div>

    @if (hasRiskAssessment)
    {
        <div class="risk-assessment-container">
            <div class="content-wrapper">
                <div class="top-panel">
                    <div class="t-left-panel">
                        <div class="scan-images">
                            <img src="UploadFiles/@patientData.臨床資訊.ImagePng?v=@imageVersion" alt="CT掃描影像1" class="scan-image" />
                        </div>
                    </div>

                    <div class="t-center-panel">
                        <div class="details-panel">
                            <div class="panel-header">詳細內容</div>
                            <table class="details-table">
                                <tr>
                                    <td>骨骼肌面積(SMA)</td>
                                    <td>@data.SMA骨骼肌面積</td>
                                </tr>
                                <tr>
                                    <td>骨骼肌指標(SMI)</td>
                                    <td>@data.SMI骨骼肌指標</td>
                                </tr>
                                <tr>
                                    <td>骨骼肌密度(SMD)</td>
                                    <td>@data.SMD骨骼肌密度 (HU)</td>
                                </tr>
                                <tr>
                                    <td>肌間/肌肉脂肪組織(IMAT)</td>
                                    <td>@data.IMAT肌間肌肉脂肪組織 (平方公分)</td>
                                </tr>
                                <tr>
                                    <td>低密度肌肉區域(LAMA)</td>
                                    <td>@data.LAMA低密度肌肉區域 (平方公分)</td>
                                </tr>
                                <tr>
                                    <td>正常密度肌肉區域(NAMA)</td>
                                    <td>@data.NAMA正常密度肌肉區域 (平方公分)</td>
                                </tr>
                                <tr>
                                    <td>肌肉脂肪變性(Myosteatosis)</td>
                                    <td>@data.Myosteatosis肌肉脂肪變性 (平方公分)</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="t-right-panel">
                        <div class="scan-images">
                            <img src="UploadFiles/@data.ImagePng?v=@imageVersion" alt="CT掃描影像2" class="scan-image" />
                        </div>
                    </div>
                </div>

                <hr />

                <div class="bottom-panel">

                    <div class="research-group-panel">
                        <div class="panel-header">@data.ExperimentalControl</div>
                        <div class="panel-content">
                            <p>本個案為<span class="highlight">@data.ExperimentalControl</span></p>
                            <p class="no-need"><strong>@data.ExperimentalControlMessage</strong>使用AI輔助決策系統</p>
                        </div>
                    </div>

                    <div class="ai-result-panel">
                        <div class="panel-header">AI輔助決策系統結果</div>
                        <table class="ai-result-table">
                            <tr>
                                <td>風險程度</td>
                                <td>@data.風險程度</td>
                            </tr>
                            <tr>
                                <td>是否需要降15%劑量</td>
                                <td>@data.是否需要降15Percent劑量</td>
                            </tr>
                        </table>
                    </div>

                    <div class="sign-confirm-panel">
                        <div class="panel-header">
                            簽名確認紀錄<span class="sign-history" @onclick="OnShowHistory">歷史簽呈 </span>
                        </div>
                        <div class="sign-panel-content">
                            <div class="r-doctor">
                                <div class="doctor-name">
                                    <p>放射科醫師：@signatureNode放射科醫師確認.SignatureName</p>
                                    <p style="font-size:20px; color:#9d9d9d">@signatureNode放射科醫師確認.SignatureDate</p>
                                </div>
                                <button class="confirm-btn"
                                        @onclick="On放射科醫師確認SignAsync">
                                    簽名確認
                                </button>
                            </div>

                            <div class="o-doctor">
                                <div class="doctor-name">
                                    <p>婦產科醫師：@signatureNode婦產科醫師確認.SignatureName</p>
                                    <p style="font-size:20px; color:#9d9d9d">@signatureNode婦產科醫師確認.SignatureDate</p>
                                </div>
                                <button class="confirm-btn"
                                        @onclick="On婦產科醫師確認SignAsync">
                                    簽名確認
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<MessageBox Height="@MessageBox.Height" Width="@MessageBox.Width"
            IsVisible="@MessageBox.IsVisible"
            Title="@MessageBox.Title" Message="@MessageBox.Body"
            Callback="MessageBox.MessageDelegate" />

<ConfirmBox Height="@ConfirmMessageBox.Height" Width="@ConfirmMessageBox.Width"
            IsVisible="@ConfirmMessageBox.IsVisible"
            Title="@ConfirmMessageBox.Title" Message="@ConfirmMessageBox.Body"
            Callback="ConfirmMessageBox.ConfirmDelegate" />

@if (isShowHistory)
{
    <SignHistoryDialog OpenPicker=isShowHistory OnConfirmCallback=OnShowHistoryClosed
                       patientData=patientData patientAdapterModel=patientAdapterModel />
}

@code {
    [Parameter]
    public string Code { get; set; }

    ConfirmBoxModel ConfirmMessageBox { get; set; } = new ConfirmBoxModel();
    MessageBoxModel MessageBox { get; set; } = new MessageBoxModel();

    RiskAssessmentResult data = new RiskAssessmentResult();
    PatientData patientData = new();
    PatientAdapterModel patientAdapterModel = new();
    MyUserAdapterModel myUserAdapterModel = new();
    bool hasRiskAssessment = false;
    string imageVersion = DateTime.Now.Ticks.ToString();

    SignatureNode signatureNode婦產科醫師確認 = new SignatureNode();
    SignatureNode signatureNode放射科醫師確認 = new SignatureNode();

    bool isShowHistory = false;

    string sourceObjectJson = "{}";
    string targetObjectJson = "{}";
    signature婦產科放射科Model signature婦產科放射科Model = new signature婦產科放射科Model();

    protected override async Task OnInitializedAsync()
    {
        myUserAdapterModel = await AuthenticationStateHelper.GetUserInformation(authStateProvider);
        if (myUserAdapterModel != null)
        {
        }

        // Simulate fetching data from a service
        patientAdapterModel = await PatientService.GetAsync(Code);
        patientData.FromJson(patientAdapterModel.JsonData);
        InitData();
    }

    void InitData()
    {
        signatureNode婦產科醫師確認 = patientData.臨床資訊.ObstetricianGynecologistConfirmation;
        signatureNode放射科醫師確認 = patientData.臨床資訊.RadiologistConfirmation;

        data = patientData.臨床資訊.RiskAssessmentResult;

        if (data != null && string.IsNullOrEmpty(data.風險程度) == false)
        {
            hasRiskAssessment = true;
        }
    }

    void OnShowHistory()
    {
        isShowHistory = true;
    }

    private async Task OnShowHistoryClosed(string args)
    {
        if (string.IsNullOrEmpty(args))
        {
        }
        isShowHistory = false;
        patientAdapterModel = await PatientService.GetAsync(Code);
        patientData.FromJson(patientAdapterModel.JsonData);
        InitData();
        StateHasChanged();
    }

    /// <summary>
    ///  婦產科醫師確認
    /// </summary>
    /// <returns></returns>
    async Task On婦產科醫師確認SignAsync()
    {
        if (AuthenticationStateHelper.CheckAccessPage(MagicObjectHelper.ROLE風險評估結果確認) == false)
        {
            MessageBox.Show("400px", "200px", "資訊", MagicObjectHelper.你沒有權限操作此功能, MessageBox.HiddenAsync);
            return;
        }


        var task = ConfirmMessageBox.ShowAsync("400px", "200px",
        "再次確認", $"確定要以婦產科醫師身分確認這些影像與數據正確無誤嗎？",
        ConfirmMessageBox.HiddenAsync);
        bool result = await task;
        if (result == false)
        {
            return;
        }

        if (myUserAdapterModel != null && myUserAdapterModel.Id > 0)
        {
            sourceObjectJson = JsonConvert.SerializeObject(patientData.臨床資訊.ObstetricianGynecologistConfirmationList);

            SignatureNode signatureNode = new SignatureNode
            {
                SignatureId = myUserAdapterModel.Id,
                SignatureName = myUserAdapterModel.Name,
                SignatureDate = DateTime.Now.ToString("yyyy/MM/dd HH:mm:ss")
            };
            patientData.臨床資訊.ObstetricianGynecologistConfirmation = signatureNode;
            patientData.臨床資訊.ObstetricianGynecologistConfirmationList.Add(signatureNode);
            patientAdapterModel.JsonData = patientData.ToJson();

            patientAdapterModel.AI評估 = MagicObjectHelper.AI評估完成;
            await PatientService.UpdateAsync(patientAdapterModel);

            signatureNode婦產科醫師確認 = signatureNode;

            targetObjectJson = JsonConvert.SerializeObject(patientData.臨床資訊.ObstetricianGynecologistConfirmationList);

            #region 更新操作日誌
            await OperationHistoryTraceService.AddAsync(OperationHistoryTraceAdapterModel.Build(myUserAdapterModel.Name, patientData.臨床資訊.SubjectNo, MagicObjectHelper.OperationCategory婦產科風險評估確認, "-", "-"), sourceObjectJson, targetObjectJson, MagicObjectHelper.OperationCategory婦產科風險評估確認);
            #endregion
            return;
        }
    }

    /// <summary>
    ///  放射科醫師確認
    /// </summary>
    /// <returns></returns>
    async Task On放射科醫師確認SignAsync()
    {
        if (AuthenticationStateHelper.CheckAccessPage(MagicObjectHelper.ROLE風險評估影像確認) == false)
        {
            MessageBox.Show("400px", "200px", "資訊", MagicObjectHelper.你沒有權限操作此功能, MessageBox.HiddenAsync);
            return;
        }

        var task = ConfirmMessageBox.ShowAsync("400px", "200px",
        "再次確認", $"確定要以放射科醫師身分確認這些影像與數據正確無誤嗎？",
        ConfirmMessageBox.HiddenAsync);
        bool result = await task;
        if (result == false)
        {
            return;
        }

        if (myUserAdapterModel != null && myUserAdapterModel.Id > 0)
        {
            // signature婦產科放射科Model.signature婦產科 = patientData.臨床資訊.ObstetricianGynecologistConfirmationList;
            // signature婦產科放射科Model.signature放射科 = patientData.臨床資訊.RadiologistConfirmationList;
            sourceObjectJson = JsonConvert.SerializeObject(patientData.臨床資訊.RadiologistConfirmationList);

            SignatureNode signatureNode = new SignatureNode
            {
                SignatureId = myUserAdapterModel.Id,
                SignatureName = myUserAdapterModel.Name,
                SignatureDate = DateTime.Now.ToString("yyyy/MM/dd HH:mm:ss")
            };
            patientData.臨床資訊.RadiologistConfirmation = signatureNode;
            patientData.臨床資訊.RadiologistConfirmationList.Add(signatureNode);
            patientAdapterModel.JsonData = patientData.ToJson();

            patientAdapterModel.AI評估 = MagicObjectHelper.AI評估完成;
            await PatientService.UpdateAsync(patientAdapterModel);

            signatureNode放射科醫師確認 = patientData.臨床資訊.RadiologistConfirmation;

            targetObjectJson = JsonConvert.SerializeObject(patientData.臨床資訊.RadiologistConfirmationList);

            #region 更新操作日誌
            // MyUserAdapterModel myUserAdapterModel = await AuthenticationStateHelper
            // .GetUserInformation(authStateProvider);

            await OperationHistoryTraceService.AddAsync(OperationHistoryTraceAdapterModel.Build(myUserAdapterModel.Name, patientData.臨床資訊.SubjectNo, MagicObjectHelper.OperationCategory放射科風險評估確認, "-", "-"), sourceObjectJson, targetObjectJson, MagicObjectHelper.OperationCategory放射科風險評估確認);
            #endregion
            return;
        }
    }
}