@inject PatientService PatientService
@inject NavigationManager NavigationManager
@inject CurrentUserService CurrentUserService
@inject AuthenticationStateHelper AuthenticationStateHelper
@inject AuthenticationStateProvider authStateProvider

<div>
    <div class="header">
        <div>
            <div class="d-flex align-items-start">
                <h1 style="margin: 0; flex-grow: 1;">臨床資料 風險評估</h1>
            </div>
            <SubjectNoView PatientAdapterModel="@patientAdapterModel" />
        </div>
    </div>

    @if (hasRiskAssessment)
    {
        <div class="risk-assessment-container">

            <div class="content-wrapper">
                <div class="left-panel">
                    <div class="research-group-panel">
                        <div class="panel-header" @onclick=OnDemo>@data.ExperimentalControl</div>
                        <div class="panel-content">
                            <p>本個案為<span class="highlight">@data.ExperimentalControl</span></p>
                            <p class="no-need"><strong>@data.ExperimentalControlMessage</strong>使用AI輔助決策系統</p>
                        </div>
                    </div>

                    <div class="ai-result-panel">
                        <div class="panel-header">AI輔助決策系統結果</div>
                        <table class="ai-result-table">
                            <tr>
                                <td>風險程度</td>
                                <td>@data.風險程度</td>
                            </tr>
                            <tr>
                                <td>是否需要降15%劑量</td>
                                <td>@data.是否需要降15Percent劑量</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="center-panel">
                    <div class="details-panel">
                        <div class="panel-header">詳細內容</div>
                        <table class="details-table">
                            <tr>
                                <td>骨骼肌指標(SMI)</td>
                                <td>@data.SMI骨骼肌指標</td>
                            </tr>
                            <tr>
                                <td>骨骼肌密度(SMD)</td>
                                <td>@data.SMD骨骼肌密度 (HU)</td>
                            </tr>
                            <tr>
                                <td>肌間/肌肉脂肪組織(IMAT)</td>
                                <td>@data.IMAT肌間肌肉脂肪組織 (平方公分)</td>
                            </tr>
                            <tr>
                                <td>低密度肌肉區域(LAMA)</td>
                                <td>@data.LAMA低密度肌肉區域 (平方公分)</td>
                            </tr>
                            <tr>
                                <td>正常密度肌肉區域(NAMA)</td>
                                <td>@data.NAMA正常密度肌肉區域 (平方公分)</td>
                            </tr>
                            <tr>
                                <td>肌肉脂肪變性(Myosteatosis)</td>
                                <td>@data.Myosteatosis肌肉脂肪變性 (平方公分)</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="right-panel">
                    <div class="scan-images">
                        <img src="UploadFiles/@patientData.臨床資訊.ImagePng" alt="CT掃描影像1" class="scan-image" />
                        <img src="UploadFiles/@data.ImagePng" alt="CT掃描影像2" class="scan-image" />
                    </div>
                </div>
            </div>
            <div>
                @if (string.IsNullOrEmpty(SignatureName))
                {
                    <button class="btn btn-primary" @onclick=OnSignAsync>簽名確認</button>
                }
                else
                {
                    <div>
                        <p>簽名者: @SignatureName</p>
                        <p>已經確認結果</p>
                        <p>簽名日期: @SignatureDate</p>
                    </div>
                }
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public string Code { get; set; }

    RiskAssessmentResult data = new RiskAssessmentResult();
    public string SignatureId { get; set; } = string.Empty;
    public string SignatureName { get; set; } = string.Empty;
    public string SignatureDate { get; set; } = string.Empty;
    PatientData patientData = new();
    PatientAdapterModel patientAdapterModel = new();
    MyUserAdapterModel myUserAdapterModel = new();
    bool hasRiskAssessment = false;

    protected override async Task OnInitializedAsync()
    {
        myUserAdapterModel = await AuthenticationStateHelper.GetUserInformation(authStateProvider);
        if (myUserAdapterModel != null)
        {
        }

        // Simulate fetching data from a service
        patientAdapterModel = await PatientService.GetAsync(Code);
        patientData.FromJson(patientAdapterModel.JsonData);
        InitData();
    }

    void InitData()
    {
        SignatureName = patientData.臨床資訊.SignatureName;
        SignatureDate = patientData.臨床資訊.SignatureDate;
        SignatureId = patientData.臨床資訊.SignatureId.ToString();

        data = patientData.臨床資訊.RiskAssessmentResult;

        if (data != null && string.IsNullOrEmpty(data.風險程度) == false)
        {
            hasRiskAssessment = true;
        }
        //data.Demo實驗組();

        // if (patientData.臨床資訊.SubjectNo == "NCKUH-E001")
        // {
        //     data.Demo實驗組();
        // }
        // else if (patientData.臨床資訊.SubjectNo == "NCKUH-C001")
        // {
        //     data.Demo對照組();
        // }
    }

    async Task OnSignAsync()
    {
        if (myUserAdapterModel != null && myUserAdapterModel.Id > 0)
        {
            patientData.臨床資訊.SignatureDate = DateTime.Now.ToString("yyyy/MM/dd HH:mm:ss");
            patientData.臨床資訊.SignatureId = myUserAdapterModel.Id;
            patientData.臨床資訊.SignatureName = myUserAdapterModel.Name;
            patientAdapterModel.JsonData = patientData.ToJson();
            await PatientService.UpdateAsync(patientAdapterModel);

            SignatureName = patientData.臨床資訊.SignatureName;
            SignatureDate = patientData.臨床資訊.SignatureDate;
            SignatureId = patientData.臨床資訊.SignatureId.ToString();
            return;
        }
    }

    void OnDemo()
    {
        if (data.ExperimentalControl == MagicObjectHelper.實驗組)
        {
            data.Demo對照組();
        }
        else if (data.ExperimentalControl == MagicObjectHelper.對照組)
        {
            data.Demo實驗組();
        }
    }
}