@using Syncfusion.Blazor
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars
@inject NavigationManager NavigationManager
@inject PatientService PatientService
@inject DropDownListDataService DropDownListDataService

<PageTitle>其他副作用</PageTitle>

<div>

    <div class="header">
        <div>
            <div class="d-flex align-items-start">
                <h1 style="margin: 0; flex-grow: 1;">其他副作用</h1>
            </div>
            <SubjectNoView PatientAdapterModel="@patientAdapterModel" />
        </div>
        <div>
            <span class="edit-icon d-flex align-items-center cursor-pointer"
                  @onclick="@(async () => await OnRefreshAsync())">
                <i class="mx-3 mdi mdi-18px mdi-refresh command-icon-width cursor-pointer"></i>更新
            </span>
        </div>
    </div>

    <div class="visit-code-container d-flex align-items-center">
        <div class="visit-info">Visit Code :</div>
        <div class="flex-grow-1">
            <SfDropDownList @ref="VisitCodeDropDown"
                            TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                            Placeholder="選擇一個值" DataSource="@ListVisitCode"
                            @bind-Value="@SelectVisitCode" class="w-100">
                <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                    ValueChange="@OnVisitCodeChanged"></DropDownListEvents>
            </SfDropDownList>
        </div>
    </div>

    @if (data != null)
    {
        <div class="">
            <!-- Left Table -->
            <div class="">
                <table>
                    <thead>
                        <tr>
                            <th class="w-10"></th>
                            <th class="w-15">Nausea<br />（噁心）</th>
                            <th class="w-15">Vomiting<br />（嘔吐）</th>
                            <th class="w-15">Mucositis oral<br />（口腔炎）</th>
                            <th class="w-15">Diarrhea<br />（拉肚子）</th>
                            <th class="w-15">Constipation<br />便秘</th>
                            <th class="w-15">食慾不振</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="grade-1">
                            <td class="w-10 ">grade 1</td>
                            <td class="w-15  @data.Nausea噁心.Grade1.ApplyCssClass">
                                @data.Nausea噁心.Grade1.Title
                            </td>
                            <td class="w-15  @data.Vomiting嘔吐.Grade1.ApplyCssClass">
                                @data.Vomiting嘔吐.Grade1.Title
                            </td>
                            <td class="w-15  @data.MucositisOral口腔炎.Grade1.ApplyCssClass">
                                @data.MucositisOral口腔炎.Grade1.Title
                            </td>
                            <td class="w-15  @data.Diarrhea拉肚子.Grade1.ApplyCssClass">
                                @data.Diarrhea拉肚子.Grade1.Title
                            </td>
                            <td class="w-15  @data.Constipation便秘.Grade1.ApplyCssClass">
                                @data.Constipation便秘.Grade1.Title
                            </td>
                            <td class="w-15  @data.Anorexia食慾不振.Grade1.ApplyCssClass">
                                @data.Anorexia食慾不振.Grade1.Title
                            </td>
                        </tr>

                        <tr class="grade-2">
                            <td class="w-10 ">grade 2</td>
                            <td class="w-15  @data.Nausea噁心.Grade2.ApplyCssClass">
                                @data.Nausea噁心.Grade2.Title
                            </td>
                            <td class="w-15  @data.Vomiting嘔吐.Grade2.ApplyCssClass">
                                @data.Vomiting嘔吐.Grade2.Title
                            </td>
                            <td class="w-15  @data.MucositisOral口腔炎.Grade2.ApplyCssClass">
                                @data.MucositisOral口腔炎.Grade2.Title
                            </td>
                            <td class="w-15  @data.Diarrhea拉肚子.Grade2.ApplyCssClass">
                                @data.Diarrhea拉肚子.Grade2.Title
                            </td>
                            <td class="w-15  @data.Constipation便秘.Grade2.ApplyCssClass">
                                @data.Constipation便秘.Grade2.Title
                            </td>
                            <td class="w-15  @data.Anorexia食慾不振.Grade2.ApplyCssClass">
                                @data.Anorexia食慾不振.Grade2.Title
                            </td>
                        </tr>

                        <tr class="grade-3">
                            <td class="w-10 ">grade 3</td>
                            <td class="w-15  @data.Nausea噁心.Grade3.ApplyCssClass">
                                @data.Nausea噁心.Grade3.Title
                            </td>
                            <td class="w-15  @data.Vomiting嘔吐.Grade3.ApplyCssClass">
                                @data.Vomiting嘔吐.Grade3.Title
                            </td>
                            <td class="w-15  @data.MucositisOral口腔炎.Grade3.ApplyCssClass">
                                @data.MucositisOral口腔炎.Grade3.Title
                            </td>
                            <td class="w-15  @data.Diarrhea拉肚子.Grade3.ApplyCssClass">
                                @data.Diarrhea拉肚子.Grade3.Title
                            </td>
                            <td class="w-15  @data.Constipation便秘.Grade3.ApplyCssClass">
                                @data.Constipation便秘.Grade3.Title
                            </td>
                            <td class="w-15  @data.Anorexia食慾不振.Grade3.ApplyCssClass">
                                @data.Anorexia食慾不振.Grade3.Title
                            </td>
                        </tr>

                        <tr class="grade-4">
                            <td class="w-10 ">grade 4</td>
                            <td class="w-15  @data.Nausea噁心.Grade4.ApplyCssClass">
                                @data.Nausea噁心.Grade4.Title
                            </td>
                            <td class="w-15  @data.Vomiting嘔吐.Grade4.ApplyCssClass">
                                @data.Vomiting嘔吐.Grade4.Title
                            </td>
                            <td class="w-15  @data.MucositisOral口腔炎.Grade4.ApplyCssClass">
                                @data.MucositisOral口腔炎.Grade4.Title
                            </td>
                            <td class="w-15  @data.Diarrhea拉肚子.Grade4.ApplyCssClass">
                                @data.Diarrhea拉肚子.Grade4.Title
                            </td>
                            <td class="w-15  @data.Constipation便秘.Grade4.ApplyCssClass">
                                @data.Constipation便秘.Grade4.Title
                            </td>
                            <td class="w-15  @data.Anorexia食慾不振.Grade4.ApplyCssClass">
                                @data.Anorexia食慾不振.Grade4.Title
                            </td>
                        </tr>

                        <tr class="grade-5">
                            <td class="w-10 ">grade 5</td>
                            <td class="w-15  @data.Nausea噁心.Grade5.ApplyCssClass">
                                @data.Nausea噁心.Grade5.Title
                            </td>
                            <td class="w-15  @data.Vomiting嘔吐.Grade5.ApplyCssClass">
                                @data.Vomiting嘔吐.Grade5.Title
                            </td>
                            <td class="w-15  @data.MucositisOral口腔炎.Grade5.ApplyCssClass">
                                @data.MucositisOral口腔炎.Grade5.Title
                            </td>
                            <td class="w-15  @data.Diarrhea拉肚子.Grade5.ApplyCssClass">
                                @data.Diarrhea拉肚子.Grade5.Title
                            </td>
                            <td class="w-15  @data.Constipation便秘.Grade5.ApplyCssClass">
                                @data.Constipation便秘.Grade5.Title
                            </td>
                            <td class="w-15  @data.Anorexia食慾不振.Grade5.ApplyCssClass">
                                @data.Anorexia食慾不振.Grade5.Title
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    }
</div>

<MessageBox Height="@MessageBox.Height" Width="@MessageBox.Width"
            IsVisible="@MessageBox.IsVisible"
            Title="@MessageBox.Title" Message="@MessageBox.Body"
            Callback="MessageBox.MessageDelegate" />

<ConfirmBox Height="@ConfirmMessageBox.Height" Width="@ConfirmMessageBox.Width"
            IsVisible="@ConfirmMessageBox.IsVisible"
            Title="@ConfirmMessageBox.Title" Message="@ConfirmMessageBox.Body"
            Callback="ConfirmMessageBox.ConfirmDelegate" />

<DialogBackground />

@code {

}
