@using Syncfusion.Blazor
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars
@inject NavigationManager NavigationManager
@inject PatientService PatientService
@inject DropDownListDataService DropDownListDataService

<PageTitle>其他副作用 2</PageTitle>

<div>

    <div class="header">
        <div>
            <div class="d-flex align-items-start">
                <h1 style="margin: 0; flex-grow: 1;">其他副作用 2</h1>
            </div>
            <SubjectNoView PatientAdapterModel="@patientAdapterModel" />
        </div>
        <div>
            <span class="edit-icon d-flex align-items-center cursor-pointer"
                  @onclick="@(async () => await OnRefreshAsync())">
                <i class="mx-3 mdi mdi-18px mdi-refresh command-icon-width cursor-pointer"></i>更新
            </span>
        </div>
    </div>

    <div class="visit-code-container d-flex align-items-center">
        <div class="visit-info">Visit Code :</div>
        <div class="flex-grow-1">
            <SfDropDownList @ref="VisitCodeDropDown"
                            TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                            Placeholder="選擇一個值" DataSource="@ListVisitCode"
                            @bind-Value="@SelectVisitCode" class="w-100">
                <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                    ValueChange="@OnVisitCodeChanged"></DropDownListEvents>
            </SfDropDownList>
        </div>
    </div>

    @if (data != null)
    {
        <div class="">
            <!-- Left Table -->
            <div class="">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>周邊感覺神經異常</th>
                            <th>疲倦</th>
                            <th>紅疹</th>
                            <th>手足症候群</th>
                            <th>掉髮</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="grade-1">
                            <td class="w-10 ">grade 1</td>
                            <td class="w-15  @data.PeripheralNeuropathy周邊感覺神經異常.Grade1.ApplyCssClass">
                                @data.PeripheralNeuropathy周邊感覺神經異常.Grade1.Title
                            </td>
                            <td class="w-15  @data.Fatigue疲倦.Grade1.ApplyCssClass">
                                @data.Fatigue疲倦.Grade1.Title
                            </td>
                            <td class="w-15  @data.SkinRash紅疹.Grade1.ApplyCssClass">
                                @data.SkinRash紅疹.Grade1.Title
                            </td>
                            <td class="w-15  @data.HandFootSyndrome手足症候群.Grade1.ApplyCssClass">
                                @data.HandFootSyndrome手足症候群.Grade1.Title
                            </td>
                            <td class="w-15  @data.Alopecia掉髮.Grade1.ApplyCssClass">
                                @data.Alopecia掉髮.Grade1.Title
                            </td>
                            <td class="w-15  ">
                            </td>
                        </tr>

                        <tr class="grade-2">
                            <td class="w-10 ">grade 2</td>
                            <td class="w-15  @data.PeripheralNeuropathy周邊感覺神經異常.Grade2.ApplyCssClass">
                                @data.PeripheralNeuropathy周邊感覺神經異常.Grade2.Title
                            </td>
                            <td class="w-15  @data.Fatigue疲倦.Grade2.ApplyCssClass">
                                @data.Fatigue疲倦.Grade2.Title
                            </td>
                            <td class="w-15  @data.SkinRash紅疹.Grade2.ApplyCssClass">
                                @data.SkinRash紅疹.Grade2.Title
                            </td>
                            <td class="w-15  @data.HandFootSyndrome手足症候群.Grade2.ApplyCssClass">
                                @data.HandFootSyndrome手足症候群.Grade2.Title
                            </td>
                            <td class="w-15  @data.Alopecia掉髮.Grade2.ApplyCssClass">
                                @data.Alopecia掉髮.Grade2.Title
                            </td>
                            <td class="w-15  ">
                            </td>
                        </tr>

                        <tr class="grade-3">
                            <td class="w-10 ">grade 3</td>
                            <td class="w-15  @data.PeripheralNeuropathy周邊感覺神經異常.Grade3.ApplyCssClass">
                                @data.PeripheralNeuropathy周邊感覺神經異常.Grade3.Title
                            </td>
                            <td class="w-15  @data.Fatigue疲倦.Grade3.ApplyCssClass">
                                @data.Fatigue疲倦.Grade3.Title
                            </td>
                            <td class="w-15  @data.SkinRash紅疹.Grade3.ApplyCssClass">
                                @data.SkinRash紅疹.Grade3.Title
                            </td>
                            <td class="w-15  @data.HandFootSyndrome手足症候群.Grade3.ApplyCssClass">
                                @data.HandFootSyndrome手足症候群.Grade3.Title
                            </td>
                            <td class="w-15  @data.Alopecia掉髮.Grade3.ApplyCssClass">
                                @data.Alopecia掉髮.Grade3.Title
                            </td>
                            <td class="w-15  ">
                            </td>
                        </tr>

                        <tr class="grade-4">
                            <td class="w-10 ">grade 4</td>
                            <td class="w-15  @data.PeripheralNeuropathy周邊感覺神經異常.Grade4.ApplyCssClass">
                                @data.PeripheralNeuropathy周邊感覺神經異常.Grade4.Title
                            </td>
                            <td class="w-15  @data.Fatigue疲倦.Grade4.ApplyCssClass">
                                @data.Fatigue疲倦.Grade4.Title
                            </td>
                            <td class="w-15  @data.SkinRash紅疹.Grade4.ApplyCssClass">
                                @data.SkinRash紅疹.Grade4.Title
                            </td>
                            <td class="w-15  @data.HandFootSyndrome手足症候群.Grade4.ApplyCssClass">
                                @data.HandFootSyndrome手足症候群.Grade4.Title
                            </td>
                            <td class="w-15  @data.Alopecia掉髮.Grade4.ApplyCssClass">
                                @data.Alopecia掉髮.Grade4.Title
                            </td>
                            <td class="w-15  ">
                            </td>
                        </tr>

                        <tr class="grade-5">
                            <td class="w-10 ">grade 5</td>
                            <td class="w-15  @data.PeripheralNeuropathy周邊感覺神經異常.Grade5.ApplyCssClass">
                                @data.PeripheralNeuropathy周邊感覺神經異常.Grade5.Title
                            </td>
                            <td class="w-15  @data.Fatigue疲倦.Grade5.ApplyCssClass">
                                @data.Fatigue疲倦.Grade5.Title
                            </td>
                            <td class="w-15  @data.SkinRash紅疹.Grade5.ApplyCssClass">
                                @data.SkinRash紅疹.Grade5.Title
                            </td>
                            <td class="w-15  @data.HandFootSyndrome手足症候群.Grade5.ApplyCssClass">
                                @data.HandFootSyndrome手足症候群.Grade5.Title
                            </td>
                            <td class="w-15  @data.Alopecia掉髮.Grade5.ApplyCssClass">
                                @data.Alopecia掉髮.Grade5.Title
                            </td>
                            <td class="w-15  ">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>

<MessageBox Height="@MessageBox.Height" Width="@MessageBox.Width"
            IsVisible="@MessageBox.IsVisible"
            Title="@MessageBox.Title" Message="@MessageBox.Body"
            Callback="MessageBox.MessageDelegate" />

<ConfirmBox Height="@ConfirmMessageBox.Height" Width="@ConfirmMessageBox.Width"
            IsVisible="@ConfirmMessageBox.IsVisible"
            Title="@ConfirmMessageBox.Title" Message="@ConfirmMessageBox.Body"
            Callback="ConfirmMessageBox.ConfirmDelegate" />

<DialogBackground />

@code {

}
