@using Syncfusion.Blazor
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars
@inject NavigationManager NavigationManager
@inject PatientService PatientService
@inject DropDownListDataService DropDownListDataService
@inject SurveyService SurveyService

@inject OperationHistoryTraceService OperationHistoryTraceService
@inject AuthenticationStateHelper AuthenticationStateHelper
@inject AuthenticationStateProvider authStateProvider
@inject SurveyService SurveyService
@inject SurveyTabDisplayHelper SurveyTabDisplayHelper
@inject VisitCodeCollectionHelper VisitCodeCollectionHelper
@using Newtonsoft.Json

<PageTitle>問卷 WHOQOL 問卷</PageTitle>

<div>

    <div class="header">
        <div>
            <div class="d-flex align-items-start">
                <h1 style="margin: 0; flex-grow: 1;">問卷 WHOQOL 問卷</h1>
            </div>
            <SubjectNoView PatientAdapterModel="@patientAdapterModel" />
        </div>
        <div class="buttons">
        </div>
    </div>

    <div class="visit-code-container d-flex align-items-center">
        <div class="visit-info">Visit Code :</div>
        <div class="flex-grow-1">
            <SfDropDownList @ref="VisitCodeDropDown"
                            TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                            Placeholder="選擇一個值" DataSource="@ListVisitCode"
                            @bind-Value="@SelectVisitCode" class="w-100">
                <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                <DropDownListEvents TItem="DropDownListDataModel" TValue="DropDownListDataModel"
                                    ValueChange="@OnVisitCodeChanged"></DropDownListEvents>
            </SfDropDownList>
        </div>
    </div>

    @if (data != null)
    {
        <div class="view-container">
        <div class="">
            @foreach (var item in data.Questions)
            {
                if (item.IsVisible == false)
                {
                    continue;
                }

                <div class="card my-4">
                    <div class="card-header">
                        <h3><span>@item.Id </span>@item.Text</h3>
                    </div>
                    <div class="card-body">
                        @if (item.Options != null && item.Options.Count>0)
                        {
                            foreach (var itemOption in item.Options)
                            {
                                string title = $"{itemOption.Value} {itemOption.Label}";

                                <div @onclick="() =>
                                    OnOptionChange(item, item.Options, itemOption)">
                                    <span class="mx-3 mdi mdi-24px @itemOption.CheckBoxIcon command-icon-width cursor-pointer"
                                    ></span>
                                    <span class="card-text my-2 cursor-pointer">@title</span>
                                </div>
                            }

                            <div>@item.Answer</div>
                        }
                        else
                        {
                            <SfTextBox @bind-Value="item.Answer" />
                        }
                    </div>
                </div>
                <div>
                </div>
            }
        
        </div>
        <div>
            <button type="button" class="btn btn-primary" @onclick=OnSaveAsync>儲存</button>
        </div>
    </div>
    }
</div>

<MessageBox Height="@MessageBox.Height" Width="@MessageBox.Width"
            IsVisible="@MessageBox.IsVisible"
            Title="@MessageBox.Title" Message="@MessageBox.Body"
            Callback="MessageBox.MessageDelegate" />

<ConfirmBox Height="@ConfirmMessageBox.Height" Width="@ConfirmMessageBox.Width"
            IsVisible="@ConfirmMessageBox.IsVisible"
            Title="@ConfirmMessageBox.Title" Message="@ConfirmMessageBox.Body"
            Callback="ConfirmMessageBox.ConfirmDelegate" />

<DialogBackground />

@code {
}
