@page "/BasicClinical1/{code}"
@using Newtonsoft.Json
@using CTMS.Share.Helpers
@layout EmptyLayout
@inject UploadFileService UploadFileService
@inject NavigationManager NavigationManager
@inject ExcleService ExcleService

@inject NavigationManager NavigationManager
@inject CurrentUserService CurrentUserService
@inject AuthenticationStateHelper AuthenticationStateHelper
@inject AuthenticationStateProvider authStateProvider
@inject BrowseAthleteService BrowseAthleteService
@inject CurrentAthleteExamine CurrentAthleteExamine

<PageTitle>主頁</PageTitle>

@if (string.IsNullOrEmpty(RoleMessage) == false)
{
    <div class="alert alert-danger" role="alert">
        @RoleMessage
    </div>
}
else
{
    <div>
        <div class="back-button-container">
            <button class="back-btn" @onclick=OnBack>&lt; 上頁</button>
            @* <a href="/" class="back-btn"><i class="bi bi-arrow-left"></i> 返回上頁</a> *@
            @* <span class="page-title">Basic clinical presentation 臨床資訊</span> *@
        </div>
    </div>

    <div class="mw-100">
        <div class="container-custom">
            <BasicClinicalView Code=@Code />
        </div>
    </div>
}

<MessageBox Height="@MessageBox.Height" Width="@MessageBox.Width"
            IsVisible="@MessageBox.IsVisible"
            Title="@MessageBox.Title" Message="@MessageBox.Body"
            Callback="MessageBox.MessageDelegate" />

<ConfirmBox Height="@ConfirmMessageBox.Height" Width="@ConfirmMessageBox.Width"
            IsVisible="@ConfirmMessageBox.IsVisible"
            Title="@ConfirmMessageBox.Title" Message="@ConfirmMessageBox.Body"
            Callback="ConfirmMessageBox.ConfirmDelegate" />

<DialogBackground />


@code {
    [Parameter]
    public string Code { get; set; }

    HomePageModel HomePageModel = new();
    string imagefile = "";

    ConfirmBoxModel ConfirmMessageBox { get; set; } = new ConfirmBoxModel();
    MessageBoxModel MessageBox { get; set; } = new MessageBoxModel();
    string RoleMessage = string.Empty;

    Athlete Athlete = new();
    NextGenerationSportsCTMSModel CTMSModel = new();
    List<FileListNodeModel> fileList = new List<FileListNodeModel>();


    protected override async Task OnInitializedAsync()
    {


        //     var checkResult = await AuthenticationStateHelper
        // .Check(authStateProvider, NavigationManager);
        //     if (checkResult == true)
        //     {
        //         if (AuthenticationStateHelper.CheckAccessPage(MagicObjectHelper.ROLE主頁) == false)
        //         {
        //             RoleMessage = MagicObjectHelper.你沒有權限存取此頁面;
        //         }
        //         else
        //         {
        //             Athlete = await BrowseAthleteService.GetByCodeAsync(Code, CurrentAthleteExamine);
        //             (CTMSModel, var fileList) = await BrowseAthleteService
        //             .GetCurrentDataAsync(Athlete, CurrentAthleteExamine);

        //             imagefile = FileListHelper.GetPhoto(fileList);
        //             // imagefile = Path.Combine(Directory.GetCurrentDirectory(), imagefile);
        //         }
        //     }

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
        }

        // Athlete = await BrowseAthleteService.GetByCodeAsync(Code, CurrentAthleteExamine);
        // (CTMSModel, var fileList) = await BrowseAthleteService
        // .GetCurrentDataAsync(Athlete, CurrentAthleteExamine);

        // imagefile = FileListHelper.GetPhoto(fileList);
        // HomePageModel = CTMSModel.Home首頁2;
        // StateHasChanged();
    }

    void OnBack()
    {
        NavigationManager.NavigateTo("/");
    }

    void OnDescription()
    {
        if (AuthenticationStateHelper.CheckAccessPage(MagicObjectHelper.ROLE主頁) == false)
        {
            var checkTask = ConfirmMessageBox.ShowAsync("400px", "200px", "警告",
                 MagicObjectHelper.你沒有權限存取此頁面, ConfirmMessageBox.HiddenAsync);
            return;
        }
        NavigationManager.NavigateTo($"/Description/{Code}", replace: true);
    }
}