@page "/Questionnaire/{code}"
@using CTMS.DataModel.Models.Systems
@using CTMS.Share.Helpers
@using Newtonsoft.Json
@layout EmptyLayout
@inject NavigationManager NavigationManager

@inject NavigationManager NavigationManager
@inject CurrentUserService CurrentUserService
@inject AuthenticationStateHelper AuthenticationStateHelper
@inject AuthenticationStateProvider authStateProvider

@using Microsoft.Extensions.Options
@inject IOptions<CTMSSettings> options

<PageTitle>問卷資料 儀錶板</PageTitle>

@if (string.IsNullOrEmpty(RoleMessage) == false)
{
    <div class="alert alert-danger" role="alert">
        @RoleMessage
    </div>
}
else
{
    <div>
        @{
            string backUri = $"/BasicClinical/{Code}";
        }
        <HeaderView BackUri=@backUri />

        <div class="page-body">
            <MudTabs PanelClass="pa-6">
                <MudTabPanel Text="生活品質問卷">
                    <WhooqolView Code="@Code" />
                </MudTabPanel>
            </MudTabs>
        </div>
    </div>
}

<MessageBox Height="@MessageBox.Height" Width="@MessageBox.Width"
            IsVisible="@MessageBox.IsVisible"
            Title="@MessageBox.Title" Message="@MessageBox.Body"
            Callback="MessageBox.MessageDelegate" />

<ConfirmBox Height="@ConfirmMessageBox.Height" Width="@ConfirmMessageBox.Width"
            IsVisible="@ConfirmMessageBox.IsVisible"
            Title="@ConfirmMessageBox.Title" Message="@ConfirmMessageBox.Body"
            Callback="ConfirmMessageBox.ConfirmDelegate" />

<DialogBackground />

@code {
    [Parameter]
    public string Code { get; set; }

    ConfirmBoxModel ConfirmMessageBox { get; set; } = new ConfirmBoxModel();
    MessageBoxModel MessageBox { get; set; } = new MessageBoxModel();
    string RoleMessage = string.Empty;

    protected override void OnInitialized()
    {
    }

    protected override async Task OnInitializedAsync()
    {
        var checkResult = await AuthenticationStateHelper
        .Check(authStateProvider, NavigationManager);
        if (checkResult == true)
        {
            if (AuthenticationStateHelper.CheckAccessPage(MagicObjectHelper.ROLE問卷) == false)
            {
                RoleMessage = MagicObjectHelper.你沒有權限存取此頁面;
            }
            else
            {
            }
        }
    }
    void OnBack()
    {
        NavigationManager.NavigateTo($"/BasicClinical/{Code}");
    }
}
