@page "/SurveyMobile/{code}"
@using CTMS.DataModel.Models.Systems
@using CTMS.Share.Helpers
@using Newtonsoft.Json
@layout EmptyLayout
@inject NavigationManager NavigationManager

@inject NavigationManager NavigationManager
@inject CurrentUserService CurrentUserService
@inject AuthenticationStateHelper AuthenticationStateHelper
@inject AuthenticationStateProvider authStateProvider

@using Microsoft.Extensions.Options
@inject IOptions<CTMSSettings> options

<PageTitle>問卷 儀錶板</PageTitle>

<div>
    @{
        string backUri = $"/BasicClinical/{Code}";
    }
    @* <HeaderView BackUri=@backUri CurrentUser=@CurrentUserService.CurrentUser /> *@

    <div class="page-body">
        <MudTabs PanelClass="pa-6">
            <MudTabPanel Text="化療副作用" Icon="@Icon化療副作用">
                <ChemotherapySideEffectsSurveyView Code="@Code" SurveyTabDisplayModelChanged="OnSurveyTabDisplayModelChanged" />
            </MudTabPanel>
            <MudTabPanel Text="標靶副作用" Icon="@Icon標靶副作用">
                <TargetedTherapySideEffectsView Code="@Code" SurveyTabDisplayModelChanged="OnSurveyTabDisplayModelChanged" />
            </MudTabPanel>
            <MudTabPanel Text="放療副作用" Icon="@Icon放療副作用">
                <RadiotherapySideEffectsView Code="@Code" SurveyTabDisplayModelChanged="OnSurveyTabDisplayModelChanged" />
            </MudTabPanel>
            <MudTabPanel Text="WHOQOL 問卷" Icon="@IconWHOQOL問卷">
                <WhoqolQuestionnaireView Code="@Code" SurveyTabDisplayModelChanged="OnSurveyTabDisplayModelChanged" />
            </MudTabPanel>
            <MudTabPanel Text="個人史" Icon="@Icon個人史">
                <PersonalHistorySurveyView Code="@Code" SurveyTabDisplayModelChanged="OnSurveyTabDisplayModelChanged" />
            </MudTabPanel>
            <MudTabPanel Text="家族史" Icon="@Icon家族史">
                <FamilyHistorySurveyView Code="@Code" SurveyTabDisplayModelChanged="OnSurveyTabDisplayModelChanged" />
            </MudTabPanel>
            <MudTabPanel Text="生活品質" Icon="@Icon生活品質">
                <QualityOfLifeSurveyView Code="@Code" SurveyTabDisplayModelChanged="OnSurveyTabDisplayModelChanged" />
            </MudTabPanel>
            <MudTabPanel Text="健康" Icon="@Icon健康">
                <HealthSurveyView Code="@Code" SurveyTabDisplayModelChanged="OnSurveyTabDisplayModelChanged" />
            </MudTabPanel>
        </MudTabs>
    </div>
</div>

<MessageBox Height="@MessageBox.Height" Width="@MessageBox.Width"
            IsVisible="@MessageBox.IsVisible"
            Title="@MessageBox.Title" Message="@MessageBox.Body"
            Callback="MessageBox.MessageDelegate" />

<ConfirmBox Height="@ConfirmMessageBox.Height" Width="@ConfirmMessageBox.Width"
            IsVisible="@ConfirmMessageBox.IsVisible"
            Title="@ConfirmMessageBox.Title" Message="@ConfirmMessageBox.Body"
            Callback="ConfirmMessageBox.ConfirmDelegate" />

<DialogBackground />

@code {
    [Parameter]
    public string Code { get; set; }

    ConfirmBoxModel ConfirmMessageBox { get; set; } = new ConfirmBoxModel();
    MessageBoxModel MessageBox { get; set; } = new MessageBoxModel();
    string RoleMessage = string.Empty;

    string Icon化療副作用 = string.Empty;
    string Icon標靶副作用 = string.Empty;
    string Icon放療副作用 = string.Empty;
    string IconWHOQOL問卷 = string.Empty;
    string Icon個人史 = string.Empty;
    string Icon家族史 = string.Empty;
    string Icon生活品質 = string.Empty;
    string Icon健康 = string.Empty;

    protected override void OnInitialized()
    {
        int foo = 1;
    }

    protected override async Task OnInitializedAsync()
    {
        // var checkResult = await AuthenticationStateHelper
        // .Check(authStateProvider, NavigationManager);
        // if (checkResult == true)
        // {
        //     if (AuthenticationStateHelper.CheckAccessPage(MagicObjectHelper.ROLE問卷) == false)
        //     {
        //         RoleMessage = MagicObjectHelper.你沒有權限存取此頁面;
        //     }
        //     else
        //     {
        //     }
        // }
    }
    void OnBack()
    {
        NavigationManager.NavigateTo($"/BasicClinical/{Code}");
    }

    private void OnSurveyTabDisplayModelChanged(SurveyTabDisplayModel args)
    {
        Icon化療副作用 = args.Items.FirstOrDefault(x => x.SurveyName == MagicObjectHelper.SurveyName化療副作用)?.CircleIcon;
        Icon標靶副作用 = args.Items.FirstOrDefault(x => x.SurveyName == MagicObjectHelper.SurveyName標靶副作用)?.CircleIcon;
        Icon放療副作用 = args.Items.FirstOrDefault(x => x.SurveyName == MagicObjectHelper.SurveyName放療副作用)?.CircleIcon;
        IconWHOQOL問卷 = args.Items.FirstOrDefault(x => x.SurveyName == MagicObjectHelper.SurveyNameWHOQOL問卷)?.CircleIcon;
        Icon個人史 = args.Items.FirstOrDefault(x => x.SurveyName == MagicObjectHelper.SurveyName個人史)?.CircleIcon;
        Icon家族史 = args.Items.FirstOrDefault(x => x.SurveyName == MagicObjectHelper.SurveyName家族史)?.CircleIcon;
        Icon生活品質 = args.Items.FirstOrDefault(x => x.SurveyName == MagicObjectHelper.SurveyName生活品質)?.CircleIcon;
        Icon健康 = args.Items.FirstOrDefault(x => x.SurveyName == MagicObjectHelper.SurveyName健康)?.CircleIcon;
    }
}
