@using Syncfusion.Blazor
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars
@inject NavigationManager NavigationManager
@inject DropDownListDataService DropDownListDataService

<SfDialog @bind-Visible="@OpenPicker" IsModal="true"
          Width="30%" Height="40%" >
    <DialogTemplates>
        <Header>@DialogTitle</Header>
        <Content>

            <div class="visit-code-dialog">
                <SfDropDownList TValue="DropDownListDataModel" TItem="DropDownListDataModel"
                                Placeholder="請選擇醫院名稱" DataSource="@List院別"
                                @bind-Value="@Select院別" class="flex-grow-1">
                    <DropDownListFieldSettings Value="Key" Text="Name"></DropDownListFieldSettings>
                    
                </SfDropDownList>

                <div style="margin-top: 16px;">
                    <label style="display: block; margin-bottom: 8px;">收案日期</label>
                    <SfDatePicker TValue="DateTime" Placeholder="請選擇收案日期"
                                  @bind-Value="@Select收案日期" class="flex-grow-1">
                    </SfDatePicker>
                </div>
            </div>

        </Content>
        <FooterTemplate>
            <SfButton @onclick="@OnPickerOK" CssClass='e-primary'>確認</SfButton>
            <SfButton @onclick="@OnPickerCancel" CssClass='e-secondary'>取消</SfButton>
        </FooterTemplate>
    </DialogTemplates>
    <DialogPositionData X="center" Y="center"></DialogPositionData>
</SfDialog>

<MessageBox Height="@MessageBox.Height" Width="@MessageBox.Width"
            IsVisible="@MessageBox.IsVisible"
            Title="@MessageBox.Title" Message="@MessageBox.Body"
            Callback="MessageBox.MessageDelegate" />

<ConfirmBox Height="@ConfirmMessageBox.Height" Width="@ConfirmMessageBox.Width"
            IsVisible="@ConfirmMessageBox.IsVisible"
            Title="@ConfirmMessageBox.Title" Message="@ConfirmMessageBox.Body"
            Callback="ConfirmMessageBox.ConfirmDelegate" />

<DialogBackground />

@code {

}