@using Newtonsoft.Json
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars
@inject NavigationManager NavigationManager
@inject PatientService PatientService

@inject OperationHistoryTraceService OperationHistoryTraceService
@inject AuthenticationStateHelper AuthenticationStateHelper
@inject AuthenticationStateProvider authStateProvider

<SfDialog @bind-Visible="@OpenPicker" IsModal="true"
          Width="95%" Height="100%" CssClass="dialogSize">
    <DialogTemplates>
        <Header>@DialogTitle</Header>
        <Content>

            <div class="visit-code-dialog">
                <div class="add-button" @onclick=OnShowVisitCodeEditor>新增</div>

                @foreach (var itemVisitCode in data.VisitCodes)
                {
                    var visitCodeSetNodeModel = data.GetVisitCodeSetNodeModel(itemVisitCode);
                    var expanded = data.GetExpanded(itemVisitCode);
                    <div class="visit-section">
                        <div class="visit-header">
                            <div @onclick="() => ToggleExpanded(itemVisitCode)">
                                <span class="toggle-icon">@((expanded) ? "▼" : "▶")</span>
                                <span class="visit-title">@itemVisitCode.GetVisitCodeTitle()</span>
                            </div>
                            <button class="btn-edit" 
                            @onclick="async () =>await OnEditVisitCodeAsync(itemVisitCode)">修改</button>
                            <button class="btn-delete"
                            @onclick="async () => await OnDeleteVisitCodeAsync(itemVisitCode)">刪除</button>
                        </div>

                        @if (expanded)
                        {
                            <div class="visit-content">
                                <div class="item-header">
                                    <span class="toggle-icon">▼</span>
                                    <span class="item-title">臨床資料</span>
                                </div>
                                <div class="sub-items">
                                    <div class="sub-item-header">
                                        <span class="toggle-icon">►</span>
                                        <SfCheckBox @bind-Checked="@visitCodeSetNodeModel.Checked臨床資料手術" />
                                        <span class="sub-item-title">@DataTabeEnums.臨床資料手術.ToString()</span>
                                    </div>
                                    <div class="sub-item-header">
                                        <span class="toggle-icon">►</span>
                                        <SfCheckBox @bind-Checked="@visitCodeSetNodeModel.Checked臨床資料病理報告" />
                                        <span class="sub-item-title">@DataTabeEnums.臨床資料病理報告.ToString()</span>
                                    </div>
                                    <div class="sub-item-header">
                                        <span class="toggle-icon">►</span>
                                        <SfCheckBox @bind-Checked="@visitCodeSetNodeModel.Checked臨床資料化學治療" />
                                        <span class="sub-item-title">@DataTabeEnums.臨床資料化學治療.ToString()</span>
                                    </div>
                                    <div class="sub-item-header">
                                        <span class="toggle-icon">►</span>
                                        <SfCheckBox @bind-Checked="@visitCodeSetNodeModel.Checked臨床資料合併用藥" />
                                        <span class="sub-item-title">@DataTabeEnums.臨床資料合併用藥.ToString()</span>
                                    </div>
                                    <div class="sub-item-header">
                                        <span class="toggle-icon">►</span>
                                        <SfCheckBox @bind-Checked="@visitCodeSetNodeModel.CheckedBaselineMedicalHistoryForm" />
                                        <span class="sub-item-title">@DataTabeEnums.BaselineMedicalHistoryForm.ToString()</span>
                                    </div>
                                </div>
                            </div>
                            <div class="visit-content">
                                <div class="item-header">
                                    <span class="toggle-icon">▼</span>
                                    <span class="item-title">抽血資料</span>
                                </div>
                                <div class="sub-items">
                                    <div class="sub-item-header">
                                        <span class="toggle-icon">►</span>
                                        <SfCheckBox @bind-Checked="@visitCodeSetNodeModel.Checked抽血檢驗血液" />
                                        <span class="sub-item-title">@DataTabeEnums.抽血檢驗血液.ToString()</span>
                                    </div>
                                    <div class="sub-item-header">
                                        <span class="toggle-icon">►</span>
                                        <SfCheckBox @bind-Checked="@visitCodeSetNodeModel.Checked抽血檢驗生化" />
                                        <span class="sub-item-title">@DataTabeEnums.抽血檢驗生化.ToString()</span>
                                    </div>
                                </div>
                            </div>
                            <div class="visit-content">
                                <div class="item-header">
                                    <span class="toggle-icon">▼</span>
                                    <span class="item-title">問卷</span>
                                </div>
                                <div class="sub-items">
                                    <div class="sub-item-header">
                                        <span class="toggle-icon">►</span>
                                        <SfCheckBox @bind-Checked="@visitCodeSetNodeModel.CheckedSurvey化療副作用" />
                                        <span class="sub-item-title">@DataTabeEnums.Survey化療副作用.ToString()</span>
                                    </div>
                                    <div class="sub-item-header">
                                        <span class="toggle-icon">►</span>
                                        <SfCheckBox @bind-Checked="@visitCodeSetNodeModel.CheckedSurvey標靶副作用" />
                                        <span class="sub-item-title">@DataTabeEnums.Survey標靶副作用.ToString()</span>
                                    </div>
                                    <div class="sub-item-header">
                                        <span class="toggle-icon">►</span>
                                        <SfCheckBox @bind-Checked="@visitCodeSetNodeModel.CheckedSurvey放療副作用" />
                                        <span class="sub-item-title">@DataTabeEnums.Survey放療副作用.ToString()</span>
                                    </div>
                                    <div class="sub-item-header">
                                        <span class="toggle-icon">►</span>
                                        <SfCheckBox @bind-Checked="@visitCodeSetNodeModel.CheckedSurveyWhooqol問卷" />
                                        <span class="sub-item-title">@DataTabeEnums.SurveyWhooqol問卷.ToString()</span>
                                    </div>
                                    <div class="sub-item-header">
                                        <span class="toggle-icon">►</span>
                                        <SfCheckBox @bind-Checked="@visitCodeSetNodeModel.CheckedSurvey個人史問卷" />
                                        <span class="sub-item-title">@DataTabeEnums.Survey個人史問卷.ToString()</span>
                                    </div>
                                    <div class="sub-item-header">
                                        <span class="toggle-icon">►</span>
                                        <SfCheckBox @bind-Checked="@visitCodeSetNodeModel.CheckedSurvey家族史問卷" />
                                        <span class="sub-item-title">@DataTabeEnums.Survey家族史問卷.ToString()</span>
                                    </div>
                                </div>
                            </div>
                            <div class="visit-content">
                                <div class="item-header">
                                    <span class="toggle-icon">▼</span>
                                    <span class="item-title">副作用</span>
                                </div>
                                <div class="sub-items">
                                    <div class="sub-item-header">
                                        <span class="toggle-icon">►</span>
                                        <SfCheckBox @bind-Checked="@visitCodeSetNodeModel.CheckedHematologicSideEffects血液副作用" />
                                        <span class="sub-item-title">@DataTabeEnums.HematologicSideEffects血液副作用.ToString()</span>
                                    </div>
                                    <div class="sub-item-header">
                                        <span class="toggle-icon">►</span>
                                        <SfCheckBox @bind-Checked="@visitCodeSetNodeModel.CheckedSurveySideEffects副作用1" />
                                        <span class="sub-item-title">@DataTabeEnums.SurveySideEffects副作用1.ToString()</span>
                                    </div>
                                    <div class="sub-item-header">
                                        <span class="toggle-icon">►</span>
                                        <SfCheckBox @bind-Checked="@visitCodeSetNodeModel.CheckedSurveySideEffects副作用2" />
                                        <span class="sub-item-title">@DataTabeEnums.SurveySideEffects副作用2.ToString()</span>
                                    </div>
                                </div>
                            </div>
                            <div class="visit-content">
                                <div class="item-header">
                                    <span class="toggle-icon">▼</span>
                                    <span class="item-title">追蹤資料</span>
                                </div>
                                <div class="sub-items">
                                    <div class="sub-item-header">
                                        <span class="toggle-icon">►</span>
                                        <SfCheckBox @bind-Checked="@visitCodeSetNodeModel.Checked其他治療" />
                                        <span class="sub-item-title">@DataTabeEnums.其他治療.ToString()</span>
                                    </div>
                                    <div class="sub-item-header">
                                        <span class="toggle-icon">►</span>
                                        <SfCheckBox @bind-Checked="@visitCodeSetNodeModel.Checked其他治療藥物" />
                                        <span class="sub-item-title">@DataTabeEnums.其他治療藥物.ToString()</span>
                                    </div>
                                    <div class="sub-item-header">
                                        <span class="toggle-icon">►</span>
                                        <SfCheckBox @bind-Checked="@visitCodeSetNodeModel.Checked其他治療影像" />
                                        <span class="sub-item-title">@DataTabeEnums.其他治療影像.ToString()</span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>

        </Content>
        <FooterTemplate>
            <SfButton @onclick="@OnPickerOK" CssClass='e-primary'>確認</SfButton>
            <SfButton @onclick="@OnPickerCancel" CssClass='e-secondary'>取消</SfButton>
        </FooterTemplate>
    </DialogTemplates>
    <DialogPositionData X="center" Y="center"></DialogPositionData>
</SfDialog>

<VisitCodeAssessmentDateDialog OpenPicker=ShowVisitCodeEditorDialog
                               data=VisitCode
                               OnConfirmCallback=OnVisiteCodeEditorAsync />

<MessageBox Height="@MessageBox.Height" Width="@MessageBox.Width"
            IsVisible="@MessageBox.IsVisible"
            Title="@MessageBox.Title" Message="@MessageBox.Body"
            Callback="MessageBox.MessageDelegate" />

<ConfirmBox Height="@ConfirmMessageBox.Height" Width="@ConfirmMessageBox.Width"
            IsVisible="@ConfirmMessageBox.IsVisible"
            Title="@ConfirmMessageBox.Title" Message="@ConfirmMessageBox.Body"
            Callback="ConfirmMessageBox.ConfirmDelegate" />

<DialogBackground />

@code {
    [Parameter]
    public bool OpenPicker { get; set; } = false;
    [Parameter]
    public EventCallback<VisitCodeSetModel> OnConfirmCallback { get; set; }
    [Parameter]
    public VisitCodeSetModel data { get; set; }
    [Parameter]
    public string Code { get; set; }

    ConfirmBoxModel ConfirmMessageBox { get; set; } = new ConfirmBoxModel();
    MessageBoxModel MessageBox { get; set; } = new MessageBoxModel();

    string DialogTitle = "設定 Visit Code";
    public bool ShowMessageBox { get; set; } = false;
    public string MessageBoxBody { get; set; } = "";
    public string MessageBoxTitle { get; set; } = "";

    bool ShowVisitCodeEditorDialog = false;
    VisitCodeModel VisitCode = new();
    VisitCodeModel VisitCodeBackup = new();
    string VisitCodeMode = "";

    // List<VisitCodeModel> VisitCodes = new();
    PatientData patientData = new();
    PatientAdapterModel patientAdapterModel = new();

    bool editMode = false;
    string sourceObjectJson = "{}";
    string targetObjectJson = "{}";

    protected override async Task OnInitializedAsync()
    {
        await GetData();
    }

    async Task GetData()
    {
        patientAdapterModel = await PatientService.GetAsync(Code);
        patientData.FromJson(patientAdapterModel.JsonData);
    }

    async Task Init()
    {
        //patientData.臨床資料.CollectVisitCode(data);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
        }
    }

    async Task OnPickerOK()
    {
        if (data == null)
        {
            var checkTask = ConfirmMessageBox.ShowAsync("400px", "200px", "警告",
                 "沒有傳入任何 Protein 物件", ConfirmMessageBox.HiddenAsync);
            OpenPicker = false;
        }
        OpenPicker = false;
        await OnConfirmCallback.InvokeAsync(data);
    }

    async Task OnPickerCancel()
    {
        OpenPicker = false;
        await OnConfirmCallback.InvokeAsync(null);
    }

    async Task OnVisiteCodeEditorAsync(VisitCodeModel visitCodeModel)
    {
        if (visitCodeModel != null)
        {
            if (VisitCodeMode == "Edit")
            {
                await GetData();
                patientData.臨床資料.ReplaceVisitCode(VisitCodeBackup, visitCodeModel);

                patientData.SyncData();
                patientAdapterModel = await PatientService.GetAsync(Code);
                patientAdapterModel.JsonData = patientData.ToJson();

                await PatientService.UpdateAsync(patientAdapterModel);

                OpenPicker = false;
                await OnConfirmCallback.InvokeAsync(null);
            }
            else if (VisitCodeMode == "Add")
            {
                data.AddVisitCode(visitCodeModel);
            }
            else
            {
                // MessageBox.Show("未知的模式: " + VisitCodeMode, "錯誤");
                // return;
            }
        }
        ShowVisitCodeEditorDialog = false;
    }

    void OnShowVisitCodeEditor()
    {
        VisitCode = new();
        VisitCodeMode = "Add";
        ShowVisitCodeEditorDialog = true;
    }

    async Task OnEditVisitCodeAsync(VisitCodeModel itemVisitCode)
    {
        VisitCode = itemVisitCode; 
        VisitCodeBackup = itemVisitCode.Clone();
        VisitCodeMode = "Edit";
        ShowVisitCodeEditorDialog = true;
    }

    async Task OnDeleteVisitCodeAsync(VisitCodeModel itemVisitCode)
    {
        var confirmDelete = await ConfirmMessageBox.ShowAsync("400px", "200px",
        "警告", $"確定要刪除 Visit Code : {itemVisitCode.GetVisitCodeTitle()} 嗎？",
        ConfirmMessageBox.HiddenAsync);

        if (confirmDelete == true)
        {
            sourceObjectJson = JsonConvert.SerializeObject(data);
            await GetData();
            patientData.臨床資料.RemoveVisitCode(itemVisitCode);

            patientData.SyncData();
            patientAdapterModel = await PatientService.GetAsync(Code);
            patientAdapterModel.JsonData = patientData.ToJson();

            await PatientService.UpdateAsync(patientAdapterModel);

            VisitCodeSetModel VisitCodeSetModel = new();
            patientData.臨床資料.CollectVisitCode(VisitCodeSetModel);
            targetObjectJson = JsonConvert.SerializeObject(VisitCodeSetModel);

            #region 更新操作日誌
            MyUserAdapterModel myUserAdapterModel = await AuthenticationStateHelper
            .GetUserInformation(authStateProvider);

            await OperationHistoryTraceService.AddAsync(OperationHistoryTraceAdapterModel.Build(myUserAdapterModel.Name, MagicObjectHelper.OperationCategoryVisitCode, "-", "-"), sourceObjectJson, targetObjectJson, MagicObjectHelper.OperationCategoryVisitCode);
            #endregion

            OpenPicker = false;
            await OnConfirmCallback.InvokeAsync(null);
        }
        else
        {
            // 使用者取消刪除操作
        }

    }

    void ToggleExpanded(VisitCodeModel itemVisitCode)
    {
        data.ToggleExpanded(itemVisitCode);
    }
}